[2018-02-25 11:16] stefankoegl commented on #591
@relevitt, the way forward can only be to convince the maintainers of these packages to support Python 3, and *not* to convince everyone to stay on Python 2.

[ndg](https://pypi.python.org/pypi/ndg) had its last release in 2013, and seems to be unmaintained. If that's the case, you'll need to replace it anyway.
pygtk - see https://askubuntu.com/a/97107
[definitions](https://pypi.python.org/pypi/de

[2018-02-25 11:32] ghcs27 commented on #591
- Regarding ndg: If you are using [ndg-httpsclient](https://pypi.python.org/pypi/ndg-httpsclient): There is a python 3 compatible version.
- Regarding sets and definitions: The set and frozenset types are builtins now ([stackoverflow](https://stackoverflow.com/questions/12028204/python-cant-import-set-from-sets-no-module-named-sets)). If you don't use definitions directly, then that's solved too.

[2018-02-25 11:35] stefankoegl commented on #591
Also I'd like to add that wer're not talking about immediate removal of Python 2.7 support. My suggested timeline would remove support only in 2020.

[2018-02-25 15:09] stefankoegl commented on #524
I've just updated the documentation for the release procedure in ef0f17da4c65988de92a2df1abcbdc11a82f9255.

[2018-02-25 15:09] #524 closed

[2018-02-25 15:52] stefankoegl commented on #366
My understanding is that #367 has resolved this issue. Is this correct? Can we close the issue?

[2018-02-25 15:56] stefankoegl commented on #581
Done

What procedure do you have in mind for that?

[2018-02-25 16:48] ghcs27 commented on #366
It should. Please reopen if warnings are still raised.

[2018-02-25 16:48] #366 closed

[2018-02-26 07:22] KennethNielsen opened #595 "Help porting ??? to Python 3"
This issue is branched of from #591 and started with this message from @relevitt

followed up by these messages:

@ghcs27

@stefankoegl

@ghcs27

[2018-02-26 07:24] KennethNielsen commented on #591
@relevitt @stefankoegl @ghcs27 might I suggest moving this to a different issue. I don't mind helping out with it and I think it is ok to have this discussion in a SoCo issue, but I would prefer to keep this issue for just the Python 2.7 deprecation issue.

EDIT. Moved to #595 @relevitt please fill in with relevant details there.

[2018-02-26 07:28] KennethNielsen commented on #591
@robwebset how are things in the Kodi world these days? (Note for others; @robwebset maintains a plugin for Kodi and Kodi's support of newer Python versions has also historically been slow to progress)

[2018-02-26 07:37] KennethNielsen commented on #591
With regards to the procedure, I would like to move faster, but I also want to get feedback from library users.

# Deprecate now, maintain until users that report in are done porting (or Python end-of-life at the latest) except for new functionality

* deprecate support for 2.7 with the next release
* collect and keep track of porting issues of users and plan to remove support entirely when they a

[2018-02-26 07:44] KennethNielsen commented on #595
For xmmsclient https://github.com/randomshinichi/xmmsclient might do the job. Maybe he could be convinced to do a release on PyPI.

[2018-02-26 07:54] KennethNielsen commented on #595
With regards to PyGTK (which is Python 2 only), besides from the thread linked to already, there originally was he problem, that GNOME went with a new binding effort called gi.repository, which included Python 3 support but originally no Windows support. That however seems to be coming together: https://stackoverflow.com/questions/12981137/gi-repository-windows

[2018-02-26 07:58] robwebset commented on #591
Hi @KennethNielsen The Sonos Kodi addon is currently using 0.13 with a patch for #539 - so should be 100% python 2.7 compatible now - I haven't had any reports of this version causing any issues, so I think all is good.
Thanks, Rob

[2018-02-26 08:00] robwebset commented on #591
@KennethNielsen I believe there are also plans for Kodi to support python 3 soon(ish) but I don't know how reliable that is, but I believe they were hoping for v18 of Kodi to support it.

[2018-02-26 08:08] KennethNielsen commented on #591
@robwebset ok, I guess what I was asking about was more the issues we had with Python 2.6, If I remember it correctly, Kodi has different supported version on different platforms, of which one of them had gotten stuck on Python 2.6. So I guess the questions is, if at some point in the future, you want to move to a newer SoCo, does Kodi support Python 3 all over. Can you comment on the time-line of

[2018-02-26 08:16] robwebset commented on #591
@KennethNielsen The current Sonos Addon (v100.2.2) will require Kodi version v17 (as that is the version with Python 2.7 support), users on earlier Kodi versions (with Python 2.6 Support) will use the Sonos Addon (v100.2.1) and wil not be able to update the addon until they adopt the v17 Kodi.

No idea of the v18 time line, as things stand there is no Python 3 support at all, but they are hoping t

[2018-02-28 08:22] amelchio opened #599 "Unable to upgrade data structure for DidlFavorite"
Home Assistant recently implemented SoCo 0.14 and now issues about this warning are being reported. I have been unable to reproduce it myself so far but maybe you don't need a testcase to figure out what is happening?

[2018-02-28 10:29] KennethNielsen commented on #599
I will fix this along with the other fix to data_structure_upgrade

2018-02-28 9:22 GMT+01:00 Anders Melchiorsen <notifications@github.com>:

[2018-02-28 11:52] relevitt commented on #595
@KennethNielsen @stefankoegl @ghcs27 Thank you for your tips and suggestions.

I was already running soco modules in separate subprocesses with communication between those subprocesses and my main app being handled by a TCP/IP line receiver. Other potentially blocking processes are also handled in this way. It turned out to be reasonably trivial to port these subprocesses to python 3.

I started t

[2018-03-01 08:01] KennethNielsen commented on #595
@relevitt what about the unofficial Python 3 port of xmms I linked to. If that works, and the license is liberal enough, you might just include it in your codebase, to get around it not being release on PyPI.

[2018-03-01 10:06] relevitt commented on #595
@KennethNielsen I installed the unofficial Python 3 port of xmmsclient, but the attempt to import it under python 3 failed.

Normally, I'd try to get to the bottom of the problem and try to fix it, but most of the xmmsclient code consists of .c files supplying C bindings. To install the module, you need to compile the .c files. This in turn requires you have the correct C headers and development l

[2018-03-03 14:07] KennethNielsen commented on #595
@relevitt understandable. It would of course also be preferred that the original project would make an effort to port to Python 3. You can always make an issue. That can't hurt.

On a side note. Regarding pickle and serialization. Adding serialization methods to various SoCo data structure would be very acceptable. We just decided not to add them until someone asked for it.

[2018-03-03 14:07] KennethNielsen commented on #595
I guess this is closed for now then. Re-open if you wish further help to push forward.

[2018-03-03 14:07] #595 closed

[2018-03-06 17:47] relevitt commented on #578
#602

- Allow the user a choice in how the event listener is implemented. The default is for the event listener to use the requests library and run in a thread. This update allows the user to run the event listener using the twisted.internet library, by setting the config.EVENTS_MODULE module to point to the events_twisted module. See the example in events_twisted.

- Stop the event listener when

[2018-03-09 11:03] BerraKode opened #603 "Status light not possible to change?"
I read that you should be able to manually change the status of the led light on top of the speakers.
But all I can do is get the status of the light, not change it. Has this function been removed or am I missing something?

Best regz

BerraKode

[2018-03-09 12:15] KennethNielsen commented on #603
How did you try to change it?

[2018-03-09 13:42] BerraKode commented on #603
I can get the status with "status_light" but status_light(True) generate an error. I have seen this should be possible in the documentation from some older version

[2018-03-09 13:54] DPH commented on #603
Hi @BerraKode ,
status_light is a property so use
[code]
Cheers David

[2018-03-09 14:13] BerraKode commented on #603
Ahh thanks!

[2018-03-11 09:29] #603 closed

[2018-03-14 15:20] KennethNielsen commented on #591
An update from Guido. Python 2.7 EOL is januar 1., 2020.
https://mail.python.org/pipermail/python-dev/2018-March/152348.html

[2018-03-24 14:29] pfischi opened #607 "Error messages"
Hi all,

with the current version  some errors are thrown:

`2018-03-24 15:26:07 DEBUG    connectionpool Thread-467   http://192.168.178.77:1400 "POST /DeviceProperties/Control HTTP/1.1" 200 296 -- connectionpool.py:_make_request:396
Exception ignored in: <generator object iter_slices at 0x7fecf56abe08>
Traceback (most recent call last):
  File "/usr/lib/python3.6/site-packages/requests/utils.py",

[2018-03-24 20:21] ghcs27 commented on #607
Strange, but no file from the SoCo shows up in the traceback, so we've got no clue where the bug is (or even if it is in our code at all).
It seems like some C code, called by requests and urllib, returns a non-zero exit code.
Specifically, the third party module, interfacing with the Python C API returned an incorrect result, reporting an exception should have been raised, but did not tell Python

[2018-03-24 22:50] slzatz commented on #535
Thanks for the responses- good to know there are a couple of options to fix the issue.

[2018-03-27 21:15] LETRA opened #608 ""Error in workflow hu.fns.soco_alfred""
Good night. I don't know what's wrong here and Google doesn't find anything. Any help?

[2018-03-28 04:57] ghcs27 commented on #608
Is there any traceback? What code do you use to call SoCo?
This message seems to come from another part of your program, so it is of no use to us.

[2018-03-28 08:45] LETRA commented on #608
It's a call from the Sonos workflow for Alfred. The message appears when I enter the scs command.

[2018-03-28 12:03] ghcs27 commented on #608
I'm sorry, you'll have to ask the maintainers of "Sonos workflow for Alfred". We have no information about their code.

If they can't help you, try installing an older version of SoCo, probably 0.12 has the best chance of working.

[2018-03-28 12:42] #608 closed

[2018-03-29 08:52] Psychokiller1888 opened #610 "Reload list song title"
Hello!

Thank you for this wonderful API!

I'm using it in conjuction with Snips which is a voice assistant that runs offline. I'm using my Sonos for it to speak to me

When my Sonos is playing something, I pause the music, record the playlist, record the track number playing, the position in track, delete the list, play the audio file the containingg my assistant's answer and then repush the play

[2018-03-29 10:21] DPH commented on #610
Hi @Psychokiller1888
restoring playlist does appear to loose the correct titles - I think this has always been the case.

However to play a voice announcement you don't need to remove the playlist, you can just play the voice file then re-instate playing from the playlist.
SoCo has a snapshot feature that handles a lot of this for you.
See the examples https://github.com/SoCo/SoCo/blob/master/exam

[2018-03-29 10:31] Psychokiller1888 commented on #610
I tried the snapshot approach at first, and was blocked by I don't remember what. I'm gonna give it a try again just now, so I know what the problem was. I think I couldn't play the sound file from the samba server on my raspberry

[2018-03-29 10:48] Psychokiller1888 commented on #610
@DHP

Ok, I tried snapshot again, and discovered that I had to use x-file-cifs://ip/file.mp3 to play the file on my raspberry samba server. Playing it while sonos is playing something else goes fine but restoring fails:

Exception in thread Thread-2:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7

[2018-03-29 11:00] Psychokiller1888 commented on #610
Thank you for making me try snapshot again!

[2018-03-29 11:00] #610 closed

[2018-03-29 11:45] DPH commented on #610
Hi, does snapshot now work or is restore still failing?
Cheers David

[2018-03-29 11:46] Psychokiller1888 commented on #610
It works, the error was me not taking the snapshot before trying to restore it... Kept the original message for history

[2018-03-29 11:49] DPH commented on #610
Great - have fun with it
Cheers David

[2018-03-30 16:47] #525 closed

[2018-03-30 16:47] stefankoegl commented on #578
*  Dropped support for Python 3.3 #527

[2018-04-03 17:17] josegrobles opened #611 "Setting Title for URI does not work"
Hello, I'm trying to set the title for an URI with the function **play_uri** but even though the metadata is correctly generated as the title is attached to it,  ##Sonos is ignoring it.

Am I doing something wrong or it might be related to uPnP?

Thanks in advance.

[2018-04-17 14:56] lwis opened #612 "Create stereo pair"
Apparently SonoSequencr is able to create a stereo pair from any two speakers (despite the Sonos app not allowing it). Does SoCo expose any stereo pairing functionality, or surround setup functionality today?

[2018-04-17 15:24] DPH commented on #612
Hi @lwis ,
at present SoCo doesn't expose this functionality.
There appears to be UPnP calls for it in the Sonos devices, but have not looked at how that would work, or what parameters are required. If you wanted to try and work it out it could be added.
Cheers David

[2018-04-18 05:48] ghcs27 commented on #612
There are
[code]
methods exposed by the Sonos API. However, we don't know how to fill the ChannelMapSet parameter.

[2018-05-05 20:54] stefankoegl commented on #579
I just realized that we're already past the feature freeze, and will be releasing in one week from now. Please make sure to get any bug fixes merged in time.

[2018-05-06 09:59] DPH commented on #579
There is nothing stopping the merge of
 #602 In events module: allow choice in how the event server is implemented (v2)
 @relevitt has done a lot of work on this.  Can we merge this?

Cheers David

[2018-05-10 09:18] ghcs27 commented on #579
@DPH I'm not sure, but I suppose that would be against the idea of the feature freeze.

[2018-05-10 09:44] relevitt commented on #579
I'm confused. Is there anything I failed to do in time? I added this months ago to the thread of 0.15 features. What else do I need to do to get this included?

[2018-05-10 12:35] DPH commented on #579
This was all tested and approved some time ago, so we should get it in!
The feature has been around for a long time, and has been ready - not a new feature.
I say we include if we can
Cheers David

[2018-05-10 15:20] ghcs27 commented on #579
@stefankoegl @KennethNielsen Can you please clarify if the feature freeze (#581) applies in this situation? I read it as no merge of feature PRs, regardless of approval.

@relevitt No, you did everything alright. It's just that we aren't as active as we'd have to be to review and merge PRs within one update cycle. I apologize that your PR is affected like this.

[2018-05-11 17:33] stefankoegl commented on #579
#602 is a quite substantial change. I'd be hesitant to include it just days before the release. I'm not sure what @KennethNielsen thinks about this, but I'd prefer postponing it to the next one, even though if it means delaying a valuable contribution.

[2018-05-13 16:06] stefankoegl commented on #579
I'll start to create the release now.

[2018-05-13 16:27] stefankoegl opened #613 "Release 0.16"
Summary
* Previous release: 0.15 (#579)
* Release notes: #614
* Milestone: [0.16](https://github.com/SoCo/SoCo/milestone/12)
* Feature Freeze: evening of July 29, 2018  (see #581)
* Release date: August 11/12, 2018

[2018-05-13 16:28] stefankoegl opened #614 "Release Notes 0.16"
Release notes for 0.16 (#613)

[Changes since 0.15](https://github.com/SoCo/SoCo/compare/v0.15...master)

[2018-05-13 16:29] stefankoegl commented on #614
Copying from [#578](https://github.com/SoCo/SoCo/issues/578#issuecomment-370867259) @relevitt

----

#602

- Allow the user a choice in how the event listener is implemented. The default is for the event listener to use the requests library and run in a thread. This update allows the user to run the event listener using the twisted.internet library, by setting the config.EVENTS_MODULE module to po

[2018-05-13 16:38] stefankoegl commented on #579
SoCo 0.15 has been released 🎉

* [PyPI package](https://pypi.org/project/soco/0.15/)
* [GitHub release](https://github.com/SoCo/SoCo/releases/tag/v0.15)
* [Release notes](http://docs.python-soco.com/en/v0.15/releases/0.15.html)
* [Commit log](https://github.com/SoCo/SoCo/compare/v0.14...v0.15)

This release had 57 commits by 7 authors.

Thanks to @hugovk, @philippkeller, @ghcs27, @KennethNielsen a

[2018-05-13 16:38] #579 closed

[2018-05-13 16:45] stefankoegl commented on #578
Closed -- thanks everyone! @relevitt, I've moved your entry to #614

[2018-05-13 16:45] #578 closed

[2018-05-13 16:47] stefankoegl commented on #579
@ghcs27 sorry, I missed that. if necessary I can prepare a 0.15.1 in the next couple of days. Do you think that makes sense?

[2018-05-13 17:43] ghcs27 commented on #579
It might be for the best we didn't do a merge seconds before the release.

0.15.1 sounds like a good idea – but IMHO we should try to include some more of the PRs from [my list above](https://github.com/SoCo/SoCo/issues/579#issuecomment-386867385).

[2018-05-13 18:52] hugovk commented on #579
By the way, the Release Procedures say to follow semver, so new features would warrant a minor version bump to 0.16.

https://github.com/SoCo/SoCo/blob/master/doc/development/release-howto.rst

[2018-05-14 18:45] Evla03 opened #615 "discover() randomly fails"
soco just works for me sometimes, my sonos controller on my pc detects the devices but not soco. soco.discover() returns None

[2018-05-14 19:40] ghcs27 commented on #615
Thank you for the report.
This seems like another instance of issue #384, which is known but of unclear origin.
How is your network set up? Are you using a VPN?

[2018-05-15 04:49] Evla03 commented on #615
I’m not using a VPN, but 2 access points are connected to the network, I have 4 PLAY:1 and one bridge (where one play is connected to Ethernet and the bridge is also connected to Ethernet, all other speakers are connected to WiFi) The pc i’m using soco on is connected to Ethernet

[2018-05-15 10:42] Evla03 commented on #615
I fixed the problem temporaly by inactivating and activating my network card. After about 10 minutes it didn't work again.

[2018-05-16 07:10] naimo84 opened #616 "Unknown UPnP class: object.item.audioItem.audioBook"
Hey guys,
I've a problem with SoCo an my new Sonos One.

[code]

All of my other 5 Sonos Player (Play:1 and Play:3) work great with SoCo.
This is my Code. The purpose is to connect Sonos via MQTT to my FHEM Docker Server.

Do you see any hint, what's causing the problem.
Thanks a lot in advance.

Greetz,
Benjamin

[code]

[2018-05-16 12:18] ghcs27 commented on #616
Thank you for reporting this bug!
It looks like your library contains audio books, but SoCo doesn't know how to deal with audio books yet. It should be possible to create the necessary class - I'll try to make a bug fix soon!

[2018-05-16 17:50] ghcs27 commented on #615
Hm, that's strange.
Do you have Wireshark?

[2018-05-16 17:51] Evla03 commented on #615
Yes I have

[2018-05-17 02:24] airsquared opened #617 "Is there a way to use a music service with soco if I have the username and password?"
I'm aiming to search for and play songs from Apple Music.

[2018-05-17 14:28] ghcs27 commented on #616
If you want to, you could do the PR yourself.

[2018-05-18 10:30] ghcs27 commented on #617
IIRC, we currently don't support this, but we aim to make this possible in the near future.

[2018-05-18 10:56] ghcs27 commented on #615
Another question: Do you happen to have more than one network adapter?

[2018-05-18 11:25] ghcs27 commented on #550
Please reopen if this doesn't answer your question.

[2018-05-18 11:25] #550 closed

[2018-05-18 11:29] ghcs27 commented on #520
Please reopen if this is still an issue.

[2018-05-18 11:29] #520 closed

[2018-05-18 12:46] ghcs27 commented on #615
VMware... That's interesting! For me, discover() only works reliably if I deactivate my VirtualBox network adapter. You should definitely try out deactivating your VMware adapter.

[2018-05-18 19:52] Evla03 commented on #615
![2018-05-18_21-51-55](https://user-images.githubusercontent.com/29502264/40254960-ba48ab9a-5ae5-11e8-8013-bfdab7396668.png)
(i had 7 network adapters...)

[2018-05-18 19:55] Evla03 commented on #615
Here is the results:
[capture.txt](https://github.com/SoCo/SoCo/files/2018428/capture.txt)

[2018-05-18 19:57] Evla03 commented on #615
Disabling the network adapters made it work i think

[2018-05-18 19:59] Evla03 commented on #615
Now the sonos controller says it cannot connect to spotify when i tried to play a song but my script worked

[2018-05-18 20:01] Evla03 commented on #615
tried using soundcloud, error 701when trying to play..
one of our access points are a bit glitched right now, i think that has to do with that, not with soco.

[2018-05-18 20:05] Evla03 commented on #615
i'll close the issue, i think that disabling the network adapters made soco work, now i'll just try to fix my local network. Thank you for the help!

[2018-05-18 20:05] #615 closed

[2018-05-22 16:26] #462 closed

[2018-05-23 13:34] ghcs27 commented on #614
#592 Fix DidlMusicAlbum inheriting fields from DidlAudioItem instead of DidlAlbum

[2018-05-23 14:35] ghcs27 opened #619 "discover() not using right interface - use netifaces?"
Following up on #615: SoCo often doesn't find the right interface to use for UPnP discovery. As a way of working around this, we already have the `interface_addr` parameter, with which one can provide the interface address to use. However, this is not a satisfactory solution: For example, it means that the code from the readme code doesn't work for some people.

The official controller sends the d

[2018-05-23 14:37] ghcs27 commented on #384
Since this is quite old and seems to address multiple problems, some of which have been fixed, I'm closing this now. If you have this problem, please look at #619 or open a new issue.

[2018-05-23 14:37] #384 closed

[2018-05-24 06:58] Juggels commented on #614
https://github.com/SoCo/SoCo/pull/604 Allow the user to configure the event listener IP address that is sent to the Sonos speakers. The default is to auto detect, but it can now be overridden. This allows for more complex network configurations (e.g. using Docker containers) to be supported.

[2018-05-30 07:33] faxe1008 commented on #557
Have there been any updates to this issue recently? I really like the python api for sonos since it is well-written but the feature of using those music services is critical to me unforntunately.

[2018-05-31 14:37] AndreMiras commented on #619
Also had this issue, bringing `docker0` interface down fixes it. See debug session below:
[code]
Then if I `sudo ifconfig docker0 down` and try again it works:
[code]

[2018-06-05 21:48] mlindgren80 opened #620 "Can I use SoCo to change input on my Sonos Connect?"
I was scanning through the documentation, and I didn't see a section for specifying the input on a Sonos connect device, or Play:5 for that matter.  I often use the Sonos Connect Line-In to stream Chromecast Audio to Sonos and an easy way of setting the input would be much appreciated!

[2018-06-05 23:56] DPH commented on #620
Hi @mlindgren80,
I used this some time ago - it is device.switch_to_line_in()

The link to documentation is: http://docs.python-soco.com/en/stable/api/soco.core.html?highlight=switch_to_line_in#soco.core.SoCo.switch_to_line_in

Give it a try and let us know if OK.
Cheers David

[2018-06-07 00:17] mlindgren80 commented on #620
Yes it works, thanks 👍

What I hadn't anticipated was that in doing so, the connect leaves the main group of speakers, so I have to get the rest of the speakers to join the connect which is playing from the line-in.

[2018-06-07 07:28] rudyvan opened #621 "occasional snapshot() error with "cross_fade" property"
I sometimes have and error when calling snapshot().   On 40 calls a day the error appears less than 2 times.  I am using version 0.14

Maybe the error comes from other things my script does, but the code leading up to the error is really streightforward:

[code]

error:

[code]

Any reason this could happen?
Thanks in advance for feedback!

[2018-06-07 08:55] DPH commented on #620
You can in theory use device.switch_to_line_in() and specify which devices line-in.
The reason I suggest this is if you change the master (co-ordinator)  of the group to play the line in of whatever devices line in you want then it shouldn't leave the group.
A player leaves a group if it is a slave and you give it a new source, so it becomes its own master (co-ordinator).
By changing the source of

[2018-06-07 10:44] DPH commented on #621
Hi @rudyvan
useful to know there are some occasional issues on long running processes.
Is this the same error we had back in #519?
We did a fix (although not sure it really made a difference - but used SoCo functions) in #529

Somehow we are identifying a player as coordinator when it is not. Either it is stale information or a logic problem somewhere.

Will try to have a look at this, but am not

[2018-06-07 12:07] rudyvan commented on #621
Indeed, is the same issue, it did not get away.

Kind Regards,
Rudy

[2018-06-07 14:43] ghcs27 commented on #621
It seems like device.cross_fade is queried even if the device is not a coordinator, but the getter raises an exception in that case.

[2018-06-14 14:35] c-nixon opened #622 "Unkown Attribute Error when listing queue from some music services"
get_queue in core.py often fails with an Attribute error when a track from soundcloud is on the playlist.

Replacing
[code]
with

[code]

fixes the problem, but this is a bit messy.

I'm happy to put in a PR for this, but would like suggestions as what people think is the best to fix it.

[2018-06-15 15:39] Kenoi opened #623 "Getting Volume Status"
Is it possible to get the volume level of a speaker?

[2018-06-15 17:50] ghcs27 commented on #623
Yes, this is indeed possible. If you already have the SoCo object for your player, you can use `player.volume` to get the volume level. It is a property, which means you can read and assign it like a variable:
[code]
Please take a look at the [documentation](https://soco.readthedocs.io/en/latest/api/soco.core.html#soco.core.SoCo.volume) for more information.

[2018-06-15 17:56] ghcs27 commented on #622
Thank you for reporting this bug, seems like we don't handle missing metadata correctly.
Can you please post the error message here?
In which lines did you apply your substitution?

[2018-06-15 19:15] Kenoi commented on #623
Thank you very much that worked great.

[2018-06-18 17:36] #623 closed

[2018-06-18 18:51] c-nixon commented on #622
Whoops, seems I've reported the error in the wrong repo. I should have reported it on SoCo/socos. Sorry about that, will re-report over there.

[2018-06-18 18:51] #622 closed

[2018-07-09 11:14] twosky2000 opened #624 "discover for multiple household_id's"
We have 2 sonos houshold_id's in our hous, so that my parents don't see my speakers and miss click play functions in my setup with high volume settings.

When I discover on my network i only get one houshold_id worth of devices 2/4. Is this a feature that is doable in SoCo or are there more problems after adding support for multiple housholds?

Here is the static IP's

LAN | 192.168.0.151 | 5c:aa:

[2018-07-09 13:01] DPH commented on #624
Hi @twosky2000,
looking at the soco.discover it looks like once it finds one zone player it uses that player to give details of all (every player knows about the other players - in that household!)
This was done to speed it up rather than wait for discovery to return each device.
Therefore whichever player is discovered first it will show all players in that household group.

With current code I d

[2018-07-09 13:13] twosky2000 commented on #624
Hi @DPH,
yes that what it seams to me. Great code comments!
Just wanted to ask if there will be a problem or nobody had the need yet. I have to tinker around sometime, cause i don't understand python classes to well.

[2018-07-12 17:50] amelchio commented on #614
#605 The play_uri method now accepts title arguments that need XML escaping.

[2018-07-12 17:50] amelchio commented on #614
#606 A harmless "Could not handle track info" warning has been removed.

[2018-07-13 11:49] #616 closed

[2018-07-13 21:57] twosky2000 commented on #624
from [discover.py](https://github.com/SoCo/SoCo/blob/master/soco/discovery.py#L181)
`181                    zone = config.SOCO_CLASS(addr[0])`
SoCo gets the list of devices from the sonos device. So it can never get devices that have diffrent household_id's. I don't see it as a feature of soco, so i will try to get it working on home assistant without using discover.

Cheers and thanks

[2018-07-28 15:54] ghcs27 commented on #614
#601 Let from_didl_string throw DIDLMetadataErrors, allowing them to be caught in the event handling code.

[2018-07-31 13:15] gilou opened #625 "Discovery not reporting any speaker on Windows"
Hi,
I just tried soco 0.15 on Python 3.7.0 on Windows 10, and discovery() doesn't yield anything.
[code]
I tried also with the interface_addr to no avail. Firewall lets all necessary multicast go through (the sonos controller sees the devices). The network is configured as a /16, and the computer is on the same layer2 segment as the SoCos connect devices.
On Linux, soco 0.15, Python 3.5.2 it works

[2018-07-31 20:49] ghcs27 commented on #625
Hmm, I would have suggested this as the first step, but it seems like you already tried it out. Which addresses did you use?

[2018-08-12 12:38] DrKeks opened #626 "Play Playlists with Apple Music Content - Workaround?"
I know that there is problem with playing Music Services like Apple Music, Google Music...

But right now building a RFID-card controller (raspi) for my 3 year old doughter to start music on the sonos speakers in the childs room, I am looking for a workaround.

May it be possible to make and save a favorite list in the sonos App and start this list without the loggin process? Or is it possible to

[2018-08-12 14:39] DPH commented on #626
Hi @DrKeks,
look like a fun project.

Two approaches I can think of:

1) use soco.snapshot to save the current state and the queue, then restore it.

2) use sonos playlists an the following code to play a sonos playlist:

[code]
Let us know if this helps and how you get on

Cheers David

[2018-08-12 18:07] stefankoegl commented on #613
Unfortunately I won't be able to prepare the release today. I'm aiming for August 15 for the release.

[2018-08-13 22:23] ProjectGhostCore opened #627 "Account discovery NOT working ANYMORE"
Hi,

since Sonos removed the http:xxx:1400/status/accounts interface it's no longer possible to discover the connected music service accounts this way! (soco.music_services.accounts.Account)

How can you get them now ??

[2018-08-15 10:14] stefankoegl commented on #613
I'm starting to prepare the release...

[2018-08-15 10:15] stefankoegl commented on #614
Release preparation in progress.

[2018-08-15 10:15] #614 closed

[2018-08-15 11:32] stefankoegl commented on #613
It seems that a recent update of pylint introduced some checks that are now causing our build o fail (https://travis-ci.org/SoCo/SoCo/builds/416297754). I'll investigate if it can be fixed quickly.

[2018-08-15 13:57] stefankoegl opened #629 "Release Notes 0.17"
Release notes for 0.17 (#630)

[Changes since 0.16](https://github.com/SoCo/SoCo/compare/v0.16...master)

[2018-08-15 13:58] stefankoegl opened #630 "Release 0.17"
Summary
* Previous release: 0.16 (#613)
* Release notes: #629
* Milestone: [0.17](https://github.com/SoCo/SoCo/milestone/13)
* Feature Freeze: evening of November 1st, 2018 (see #581)
* Release date: November 17, 2018

[2018-08-15 13:59] stefankoegl commented on #629
Copying from [#578](https://github.com/SoCo/SoCo/issues/578#issuecomment-370867259) @relevitt

----

#602

- Allow the user a choice in how the event listener is implemented. The default is for the event listener to use the requests library and run in a thread. This update allows the user to run the event listener using the twisted.internet library, by setting the config.EVENTS_MODULE module to po

[2018-08-15 14:06] stefankoegl commented on #613
SoCo 0.16 has been released 🎉

* [PyPI package](https://pypi.org/project/soco/0.16/)
* [GitHub release](https://github.com/SoCo/SoCo/releases/tag/v0.16)
* [Release notes](http://docs.python-soco.com/en/v0.16/releases/0.16.html)
* [Commit log](https://github.com/SoCo/SoCo/compare/v0.15...v0.16)

This release had 23 commits by 6 authors.

Thanks to @ghcs27, @Juggels, @amelchio, Benjamin, @naimo84 fo

[2018-08-15 14:06] #613 closed

[2018-08-15 15:43] nlagaros opened #631 "Did events_twisted (#602) make it into release 0.16?"
I do not see the code in there  - or I am missing  something.

[2018-08-15 17:41] nlagaros commented on #631
No  - I  guess I pulled it before  you made the changes.  I'm more  interested in why it wasn't included.   I've been hoping for many  months to get this update.

[2018-08-15 19:09] stefankoegl commented on #631
I haven't been following the development of #602, but I've asked for a summary of missing steps to get it merged.

[2018-08-16 22:43] tksunw commented on #405
The code above from @lawrenceakka works with SiriusXM, Pandora, and Calm Radio channels that are in the Sonos Favorites list, as enumerated by either `PLAYER.music_library.get_sonos_favorites()` or `PLAYER.get_sonos_favorites()`

Example URIs for each service, as stored in the Sonos Favorites:

Sirius XM: `'x-sonosapi-hls:live%3a9450?sid=37&flags=8480&sn=4'`

Pandora: `'x-sonosapi-radio:ST:3493649

[2018-08-17 08:20] gilou commented on #625
Hi, I used the IP in the same subnet as the Sonos devices, I don't have it at hand... I also fully disabled the Windows firewall, and could do the discovery from Linux while connected on the same switch as the Windows PC...
@DPH I don't have an easy access to that network, but I can try on Python 3.6 at some point to see if it could be a regression on Python 3.7 or just a glitch on that setup..

[2018-08-25 12:14] mountainsandcode commented on #415
We could add information about whether Sonos is currently playing from Airplay2 or not as well in this property!

[2018-08-28 06:52] reneklomp opened #632 "FutureWarning using Python 2.7..."
pi@raspberrypi:~ $ python
Python 2.7.13 (default, Nov 24 2017, 17:33:09)
[GCC 6.3.0 20170516] on linux2
Type "help", "copyright", "credits" or "license" for more information.

/home/pi/.local/lib/python2.7/site-packages/soco/services.py:687: FutureWarning: The behavior of this method will change in future versions.  Use specific 'len(elem)' or 'elem is not None' test instead.
  value_list_elt = st

[2018-08-30 19:04] MarvinSkilla commented on #632
Ya, got the same warning.  Hope, they fix it.

[2018-09-01 17:16] arsaboo opened #633 "Night_mode and dialog_mode not supported on Playbase"
I just tried changing the `night_mode` and `dialog_mode` on my Playbase, but get an error for both as not supported. I can change these modes from the Sonos app, so looks like it is a SoCo limitation.

[code]

Let me know if you need any other details

[2018-09-01 18:47] arsaboo commented on #633
Looks like these lines in the core.py are causing the issues:
`if 'PLAYBAR' not in self.speaker_info['model_name']:`

Firstly, `Playbase` or `Beam` are not listed in core.py. Second, the case for `speaker_info` has changed - instead of all caps that is currently being used, it is `Playbase`. I suspect the `night_mode` and `speech_enhance` are currently broken for everyone (not just Playbase users)

[2018-09-07 20:34] Nibbler73 opened #634 "How to lookup audiobook items from sonos-favorites"
I'm building a RPI based sonos controller with RFID card interfaces.
To make sonos play a stream I need to send it the stream-uri e.g. `x-sonosapi-stream:s25217?sid=254&flags=8224&sn=0`.

To find out what the sonos uri looks like, I create a favorite with the Sonos App and then list the favorites with their name and resources:

[code]

This works for playlists and audio streams like TuneIn or Amaz

[2018-09-08 15:41] DPH commented on #634
Yes try:
[code]
The av_transport_uri tells where the music is coming from (eg a queue, another sonos zone, a radio broadcast or a uri /http one off source), and the track_uri tells what track is currently being played.

This code used in Snapshot in SoCo
Hope this helps

Cheers David

[2018-09-15 08:15] kimaldis opened #636 "Struggling to make soco.discover() work with Python 3."
The code snippet below runs just fine using python 2.7 but fails when using python 3. Any thoughts appreciated.

[code]
error:
[code]

[2018-09-19 20:47] rytilahti commented on #636
FWIW, this seems to be an OSX problem (works fine with python 3.6.5 on linux).

[2018-09-20 12:14] #620 closed

[2018-09-20 12:15] #617 closed

[2018-09-20 12:26] ghcs27 commented on #632
It seems like this warning can safely be ignored, so I'll close this. If i'm mistaken or if it causes problems, please reopen.

[2018-09-20 12:26] #632 closed

[2018-09-20 19:19] amelchio opened #638 "Frequent release fork"
Hello.

I thought I should let you know that I have created a fork of SoCo where I want to publish enhancements such as #532, #600 and #637 more quickly: https://pypi.org/project/pysonos/

This is in order to be able to fix issues in Home Assistant which requires a PyPI release of supporting packages. The Home Assistant project makes releases every two weeks so waiting for a quarterly release of S

[2018-09-21 15:39] ProjectGhostCore commented on #627
push

[2018-09-25 08:51] ghcs27 commented on #627
It seems like Sonos has totally removed the possibility of getting music service accounts for third party clients - see the meta issue #557. (AFAIK, it's because they worry about the security of account credentials.)
I know this is a huge issue, but apparently we can't do much about it at the moment. Any updates for the problem will be posted to #557.

[2018-09-25 08:51] #627 closed

[2018-09-29 19:54] airsquared commented on #617
@ghcs27 Have you implemented this feature?

[2018-10-05 09:50] ghcs27 opened #641 "New Sonos developer API"
I recently discovered that Sonos has released a new developer API at [developer.sonos.com](https://developer.sonos.com).
It is aimed at music service companies like Spotify who would like to include Sonos controls in their app.

Some aspects I have found out:
- Officially supported by Sonos
- Cloud-based communication over HTTP
- Requires the developer to register their integration with Sonos
- Re

[2018-10-05 09:56] DPH commented on #641
This is good news. Sonos have been promising a proper API for some while.
Our current UPnP works for most things but can't any longer work for music services.
These are a big part of using Sonos.
I'm very supportive of enhancing SoCo to use the Sonos API to access the Music Services.
Willing to help but will be very busy on other stuff for the next 2 months.

Regards Daivd

[2018-10-05 12:02] ghcs27 commented on #557
It might help that Sonos has released a new (secured) API for controlling their products. See #641 for specifics.

[2018-10-05 12:06] ghcs27 commented on #617
Sorry, progress on the music service issue is slow. The main discussion is at #557, but just working out a concept of how to tackle the problem, regardless of whether we know the password, seems to be a long way to go.

[2018-10-15 08:55] relevitt commented on #631
I've commented on this in #602 (and sorry for being slow).

[2018-10-19 15:53] pascal1503 opened #642 "deviceProperties.Get and Set"
Hello what does the query look like for GetAutoplayRoomUUID? And how for SetAutoplayRoomUUID?

For GetAutoplayRoomUUID it works like this:
device.deviceProperties.GetAutoplayRoomUUID ([('InstanceID', 0)])

But I can not change the value with set. Can someone give me a fitting example?

[2018-10-20 18:17] marcelser opened #643 "join player to group results in 501 UPnp error"
I have a small utility which aims to always put the same players in a group. So it discovers the players. Uses one of the players which is to be in the group to get the group name. Then it loops over the group players and unjoins any player which doesn't belong to the group and then joins any player no longer in the group.

It used to work for months, but since some weeks I'm getting an error when

[2018-10-20 18:32] ghcs27 commented on #642
That's strange - it works for me. What I did was:
[code]

[2018-10-20 18:34] marcelser commented on #643
actually shortly after posting this issue. I found out that soco no longer supports just adding a speaker to another speaker in the group which is not the coordinator. So I changed to join the speakers to the coordinator and voila it worked. So actually my issue is solved.

[2018-10-20 18:34] #643 closed

[2018-10-21 07:30] Nibbler73 commented on #634
Thanks for the response.
This most probably answers my question, at least I am getting some `x-rincon...` response. Need to wait for #557 before I can continue testing.

[2018-10-21 07:30] #634 closed

[2018-10-22 17:39] pascal1503 commented on #642
Thanks the lower one works.

[2018-10-22 18:41] #642 closed

[2018-11-07 16:46] relevitt commented on #631
#602 should be good to merge now.

[2018-11-07 18:14] relevitt commented on #629
#645 This adds a simple DidlPlaylistContainerTracklist class to data_structures.py. The class is used by Sonos when Sonos Speakers are controlled by Spotify Connect. The absence of the class from data_structures.py causes errors.

[2018-11-08 06:33] #633 closed

[2018-11-08 06:55] ghcs27 opened #647 "Flake8 "Line break after binary operator" warning"
Flake8 has started complaining about existing code:
[code]
Line numbers refer to the version in [this tree](https://githubu.com/SoCo/SoCoo/tree/32c4df366396e84c220267cfb909f0cbb22a8ae9).

Example error line:
[code]
We should probably fix this by moving the operator to the next line (?).

[2018-11-08 15:19] pmac commented on #629
#637 Add the `is_soundbar` property to the `SoCo` class to indicate whether or not the current instance is for a Play:Bar, a Play:Base, or a Beam, and if so enable features like Night and Dialog mode.  Fixed support for Night and Dialog mode for Play:Base and Beam (#633).

[2018-11-09 07:59] ghcs27 commented on #461
PR for this is now at #646.
@wharzhee, can you please test if it works for you?

[2018-11-09 08:52] relevitt commented on #641
My preference would be that SoCo doesn't support the new Sonos developer API. I see SoCo and the new API as alternative (and possibly complimentary) ways of interacting with Sonos speakers. There's nothing to stop someone with an app that uses SoCo from also using the new API. But I think SoCo would become unwieldy and complex if it tried to do both. I hope SoCo continues to focus on what it does

[2018-11-11 14:33] stefankoegl commented on #641
I agree with @relevitt that trying to do both would risk making the library more complex, with limited benefit. In my opinion the project should keep its focus on the UPnP-based API, and do that well. A client library for the Cloud API could (should) be a separate project.

[2018-11-11 21:32] twosky2000 commented on #624
I made a pr with a quick&dirty patch to discovery. Works fine for my home and passes lint. But there are other changes breaking CI. Any suggestions welcome.

[2018-11-15 09:07] matthewfelgate opened #648 "Future Warning"
[code]

[2018-11-15 17:57] ghcs27 commented on #648
The line in question:
[code]
We use it to handle the case if the function returns None. Internally, what the `or` does is
[code]
The variable `elt` is an XML element or None, and the warning means that the output of `bool(elt)` might change, possibly to handle empty elements differently. However, our only requirements are that (1) bool(elt) is false if elt is None, so we don't get a TypeError, and

[2018-11-16 09:05] matthewfelgate commented on #648
Thanks

[2018-11-24 04:03] btannous opened #649 "Night_Mode only shows “None” on Playbar"
I have a playbar and sub grouped in my Living Room.  My playbar is x.x.x.161 as per the iOS Sonos Controller.  Whenever I try to get or set night_mode it seems Soco says night mode is not supported on this device.  It’s possible I’m doing something wrong, but the code is pretty basic.

My Code:
[code]

Output
[code]

[2018-11-24 21:41] berlincount commented on #619
I have the same issue, even when giving the network interface manually - the packets seem to come from the right network interface, though. They go to `239.255.255.250`, which might need multicast configuration?

[2018-11-24 21:45] berlincount opened #650 "MusicService insists on using an auto-discovered Player"
If `SoCo.discover()` doesn't work, neither will `MusicService.get_all_music_services_names()`, let alone anything else.

`Account.get_accounts(soco=SoCo(playerip))` also returns empty, so giving an account doesn't seem possible either.

[2018-11-28 06:18] relevitt opened #651 "Discovery returning None on Ubuntu 16.04 LTS"
Yesterday everything was fine, today it is not.

The following software updates have been installed:

[code]

On my other Ubuntu machine, soco.discover() works fine, so it doesn't seem to be a network change, nor does it seem to be a problem or change with my Sonos system.

If I specify a speaker with soco.Soco("xxx.xxx.xxx.xxx"), everything is fine. So, as a work around, I've added a SONOS_ZONES

[2018-12-10 22:02] #638 closed

[2018-12-16 10:02] nlagaros opened #652 "0.17 Release?"
Will this be packaged up anytime soon?

[2018-12-18 20:15] pfischi opened #653 "Event listener memory leak?"
Following the given Event Listener [example](http://docs.python-soco.com/en/latest/api/soco.events.html), the used memory is constantly growing.

Steps to repeat:

1. Run event listener example from link.
2. Use "psrecord" (or similiar tools) and attach to the started process above and capture the memory consumption
3. Within the Sonos App, trigger some events (Play, Pause, another title etc)
4. A

[2018-12-22 04:42] mattdornfeld commented on #500
The reason pylint raises this error is that the Pythonic way of writing the statement is

`return something if whatever else something_else
`

[2019-01-21 16:56] psjoholm opened #655 "Unknown UPnP class: object.item.audioItem.musicTrack.recentShow"
After adding a podcast episode I got problem with 'Unknown UPnP class: object.item.audioItem.musicTrack.recentShow', when doing get_queue()
The raw data looked like this (... means removed part of queue):
[code]

By looking at other code in data_structures.py I created a new class which solved my specific problem, but I am not sure this is the proper way. #616 refers to a property table found at u

[2019-02-09 18:26] nlagaros commented on #652
is the project abandoned?

[2019-02-16 23:49] MitchSteed opened #657 "Receive Microphone Input"
My Sonos has an inbuilt microphone, is there a way that anyone knows to "listen" to the microphone such that I can basically write my own virtual assistant? Does this library support that functionality already?

[2019-02-22 15:59] ghcs27 commented on #657
Sonos unfortunately doesn't seem to offer this functionality via the UPnP API.

Here's a list of function calls which the Sonos players accept:
https://github.com/SoCo/SoCo/wiki/Sonos-UPnP-Services-and-Functions
None of them appear to be related to microphone input.

[2019-02-22 16:09] MitchSteed commented on #657
Ok, thanks for the link to the wiki! Was curious if anyone had already found a solution to this.

[2019-02-22 16:09] #657 closed

[2019-03-03 18:53] btannous commented on #652
:+1:
I could pull from master but I've been looking for the .17 release to get night mode compatibility on my soundbar.

[2019-03-03 18:55] btannous commented on #652
#630 and #629 seem to indicate it should have been released in November.  Wonder whats up?

[2019-03-10 12:45] stefankoegl commented on #652
I wouldn't say that the project is abandoned, but I simply didn't have enough time to do a release - it wasn't high enough on my priority list. I'll try to do a review of the currently merged and opened pull request, and see if I can do a release soon.

[2019-03-19 22:32] dxscorp opened #658 "Could not find a version that satisfies the requirement soco"
Having trouble installing from pip...

I tried pip install soco and pip3 install soco.

Any ideas? Cheers!

[2019-03-19 23:06] #658 closed

[2019-03-19 23:06] dxscorp commented on #658
Installed python 3.7 and solved it, thanks

[2019-03-21 04:36] davidtorosyan opened #659 "Saving multiple alarms quickly fails"
I've got two alarms, and if I try to enable them both like so:
[code]
Usually only one of them actually gets updated. If I introduce a short delay in the loop:
[code]
They both get saved successfully.

I'm not sure what the fix for this would be, and the workaround is easy enough. Thought I'd post this here in case others hit the same issue.

[2019-04-03 10:38] gitaarik commented on #500
Pylint also returns this error for larger if/else statements:

    if (
        this_is_true()
        and that_is_true()
        and this_is_also_true()
    ):
        do_this()
        and_this_please()
        also_do_this()
    else:
        do_just_this()
        and_also_this()

For such larger if/else statements I also prefer to have both cases indents, so it is clear that they both are cas

[2019-04-03 21:22] rleeden opened #660 "Group broken by Sonos version 10.1"
I updated my Sonos to version 10.1 today and noticed that some of my scripts that rely on SoCo seem to have broken.

Seems to be a problem with groups. When trying to find coordinator of a group with

**device.group.coordinator.player_name**

I get error:

`Traceback (most recent call last):
  File "./test", line 7, in <module>
    print(device.group.coordinator.player_name)
AttributeError: 'NoneT

[2019-04-04 06:48] pmatos commented on #660
Same here. `soco.discover()` returns the empty set.

[2019-04-04 08:32] rleeden commented on #660
It looks like the information is still there. Doing a tcpdump whilst running soco.discover() on my 4 speaker system shows this:

[code]

I'm guessing the format has changed? Unfortunately my python coding is very poor so looking at the code is not helping me figure this out.

[2019-04-04 14:34] clovenguth commented on #660
I work in the home automation industry and can tell you 10.1 broke all 3rd party control of Sonos as of yesterday's 10.1 update who weren't ready for it. All the big control companies are scrambling to make a fix. Sonos had been warning this API overhaul for awhile.

[2019-04-04 19:21] jnth commented on #660
I found a fix that work in my small network sonos system.

    --- soco/core.py	(revision 671937e07d7973b78c0cbee153d4f3ad68ec48c6)
    +++ soco/core.py	(date 1554404884029)
    @@ -949,7 +949,7 @@
             self._all_zones.clear()
             self._visible_zones.clear()
             # Loop over each ZoneGroup Element
    -        for group_element in tree.findall('ZoneGroup'):
    +        fo

[2019-04-04 19:54] DrKeks commented on #660
Same problem here. Very disappointed enduser of "RFID - Raspberry PI - SoCo" controller (my 3,5 year old daughter). Will there be a fix for this in the near future?

Right now only setting the volume works, but even start and stop playing is not possible using a call by SoCo('ip-of-speaker').

@jnth : can you please explain that fix, is it a part of the soco files that contains this code?

[2019-04-04 20:01] DrKeks commented on #626
right now, with sonos 10.1, it does not work anymore (Hoping there will be a fix in the near future).

Not able to use it right now shows me, how I liked it over the last few months to control the music with rfid cards on Pi-Zero sound stations.

@DPH : I never thanked you for your help and code! So: **Thank you** for this! It made me clear how to use the soco-library and I was able to finalize my

[2019-04-04 22:13] eduhh94 opened #661 "Switch to line in not working"
Hello dear SoCo team,

I wanted to use your API to switch to line-in but it's not working. Any idea why?
Volume worked fine.

[code]

Discovery is also not working and sonos.player_name shows nothing.
[code]

[2019-04-04 23:10] eduhh94 commented on #660
I have the same problem. Unfornately this was my first time using it and it's broken.

[2019-04-04 23:34] clovenguth commented on #660
@jnth bravo!

Editing this line worked for me as well.

[2019-04-05 05:28] DPH commented on #626
You are welcome - pleased it helped.

Regards David

On Thu, 4 Apr 2019 at 21:01, DrKeks <notifications@github.com> wrote:

[2019-04-05 07:43] rleeden commented on #660
@jnth - great, your fix works for me - thanks

@DrKeks - yes, this is part of the soco files. Find where your installation is. Mine is in /usr/lib/python3.6/site-packages/soco, but yours might vary depending on python version and general set-up. You are specifically looking for a file called core.py. Copy the patch code from @jnth's post above and paste it in a file called **patch.txt** in the dir

[2019-04-05 07:53] rleeden commented on #661
Your sonos probably updated to version 10.1
See [Issue 660](https://github.com/SoCo/SoCo/issues/660) for discussion on this and a possible fix

[2019-04-05 09:23] rudyvan commented on #660
fix does not work if you are using a sonos boost, with https://github.com/home-assistant/netdisco  the sonos discovery only returns the sonos boost not the sonos devices behind them.
I think this issue is more serious than we assume now to fix.

[2019-04-06 17:24] nlagaros commented on #652
I am also looking for the .17 release.  I'm not sure that I can pull it myself.  If you are able to get that released, many here would appreciate it.  Thank you.

[2019-04-06 17:26] nlagaros commented on #660
I’m not sure this is a function of the recent change in 10.1, but looking through code, there is no provision for the Boost that I see.

From: Rudy Vandenberghe <notifications@github.com>
Reply-To: SoCo/SoCo <reply@reply.github.com>
Date: Friday, April 5, 2019 at 5:23 AM
To: SoCo/SoCo <SoCo@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [SoCo/SoCo] Group broken by

[2019-04-08 18:41] peyronson commented on #660
Fix worked for mee too, thanks alot @jnth!

[2019-04-09 11:34] jeffehobbs commented on #660
@jnth's fix worked for me, nice work!

[2019-04-09 19:55] alavela commented on #660
@jnth's fix worked for me as well! Any plan to have 0.17 release including compatibility with new Sonos API?

[2019-04-09 20:11] jasontaylor190 commented on #660
@jnth is a life-saver! I use this python module for a script I run every night to setup specific playlists for my girls at bed time with sleep timers pre-set. This fixed me up with 10.1!!! Thx @jnth!!!

[2019-04-09 21:34] Renfield63 commented on #660
@jnth Wins The Internet.
I've been wondering how long it would take before Sonos broke SoCo.  Thanks to @jnth my sorrow was short-lived!  Great fix and thanks to @rleeden for the directions!

[2019-04-10 02:20] gdinkanata commented on #660
Fixed worked on my system, and I running a Boost

[2019-04-10 06:45] rudyvan commented on #660
Fixed worked here also, even though i have a boost.
Apologies for my previous message saying didn't work.

[2019-04-10 17:54] ve7gel commented on #660
Worked for me too using the Sonos nodeserver on Universal Devices' polyglot.

[2019-04-15 21:53] mrusme commented on #660
Anyone an idea when this will make it into a PyPi release? Asking for a friend.

[2019-04-16 15:09] amb5l commented on #660
@jnth's fix worked for me: large system of 2016 Sonos hardware controlled from complex, threaded script (Python 3.7 64 bit on Windows 10)

[2019-04-27 14:47] marcelser opened #663 "Discover not returning players on 3.6.5"
I was using soco for a long time currently on 0.16 on python 3.6.5 on gentoo Linux.

But since some days soco.discover() doesn't return anything anymore. Don't know if a Sonos or python did brake it, others having similar issues? I also tried installing socos, but there as well socos list returns nothing. Any ideas?

[2019-04-27 15:04] marcelser commented on #663
Seems to be a duplicate of #660, patch there solved it.

[2019-04-27 15:04] #663 closed

[2019-05-05 15:56] KennethNielsen commented on #660
I merged the fix as applied in #662. I will see about doing a release fast.

[2019-05-05 15:56] #660 closed

[2019-05-05 15:58] KennethNielsen commented on #660
If anyone is still having issues with master at point https://github.com/SoCo/SoCo/commit/149c6b505f992564cfe0432c40c03f9952ac82c1 or above, please file separate issues.

[2019-05-06 07:39] KennethNielsen commented on #652
@nlagaros no, the project is not abandoned, just got busy with real life. @stefankoegl I will try to coordinate the fall out from the new Sonos release and then we should do a bug fix release thereafter. If you have time, great, otherwise we will have to figure out to get me access to PyPI.

[2019-05-06 07:43] KennethNielsen opened #664 "Coordination of fall out from Sonos 10.1"
Hi everyone

So I'm back and will try and coordinate a new release that fixes the (most urgent) fall out from the Sonos 10.1 release, but I will need some help in getting an overview.

I merged #662 as a fix for #660.

Are there any other issues related to the Sonos 10.1 release. Probably the easiest way to see that it is related, is that  the issue started after the update.

Please post below.

[2019-05-06 08:27] amelchio commented on #664
There are no other issues related to that update but #662 will break with pre-10.1 firmware, I don't know if that is a problem.

I fixed it in a backwards compatible way in amelchio/pysonos#13 (though I now see that I made a typo in the comment).

[2019-05-06 08:55] maru-sama commented on #664
Hello, can you please also consider adding pull request #589 to the new release, since I tend to really forget to do this changes manually when a new version is released.

[2019-05-06 10:17] KennethNielsen commented on #664
@amelchio would you consider making a PR for you backwards compatible approach on top of current master, then I will pull that right away. Remember to put comments in there about what should be removed in the future (say a year from now) when everyone should have upgraded.

[2019-05-06 10:18] KennethNielsen commented on #664
@maru-sama I will have a look tonight and see about including it.

[2019-05-06 10:23] nlagaros commented on #652
I appreciate your time on this.  I’m most interested in events_twisted (#602) getting merged into this release.

From: Kenneth Nielsen <notifications@github.com>
Reply-To: SoCo/SoCo <reply@reply.github.com>
Date: Monday, May 6, 2019 at 3:39 AM
To: SoCo/SoCo <SoCo@noreply.github.com>
Cc: Nicholas Lagaros <nicholas@lagaros.com>, Mention <mention@noreply.github.com>
Subject: Re: [SoCo/SoCo] 0.17 Rele

[2019-05-06 11:01] KennethNielsen commented on #652
@nlagaros I think, from a 5 sec glance at it, that #602 uses the two file approach to twisted events, which I think has received about as much feedback as it should. So I will have a look at that as well tonight.

[2019-05-06 17:47] aschwith commented on #653
Can anyone confirm the memory leak of the event listener? This issue might be worth fixing for release 0.17 too.

[2019-05-06 19:29] amelchio commented on #664
Sorry, there actually is another issue: certain favorites started to break `music_library.get_sonos_favorites()`. A traceback [is here](https://github.com/home-assistant/home-assistant/issues/22714#issuecomment-480942373), with steps to reproduce a little bit further down.

I am not making PRs, just wanted to give a heads up since I already handled the 10.1 update in my fork.

[2019-05-13 20:09] KennethNielsen commented on #664
Ok. So I have very little time to work on this. I will make time to review and pull PR's but I will not have time to work on fixes. So if anyone wants to work on the issue @amelchio mentioned, fell free to dive in.

@amelchio I didn't quite understand. Is there also a fix for the favorites issue in your fork?

[2019-05-13 20:09] KennethNielsen commented on #664
I think, a little bit wiser from previous experience, I will not pull any large functionality additions in for this release, since they should be tested more and this should get out quickly.

[2019-05-13 20:14] KennethNielsen commented on #652
@stefankoegl ok, so I actually got the credentials to make a release on PyPI, so I will make one when we have the necessary fixes for the 10.1 update.

[2019-05-13 20:17] KennethNielsen commented on #629
#662 fix for issue #660 about discovery being broken by the 10.1 Sonos update.

[2019-05-13 20:25] KennethNielsen commented on #647
For now fixed by #654 by ignoring the warning. If we ever grow and insane amount of time, we can review pylint disables.

[2019-05-13 20:25] #647 closed

[2019-05-13 22:32] amelchio commented on #664
This is my fix. I assume just ignoring the entry is not up to your standards and I do not want to spend time on a more complete solution.
[code]

[2019-05-14 08:21] KennethNielsen commented on #664
@amelchio thanks

[2019-05-14 15:41] KennethNielsen commented on #664
Ok. I'll be short circuiting the process a little bit to get things fixed in a hurry. There seem to be more things broken, I will update them directly in master and keep everyone informed about what was broken here, so that you can test and review the changes.

At least so far it seems that also player_info is broken.

[2019-05-14 22:26] KennethNielsen commented on #664
Ok. So I got all unit tests to pass and did some corrections to make the integration tests pass, because if I'm going to work on the sonos favorites thing, it would be nice to do it by adding an integration test for it, and so I neede them to run. I also made a few tweaks to cut the integration test time down from ~113s to ~65s, which improves the test time of the entire suite.

[2019-05-15 05:36] maru-sama commented on #664
Hi, please do not forget to take a look at #589 for the release as well.

[2019-05-15 12:11] KennethNielsen commented on #664
@maru-sama I look a little into it and I would rather not do that. We have once before been burned by integrating features just before release and futher more, this may conflict with some of the work around the alternative events implementation. So I will do a release as soon as I have favorites working. Then integrate as much work as I can (including this) and then do a new release after the test

[2019-05-19 14:09] KennethNielsen commented on #664
Ok. So I got all unit tests to pass and did some corrections to make the integration tests pass, because if I'm going to work on the sonos favorites thing, it would be nice to do it by adding an integration test for it, and so I neede them to run. I also made a few tweaks to cut the integration test time down from ~113s to ~65s, which improves the test time of the entire suite.

[2019-05-19 14:13] KennethNielsen commented on #664
I just committed a fix for the favorites issue. It is known from earlier, that favorites them selves might not have a resource (which is received in a res tag), which is what makes them playable. In order to play them you need to go via their references. So the code accounted for this res tag not being there, but it didn't account for the res tag being there but being empty, which is what apparent

[2019-05-19 14:14] KennethNielsen commented on #664
Since the only things committed recently are bug fixes, I'm about ready to try and do a release and I will in about 30 min or so. If anyone sees this real time and wants to test, that would be great.

[2019-05-19 14:16] KennethNielsen commented on #652
I will try and make a release today.

[2019-05-19 14:17] KennethNielsen commented on #630
Long over due I will try and make a release in about 30 min If you got time to test, now is the time.

[2019-05-19 18:21] tksunw commented on #664
soco.discover() works again.

Version 0.16 installed by `pip`:
[code]

Latest version pulled directly from github:
[code]

The latest commit on GitHub has version `0.16` specified in __init__.py.  Not sure if that should be 0.17 yet.

[2019-05-19 18:23] KennethNielsen commented on #664
@tksunw thanks for testing. Great that it work for you.

No, I haven't made the release yet, so the release version number just hasn't been updated yet.

[2019-05-19 19:23] KennethNielsen commented on #630
SoCo 0.17 has been released 🎉

* [PyPI package](https://pypi.org/project/soco/0.17/)
* [GitHub release](https://github.com/SoCo/SoCo/releases/tag/v0.17)
* [Release notes](http://docs.python-soco.com/en/v0.17/releases/0.17.html)
* [Commit log](https://github.com/SoCo/SoCo/compare/v0.16...v0.17)

This release had 16 commits by 5 authors.

Thanks to @pmac, @ghcs27, @amelchio and @EliSchleifer for the

[2019-05-19 19:23] #630 closed

[2019-05-19 19:30] KennethNielsen opened #665 "Release notes 0.18"
Release notes for 0.18 (#666)

[Changes since 0.17](https://github.com/SoCo/SoCo/compare/v0.17...master)

[2019-05-19 19:31] KennethNielsen opened #666 "Release 0.18"
Summary

Previous release: 0.17 (#630)
Release notes: #665
Milestone: 0.18
Feature Freeze: evening of June 16th, 2019 (see #581)
Release date: June 30th, 2019

[2019-05-19 19:32] KennethNielsen commented on #665
Copying from [#578](https://github.com/SoCo/SoCo/issues/578#issuecomment-370867259) @relevitt

----

#602

- Allow the user a choice in how the event listener is implemented. The default is for the event listener to use the requests library and run in a thread. This update allows the user to run the event listener using the twisted.internet library, by setting the config.EVENTS_MODULE module to po

[2019-05-19 19:33] KennethNielsen commented on #665
Copying from #629 @relevitt

#645 This adds a simple DidlPlaylistContainerTracklist class to data_structures.py. The class is used by Sonos when Sonos Speakers are controlled by Spotify Connect. The absence of the class from data_structures.py causes errors. This fixes the error message reported in #639.

[2019-05-19 23:39] rbennion commented on #666
Kenneth, thank you for the hard work on getting this release out! I have been following the 10.1 issues and this community has been great in reacting.

QQ - Can I install the new version using pip? or should I just do a git pull from my SoCo directory and rebuild? Kinda new to python.

Thanks,

Rick

[2019-05-20 03:18] tksunw commented on #666
@rbennion you can install from pip.   `pip install --upgrade soco`

[code]

And verified that the new version is 0.17:
[code]

[2019-05-20 05:27] stefankoegl commented on #630
Great work 🎉 Congrats!

[2019-05-20 21:01] KennethNielsen commented on #590
@relevitt was this included in #602, so this can be closed?

[2019-05-20 21:02] KennethNielsen commented on #631
@nlagaros it is now finally merged and will be released along with version 0.16 #666

[2019-05-20 21:02] #631 closed

[2019-05-20 21:04] KennethNielsen commented on #664
@amelchio the favorites issue is now fixed in master as well. Thanks for mentioning it.

Let's hope that was the last of he fall out and close this.

[2019-05-20 21:04] #664 closed

[2019-05-20 21:35] KennethNielsen commented on #630
@stefankoegl, yeah congrats.

Hey I was wondering. If you have a little extra time in the near future, could I get you to swing that magic auto-deply-to-PyPI-from-travis-triggered-by-tag-wand over socos?

[2019-05-24 05:02] #629 closed

[2019-05-25 11:16] bjornorri opened #667 "Wake Word Chime"
There is a setting in the Sonos app for toggling the wake word chime on Alexa / Google Assistant. Would it be possible to create an action for controlling this setting?

[2019-05-25 19:13] KennethNielsen commented on #667
If you have a little bit of a Python programmer in you I can help you investigate on your own.

[2019-05-26 15:33] amelchio commented on #665
Remove logging of UPnP failures #640

[2019-05-27 04:58] maru-sama commented on #665
Hello Kenneth can you please also take a look at #589 for inclusion in 0.18?

[2019-05-27 06:33] KennethNielsen commented on #665
@maru-sama yea, I will have a look at it. Luckily I hold some sway over the person responsible for that PR. BTW, I will delete these two message from this issue, so as to keep it clean around release notes. If you have other suggestions, please bring them for forward in the release thread #666

[2019-05-30 07:53] KennethNielsen commented on #665
@maru-sama yea, I will have a look at it. Luckily I hold some sway over the person responsible for that PR. BTW, I will delete these two message from this issue, so as to keep it clean around release notes. If you have other suggestions, please bring them for forward in the release thread #666

[2019-06-03 07:13] KennethNielsen commented on #666
I'm pushing the feature freeze and the release back 14 days, to better match my vacation schedule.

[2019-06-11 01:20] btannous commented on #652
Wooo! Awesome guys!  I completely understand real life though.  Thanks again for the support!

/lgtm

[2019-06-11 07:12] nmxprime opened #668 "TypeError: 'NoneType' object is not iterable in discovery"
I have recently upgraded to Release version 0.17 using pip upgrade
`pip install soco --upgrade`
After upgrade, the example `play_local_files.py` throws NoneType is not iterable error in discover method. When no Sonos is live on the network previously it returned None when calling discover.by_name api. But after upgrading to new release, instead returning None, its throws the error in soco library

[2019-06-17 15:53] seth4618 opened #669 "discovery does not work on ubuntu Ubuntu 18.04.2 LTS"
I can connect to speaker if I specify the IP, e.g., `player = soco.SoCo("192.168.1.195")` works fine.  However, both `soco.discover()` and `soco.discover(interface_addr='192.168.1.191')` return None.

Is there a work around so I can use socos inside mkchromecast?  Or, is there a fix?  Am happy to provide more info, just let me know what you need.

I have tried both version 0.11 and 0.17

[2019-06-18 04:00] tksunw commented on #669
i had the same problem on ubuntu 18.04.02, but it was fixed by 0.17.    What version of python are you using inside mckchromecast (i'm not familiar with that)?

SoCo 0.17 works for me with both python2 and python3 as packaged by the maintainers.  No custom builds here.

[code]

It's interesting that you can interact with speakers that you explicitly specify.  Is it possible that broadcast traffic

[2019-06-18 19:40] KennethNielsen commented on #668
Hi @nmxprime

Did you upgrade your speakers as well. ``discovery`` was changed for version 0.18, to accommodate a change in the Sonos API. But the change in SoCo is backwards incompatible, as outlined in the release notes: http://docs.python-soco.com/en/latest/releases/0.17.html)

Regards Kenneth

[2019-06-18 19:42] KennethNielsen commented on #669
Hi @seth4618 and @tksunw

Did you upgrade your speakers as well? ``discovery`` was changed for version 0.18, to accommodate a change in the Sonos API. But the change in SoCo is backwards incompatible, as outlined in the release notes: http://docs.python-soco.com/en/latest/releases/0.17.html)

Regards Kenneth

[2019-06-20 01:02] seth4618 commented on #669
@KennethNielsen

My speakers are upgraded, App shows:

[code]

@tksunw

As for broadcast traffic being blocked, I am not sure how to test that.  Any ideas?

[2019-06-20 20:05] seth4618 commented on #669
One thing that might help, the player I get if I give an explicit IP address is NOT in any group.  It is not a coordinator.  But I only have the one speaker.  (So, for example, it won't let me play_uri)

[2019-06-20 20:30] tksunw commented on #669
@seth4618  - your speaker setting looks just like one of my Play:1 speakers.

As for the broadcast traffic being blocked, that's the only think I can think of that would prevent SoCo from doing discovery.   Discovery is done using a UDP multicast datagram.   What kind of router do you have?

Or, come to think of it, it could be a permissions problem.  If you run python as root, and import soco, an

[2019-06-21 03:02] seth4618 commented on #669
running as sudo doesn't help.  Here is a transcript of a python sessions.  Notice I can connect directly if I use the IP address.  The block of info near the end if a print I inserted in the src/core.py right after the network returns data when connecting.  As you can see, I am definitely using version 0.17

[code]

I am using a netgear N900 router.   I looked over the config and there is nothing

[2019-06-21 06:16] amelchio commented on #669
I worked a bit on discovery in my pysonos fork, you could first see if I already fixed your issue:
[code]

[2019-06-22 20:11] seth4618 commented on #669
Sadly, no difference - still None

[2019-06-23 07:27] amelchio commented on #669
Okay. Well, at least you will then not be duplicating work if you do dive into the discovery code :-)

[2019-06-30 12:15] unconfigured commented on #669
Hi, I've had the same issue. This seems to be also related to: https://github.com/SoCo/SoCo/issues/651.

The problem is in parse_zone_group_member (core.py). The call to GetZoneGroupState returns an XML which is than searched for all "ZoneGroup" entries. But the "ZoneGroup" entries are now child of a "ZoneGroups" element and thus not found. For me changing the "group_element" loop from `tree.finda

[2019-06-30 16:14] seth4618 commented on #669
I am having a much more basic issue.  By using tcpdump I see that the speaker is responding to my multicast, but the select in `discovery.py` NEVER returns that there is any data.  I am using python `Python 3.6.7 (default, Oct 22 2018, 11:32:17) `   I added a print to see which socket I was sending on and it shows:

[code]

The corresponding tcpdump is:

[code]

Any ideas?

[2019-07-14 16:47] Auerhahn opened #671 "Bug in documentation"
The desciption for method »loudnbess« mentions: »Loudness is a complicated topic. You can find a nice summary about this feature here: http://forums.sonos.com/showthread.php?p=4698#post4698« It would be interesting to learn something avout this complicated topic, but the link leads to nowhere...

[2019-07-14 21:42] tagdara commented on #669
I'm not sure if it's related to this problem or new to 10.3 because I was on vacation, but I came home to find that discovery no longer worked for me either.

Raspbian Stretch and Python 3.5.3 with Soco .17.   I made no changes - everything was fine on June 28th, but it seems to have failed around July 11 which is likely when the system got upgraded to 10.3.  As usual the extensive release notes d

[2019-07-23 21:55] NickBorgers opened #672 "Challenges working with MusicService"
I am struggling to work with MusicService.
I am referencing this as an example:
https://gist.github.com/lawrenceakka/2d21dca590b4fa7e3af2

On python CLI I am doing:
[code]

I seem to be getting the same error message as this which had been repaired:
I have some weird error. It seems not to find my services :

[code]

_Originally posted by @Dark5ide in https://github.com/SoCo/SoCo/issues/398#issuec

[2019-07-23 21:56] NickBorgers commented on #672
I think I found an (unfortunate) answer:
https://github.com/SoCo/SoCo/issues/641#issuecomment-427309933

[2019-07-26 20:47] NickBorgers commented on #672
I have adopted IFTT (bleh) for controlling my Sonos speakers.

[2019-07-26 20:47] #672 closed

[2019-07-28 16:11] stefankoegl commented on #630
@KennethNielsen great idea! I've created a pull request at SoCo/socos#82

[2019-08-03 16:32] nlagaros commented on #666
will there be a release soon?

[2019-08-16 01:27] jasontaylor190 commented on #668
I have the same issue on Mac. Python 3.7.4, Soco 0.17, and Sonos Controller 10.3.

[2019-08-30 08:26] stefankoegl commented on #666
I think testing of the current master version would be very valuable at the moment. If we know that we have a stable state, I can try to make some time for release preparations.

[2019-08-31 16:07] nlagaros commented on #666
I will start testing tonight.  One note is that my application only uses the event handler to listen for updates - I don’t call any of the routines to take action.

________________________________
From: Stefan Kögl <notifications@github.com>
Sent: Friday, August 30, 2019 4:26:09 AM
To: SoCo/SoCo <SoCo@noreply.github.com>
Cc: Nicholas Lagaros <nicholas@lagaros.com>; Comment <comment@noreply.github

[2019-09-28 23:07] schinckel commented on #636
It works for me on macOS (Python 3.7.2)

[2019-10-08 18:58] KennethNielsen commented on #666
Given that there has been no new issues on the events code and no negative report here from @nlagaros I think it is safe to go ahead with the release.

[2019-10-08 20:32] KennethNielsen commented on #666
Ok. So it took me somewhat longer to create the release notes than expected, so I will not make the actual release before tomorrow evening. I would love to hear how the testing went for @nlagaros and if anyone else is able to run the integrations tests up against an actual Sonos device that would also be highly appreciated.

[2019-10-09 01:40] nlagaros commented on #666
I am clean with my integration.  No issues noted.

From: Kenneth Nielsen <notifications@github.com>
Reply-To: SoCo/SoCo <reply@reply.github.com>
Date: Tuesday, October 8, 2019 at 4:32 PM
To: SoCo/SoCo <SoCo@noreply.github.com>
Cc: Nicholas Lagaros <nicholas@lagaros.com>, Mention <mention@noreply.github.com>
Subject: Re: [SoCo/SoCo] Release 0.18 (#666)

Ok. So it took me somewhat longer to create t

[2019-10-09 07:04] KennethNielsen commented on #636
Hi @kimaldis

I don't think this is a Python 3 issue, more likely something to do with setup. System Python on MacOS is notorious, so an extra bi-sectioning could be, if the Python 3 is a MacOS system Python, then try and install a stand alone one e.g. with the anaconda distribution or a virtual env or similar.

I may also be some rules in the OS about which programs are allowed to do what. A quic

[2019-10-09 19:19] KennethNielsen commented on #665
I'm in the process of release. Thank you everyone for your magnificent contributions.

[2019-10-09 19:19] #665 closed

[2019-10-09 19:38] KennethNielsen commented on #666
Ok. What an anti-climax. It is supposed to be out, but the release isn't being deployed to pypi, presumably because it is TravisCI that does that and it has changed address. I will try and troubleshoot it. @stefankoegl any help would be much appreciated.

[2019-10-09 20:03] stefankoegl commented on #666
Will try to look into it during the weekend

[2019-10-09 20:09] KennethNielsen commented on #666
@stefankoegl ok. I'm not sure if I have messed it up though. It could also be that TravisCI will not deploy on a failing build. If you think it might be the case I could try and make a v0.18.1 tag and see if that solved it.

[2019-10-09 20:29] KennethNielsen commented on #666
Maybe there is something here: https://travis-ci.community/t/pushing-tag-does-not-trigger-deployment-to-github-releases/3098

[2019-10-09 20:52] KennethNielsen commented on #668
So it's been a while with no answer from @nmxprime, so I will close for now. Fell free to reopen if the issue persists.

@jasontaylor190 if you still have the problem please open a separate issue.

[2019-10-09 20:52] #668 closed

[2019-10-11 12:48] KennethNielsen commented on #653
Second, I can see that @aschwith tagged this as the potential source of an error in https://github.com/smarthomeNG/smarthome/issues/312, but it then in that thread seems to be exonerated. So my questions is if that problem was the reason @pfischi measured this to begin with. I.e. if this has caused a real world problem.

[2019-10-11 14:19] aschwith commented on #653
Hi @KennethNielsen, thanks for getting back to us. Actually, @pfischi and myself have been working on the same smarthomeNG project which uses the SoCo framework to control Sonos devices. I am not sure if @pfischi is still online but I can confirm that unfortunately the memory leak still exists with with SoCo 0.17.

We were testing similar to the way that you suggested. @pfischi described how we re

[2019-10-11 14:31] aschwith commented on #653
@KennethNielsen can you recommend a suitable debug output to monitor the event queue? Thanks a lot.

[2019-10-13 15:13] stefankoegl commented on #666
The Travis-CI build for tag 0.18 was [#1440](https://travis-ci.com/SoCo/SoCo/builds/131196898), and each job failed at the ``flake8 soco`` command, as you can [see in the log](https://travis-ci.com/SoCo/SoCo/jobs/243943404#L380). As it's "just" a code style test, I'll manually publish the release to PyPI.

[2019-10-13 15:15] stefankoegl commented on #666
Done - see https://pypi.org/project/soco/0.18/ :tada:

[2019-10-17 11:56] KennethNielsen commented on #666
@stefankoegl thanks for fixing this. Yeah so the reason is that the job has to pass, which went bad this time, because I had to make a few changes to make docs build. I guess what would make sense, as a last check when doing a release is to push the release **commit** to github first, to have all the checks run and then push the **tag**. I will modify the release procedure with that minor change s

[2019-10-17 11:56] KennethNielsen commented on #666
All right everyone. Done with this most devilish of releases. I will make release and release notes issues shortly. Thanks for all your contributions.

[2019-10-17 12:20] KennethNielsen opened #673 "Release 0.19"
Summary

Previous release: 0.18 (#666)
Release notes: #674
Milestone: [0.19](https://github.com/SoCo/SoCo/milestone/15)
Feature Freeze: evening of January 2nd, 2019 (see #581)
Release date: January 16th, 2020

As something new this release I would like to ask for nominations for PR's or bugs to be in this release. There is simply to many PR's to do all of them, so I want to make sure I start with

[2019-10-17 12:23] KennethNielsen opened #674 "Release notes 0.19"
Release notes for 0.19 (#673)

[Changes since 0.18](https://github.com/SoCo/SoCo/compare/v0.18...master)

[2019-10-17 12:59] KennethNielsen opened #676 "Created a SoCo/SoCo room on gitter for development talk and support"
I like having a chat channel available for online projects such as this one, which is why a while ago I created a IRC channel. But alas, times change and it seems IRC doesn't have a much pull as it used to. Since I was already on gitter for a few other projects I made a room for SoCo talk there.

https://gitter.im/SoCo/SoCo

Come join me for a chat about SoCo.

PS: I started inviting people until

[2019-10-17 13:06] #671 closed

[2019-10-17 13:07] KennethNielsen commented on #671
Hi @Auerhahn

Thanks for reporting this. I couldn't find the explanation that it referred to before, so now we just refer to Wikipedia for more information. I hope this is acceptable for you.

[2019-10-17 13:08] KennethNielsen commented on #674
* Fixed broken link in loudness docstring #671

[2019-10-17 13:31] stefankoegl commented on #676
Great initiative! Once it's established we should also mention it in the documentation and in https://github.com/SoCo/soco.github.io

[2019-10-17 16:51] pwt opened #678 "Add ability to obtain and manipulate the list of Sonos music library shares"
This is an **enhancement request** to add the functionality described in the discussion at [1], namely to be able to obtain the list of music folder sources (e.g., network share locations) that comprise a Sonos music library, and to be able to add/remove sources from the list.

This will require investigation to explore whether the required functionality is exposed by the Sonos API.

[1] https://g

[2019-10-17 20:25] psjoholm commented on #655
Thanks for fixing this, I didn't really know what I was doing and made a fix by guessing.
No worries about the time, I have been running my private version in the meantime. Exciting to be able to contribute even in a small manner.

I tested this commit and it works fine.

[2019-10-17 20:26] psjoholm commented on #655
Sorry about being new to github, am I supposed to close this ticket now?

[2019-10-18 19:45] KennethNielsen commented on #655
I'm glad to hear that it works. Don't sweat it about Github, we were all new at some point.

Since this issue is essentially a feature request, it should stay open until either the feature request is implemented or rejected. On a side note, Github knows some magic tricks, so since I wrote in the commit message that the commit closes this issue it will happen automatically when the PR is merged.

[2019-10-18 19:49] #655 closed

[2019-10-19 06:42] maru-sama commented on #673
Hello, can you please add #589 to the new release?
It was planned for 0.18 and before but actually got lost I think.

[2019-10-20 10:52] KennethNielsen commented on #673
@maru-sama I've added it to the release milestone. The reason it ended up not being added, in spite of being such a small change, was that the patch no longer applies cleanly after all the event code changed. So it will have to be done from scratch, but it isn't that large a change so I will try to get to it soon. Will it be possibly for you to test an implementation in a PR?

[2019-10-20 11:21] maru-sama commented on #673
This should not be a problem.

[2019-10-20 11:33] KennethNielsen commented on #678
Hi @pwt

It would be great to have this functionality. The list on the wiki is static and so it may have changed over time. I will add an updated list. However, in the mean time, you can browse the currently exposed functions with the `dev_tools/sonosdump.py` tool. So I suggest you start looking through that to see if some of the functionality is trivial to find there. If there is some of the func

[2019-10-20 13:40] KennethNielsen commented on #653
@aschwith ok, let's do one thing at a time. First of, can I get you to clarify whether I read that smarthomeNG thread correctly in that the bug described there was not related to SoCo? I would like to first determine whether a bug has been observed in the wild, or only in a synthetic test.

[2019-10-20 13:42] KennethNielsen commented on #653
Second, can you please post the test code you use. That is always a good starting point. I aware that as @pfischi mentioned, it is probably close to the code in the event module docstring, but it be nice with the exact code so that we are sure we are talking about the same thing.

I hope you are ok with doing a little bit of the leg work on this one, as my time to spend on SoCo is unfortunately no

[2019-10-20 18:13] aschwith commented on #653
Hi @KennethNielsen , yes I can confirm that the smarthomeNG thread was not related to SoCo at the end. However, the memory leak is observable for everyone who uses SmarthomeNG in combination with the enabled Sonos plugin which is based on SoCo.
I am able to reproduce the memory leak issue within the smarthomeNG environment. @pfischi was able to reproduce the same issue with the SoCo minimal exampe

[2019-10-20 20:50] relevitt commented on #673
Hi @KennethNielsen. Please add #680 to the new release. It's a fix for a bug found by @maru-sama. On some systems, temp_sock.connect() fails unless a valid port is provided. We therefore use config.EVENT_LISTENER_PORT, instead of port 0.

[2019-10-21 08:40] pwt commented on #678
Ack, thanks for the pointers. Will report back here.

For reference, the output of sonosdump.py run against my Sonos 10.4 systems is at: https://gist.github.com/pwt/68125e8c5661b6a2554e47e5443359f2

[2019-10-21 15:18] KennethNielsen commented on #678
@pwt thanks for the output

[2019-10-21 15:38] KennethNielsen commented on #673
@relevitt already merged. I'm considering doing a bug fix release for it, depending on how many it is likely to affect. But let's have that discussion in the PR.

[2019-10-21 15:53] relevitt commented on #674
In events, fixed bug affecting some users in code to determine system's own IP address. Some systems require a valid port to be used (not port 0), so we use config.EVENT_LISTENER_PORT. #680

[2019-10-22 13:15] stefankoegl commented on #591
The [pythonclock.org](https://pythonclock.org/) shows 2 months and 9 days. I think it's time to deprecate support for Python 2.7 also in SoCo.

Any objections?

[2019-10-22 15:10] psjoholm commented on #674
Added class `DidlRecentShow` to implement service `object.item.audioItem.musicTrack.recentShow`. Used for podcasts etc. #677

[2019-10-22 19:34] KennethNielsen commented on #674
Change #680 mentioned by @relevitt has now also been released as a bugfix release named 0.18.1

[2019-10-22 19:38] KennethNielsen opened #681 "0.18.1 is out as a bug fix release"
I have just released SoCo version 0.18.1 as a bugfix release to fix a regression concerning events. Thank you to everyone that helped getting the issue resolved swiftly.

[2019-10-22 20:00] #681 closed

[2019-10-23 13:47] pwt commented on #678
Using Wireshark, as a first-pass it looks like the relevant UPnP API calls are:
[code]

I'll now delve into the SoCo anatomy and figure out how to add the relevant methods to MusicLibrary.

[2019-10-23 18:57] KennethNielsen commented on #591
@stefankoegl not from me, I have been wanting to do that for a while. But I also know that it is a sensitive subject for many, so I wanted if we should push it one more release and in this one insert a warning in `__init__.py`, just to make sure to cross all the t's and dot all the i's.

[2019-10-23 19:05] rytilahti commented on #591
I asked on #python@freenode about this related to another project a day back, and the answer I got is that recent-ish pypi versions should do the right thing as long as `python_requires` is set. That is, trying to pip install with pip2, the latest py2 supported version would be installed. But as I have no python2 available (nor a nice test-case for it), I haven't tested myself though...

That bein

[2019-10-23 19:16] KennethNielsen commented on #678
@pwt hmm, that probably makes it somewhat more difficult. Just as a super quick reading direction through the code if you need it:

 * The music library class gets a controller instance as an argument, this controller instance has a bunch of service instances.
 * These services are where all the heavy lifting is being done. The do some dynamic dispatch to make it seem as if you can call each of th

[2019-10-26 21:07] pwt commented on #678
Just an interim update: I have share deletion working, and share listing almost working -- just need to triangulate on how to extract and return the required info from the response.

[2019-10-27 21:48] pwt commented on #678
Very preliminary PR for share listing and deletion is now up for comment.

[2019-10-29 09:47] pwt commented on #678
@KennethNielsen : thanks for the great feedback on the preliminary PR. I'll be working through this over the next few days. I'm not a native Python speaker, so it's good learning.

[2019-10-30 16:31] KennethNielsen commented on #674
Add support for Python 3.8 #679

[2019-10-31 20:16] #535 closed

[2019-10-31 20:18] KennethNielsen commented on #674
* Copy metadata from DidlItem to MusicServiceItem in get_queue and events #589

[2019-10-31 20:20] KennethNielsen commented on #547
I think should be fixed now via #589, if that is not the case feel free to re-open

[2019-10-31 20:22] KennethNielsen commented on #552
This issue should be fixed by #589 which is now merged. If not feel free to reopen.

[2019-10-31 20:23] #547 closed

[2019-11-01 17:34] pwt commented on #678
**Status update**: `list_library_shares()` and `delete_library_share()` are now functionally complete and I think I've addressed the review comments. They're currently missing tests and some documentation; I'll return to these aspects later.

I'm now mostly focused on the trickier case of **adding** a library share.

[2019-11-02 14:02] pwt commented on #625
I have a similar issue. I have two Sonos installations, in different locations.

In **one** of these locations, SoCo discovery works if a machine has a wired Ethernet interface, but does not work if there's only a wireless interface (the multicast request times out without a response). Identical behaviour on both macOS and Windows. No such problem in the other location, with a different model of r

[2019-11-03 15:09] pwt commented on #678
I've taken the `add_library_share()` function as far as I can, but without getting it working. I can successfully establish an HTTPS connection to a player, but I'm only getting 405 / 'Method not Allowed' responses. There is standalone proof-of-concept code at [1] if anyone would like to take a look, have a play, and help me get unstuck.

In the meantime, I'm going to return to completing `list_li

[2019-11-03 15:31] KennethNielsen commented on #653
Ok. So I have tried to reproduce this within SoCo and I have been unable to reproduce any serious memory leak. When I write serious it is because I find i difficult to figure out what I should have observed. Keep in mind that this is not like memory profiling a C-program, where you are certain that every single increase in memory used is something allocated by the programmer. Python, I assume, doe

[2019-11-03 15:31] #653 closed

[2019-11-03 15:37] KennethNielsen commented on #678
Sounds great with listing and deleting. Regarding adding, would you be able to share the relevant header and bodies of the Wireshart traffic you captured?

[2019-11-04 10:11] pwt commented on #678
You'll find two Wireshark capture files in the folder at the link below [1]. One traces the HTTPS interactions between the Sonos app and a player (using port 1443) during a successful share addition operation; the other traces the unsuccessful interaction between my prototype code and a player. You should be able to load these into Wireshark and select the packets of interest.

The actual applicat

[2019-11-04 10:59] KennethNielsen commented on #678
Thanks. I was about to suggest actually comparing WireShark traces but you were way ahead of me. So yeah, it is a problem not being able to compare payloads, also since I know from experience that it is easy enough to get them wrong. A few suggestions, and I am aware that I'm kind sending it back to you is:

 * Try and hack the services code to be able to extract the full generate payload and head

[2019-11-06 20:09] KennethNielsen commented on #678
@pwt I will leave this open for further discussion about the add function

[2019-11-06 20:17] pwt commented on #674
- Add methods list_library_shares() and delete_library_share() to MusicLibrary. Partially addresses #678.

[2019-11-06 20:21] KennethNielsen commented on #676
Added to docs

[2019-11-06 20:37] KennethNielsen commented on #676
PR added to io pages: https://github.com/SoCo/soco.github.io/pull/4 closing this issue.

[2019-11-06 20:37] #676 closed

[2019-11-06 20:38] #666 closed

[2019-11-06 20:39] KennethNielsen commented on #652
We have had a few releases since this. Closing.

[2019-11-06 20:46] KennethNielsen commented on #669
@seth4618 is this still a problem for you and did you try using netifaces to get a list of ip-adresses to try as current as mentioned in the doc string https://github.com/SoCo/SoCo/blob/master/soco/discovery.py#L47

[2019-11-06 20:47] KennethNielsen commented on #651
@relevitt is this still a problem or was it related to the interface change from Sonos maybe?

[2019-11-06 21:01] relevitt commented on #651
@KennethNielsen, it was an intermittent problem, but I don't think I've come across it for a while.

[2019-11-06 22:01] KennethNielsen commented on #651
Ok, good.

[2019-11-06 22:02] #651 closed

[2019-11-07 08:57] KennethNielsen commented on #625
@gilou I'm curious whether the problem still exists for you? Also, you said you tried the interface_addr approach. Did you try that in combination with the netifaces approach as mentioned in the docstring (https://github.com/SoCo/SoCo/blob/master/soco/discovery.py#L53) to make sure that the right ip adresses were tried?

@pwt could you try the netifaces trick as well?

[2019-11-07 09:02] pwt commented on #625
@KennethNielsen Yes -- tried that without success. I'm pretty certain that in my case this is a router multicast issue, so it makes me wonder whether other reports of this issue have the same (or similar) cause.

The only curiosity is that the Sonos controller app works fine on the same WiFi network; maybe it has some fallback alternative when multicast doesn't work.

[2019-11-07 09:17] KennethNielsen commented on #625
@pwt ok. Yeah. I have been suspecting router issues as well, but I also agree that obviously since the official controller works there must be a way around it. A could of things comes to mind:

1) First of, since I know that you already know how to capture Wireshark traces, I was wondering whether I could persuade you to capture a trace during startup of the official app on the "problematic" netwo

[2019-11-07 15:13] pwt commented on #625
@KennethNielsen Good ideas. I'll run a WS capture on the Sonos app. when I'm next at the property with the problematic router.

[2019-11-07 15:54] gilou commented on #625
Hi,
I don’t have access to that setup anymore, but it it’s somehow related to multicast, that might have been the culprit. I can’t help until I get a new Sonos device...

[2019-11-08 08:22] KennethNielsen commented on #625
@gilou ok, thanks for reporting it in the first place

[2019-11-09 14:39] cclauss opened #684 "soco defined three times in test_integration.py"
https://github.com/SoCo/SoCo/blob/master/tests/test_integration.py#L25-L50
1. line 25 imports a module called __soco__
2. line 43 defines a function called __soco__
3. line 50 instantiates an SoCo() instance called __soco__

__flake8__ rightly panics with a __F823 local variable 'soco' defined in enclosing scope on line 42 referenced before assignment__

[2019-11-10 19:11] #684 closed

[2019-11-18 21:40] iamhaller opened #689 "Add ability to control HDMI ARC"
This is a feature request to add the functionality of controlling the HDMI ARC on the Beam and Playbar/base.
Functionality is known to be available to Google Assistant for example.
Would this be a possibility to add to SoCo?

[2019-11-19 10:17] pwt commented on #689
Just to note that the Sonos Playbar and Playbase do not have HDMI ARC connections, just digital optical (TOSLINK). The Beam and the Amp are the only products that currently have HDMI ARC support.

Google assistant (and Alexa) use the Sonos Cloud API, not the local UPnP API that SoCo interacts with.

What specific functions would you like to see? You can see what functions are available in the Clou

[2019-11-28 09:39] tephlon opened #692 "Support for setting balance"
I needed to be able to control the speaker balance, so I monkey patched support for it in my own script. I basically copied the volume getter/setter in core and change the volumes of the LF and RF channels. Works nicely on my paired Sonos Ones. Here is the gist of it, if anyone is interested.

[code]

Inspiration by https://github.com/jishi/node-sonos-http-api/issues/454 and https://github.com/chr

[2019-11-28 11:24] pwt commented on #692
Good work -- this is useful and personally I'd like to see it included in SoCo.

Are you going to put up a PR? If not, I'm happy to do so on your behalf. I've created a commit of the code above, with normalised docstrings at: https://github.com/pwt/SoCo/commit/ee671361768f12fe23124a524840c6ea8b1acaa4.

Feel free to grab this. It passes pep8, flake8, and the docstrings are consistent with the rest

[2019-11-28 11:34] tephlon commented on #692
That's great! Please take over, I don't have the time :)

Den tors 28 nov. 2019 12:24pwt <notifications@github.com> skrev:

[2019-11-28 11:38] pwt commented on #692
Ok, great! I'll look at adding some unit tests then pushing it as a PR. I'll credit you. (I've already functionally tested the code against my Sonos systems and it works perfectly.)

[2019-11-28 11:53] tephlon commented on #692
Awesome! Thank you!

Den tors 28 nov. 2019 12:38pwt <notifications@github.com> skrev:

[2019-11-28 18:45] pwt commented on #692
The PR (#693) is up. I changed the implementation from method calls to operations on a `balance` property, to make it more consistent with the rest of SoCo. I added unit tests and normalised the docstrings.

[2019-11-28 19:36] tephlon commented on #692
Thanks a lot! :) Yeah, I just monkey patched the instance, and shortcut the whole omg-I-don't-know-if-the-property-and-setter-decorators-work-when-monkey-patching discovery process by using a plain old getter and setter :)

[2019-11-29 07:20] KennethNielsen commented on #692
@tephlon thanks a lot for forwarding the information and thanks to @pwt for putting it into a PR. I will have a look at it as soon as I can.

[2019-11-29 08:47] pwt commented on #674
- Add a `balance` property the SoCo class, allowing get/set of speaker balance. Addresses #692. Credit to @tephlon for the idea and the majority of the implementation.

[2019-11-29 09:53] KennethNielsen commented on #692
Closed with #693

[2019-11-29 09:53] #692 closed

[2019-11-29 10:59] pwt commented on #674
- Add the `set_relative_volume()` method to the `SoCo` class.

[2019-11-30 00:20] tephlon commented on #692
Thanks a lot, @pwt and @KennethNielsen!

[2019-12-07 19:13] tagdara commented on #673
0.19 still has the standing issue that protocolInfo is not included by all services, especially but not exclusively when Amazon when used in conjunction with Alexa.  This started with the October 2017 Sonos update that enabled Alexa support.

The check for protocolInfo is in two places - at line 174 and 205 of data_structures, and appears to be purely legacy and academic.  Simply commenting out bo

[2019-12-27 23:19] sho-luv opened #696 "http://developer.rovicorp.com/ no longer supported."
The API needed to run the example web app no longer appears to be supported. I joined and created an API however its in a status of "waiting" which means it will not look up information. I looked through the forums and there are just a bunch of angry people talking about why API is still in a status of "wait". The last post is 9 months ago...

I don't think this is a viable option anymore for thos

[2019-12-29 09:33] pwt commented on #674
- Add unit test for `SoCo.MusicLibrary.delete_music_share()` (#694)

[2019-12-29 09:59] KennethNielsen commented on #591
I made #697 to add the deprecation warning and I will merge it shortly if there are no wild objections.

[2019-12-29 10:34] KennethNielsen commented on #673
SoCo 0.19 is a little late, but for once not out of real life getting busy but pure forgetfulness. I will try to wrap up 0.19 and make feature freeze today, so there is still the rest of the holidays for testing.

[2019-12-29 10:54] KennethNielsen commented on #673
@tagdara I'm sorry that this has been a problem for so long, but please understand that the issue is not quite a simple as you lay it out. The two other parts to this issue is that:

1) **Sonos isn't playing ball**. Sonos does not document how the communication with their units take place. Having to reverse engineer everything is messy and error prone. (If you are feeling adventurous I would recom

[2019-12-29 19:36] KennethNielsen commented on #673
@tagdara please review #698 and test if that solves the problem for you

[2019-12-31 00:06] fenner commented on #518
I tried a fresh install of soco and rediscovered this issue.  I realize that it only happens on large installations with many ungrouped speakers.  Since the SONOS controller app doesn't use the GetZoneGroupState SOAP call, it seems unlikely that they care that it's broken.  I see that lots of code has comments like "we could do this this way but it's faster to get it from the zone topology".  So i

[2019-12-31 00:36] fenner commented on #518
As an example of what I'm talking about wrt discovery, this works on my network:

[code]

[code]

[2020-01-02 09:50] KennethNielsen commented on #674
* Add deprecation warning concerning the removal of Python 2.7 support #697

[2020-01-02 11:34] KennethNielsen commented on #673
I've edited the dates of the original post for feature freeze today.

[2020-01-02 16:33] pwt commented on #674
- Add group volume operations (#688)

[2020-01-02 23:09] KennethNielsen commented on #673
Version 0.19 is new feature frozen. Lot's of new features in there (have a look at the release notes thread #674 or the git change log for details https://github.com/SoCo/SoCo/compare/v0.18...master for details). There are now 2 weeks for testing. I hope someone has a little time to spare to help wit the testing. In order to release we need:

- [ ] Unit tests on a Python 3 (as many versions as we

[2020-01-04 19:12] KennethNielsen commented on #673
I've branched of for SoCo 0.19 in order to be able to continue development, so all testing should now happen against the `0.19` branch

[2020-01-06 08:02] freand76 commented on #674
Fixed a bug (avoid trying to iterate a None) in discovery.py c8e4a24

[2020-01-26 11:38] sracing opened #701 "Unknown UPnP class: object.item.audioItem.linein.homeTheater"
I had a SoCoFault whenever using Sonos Playbase LineIn (Toslink) through my TV.  I am using SoCo with a third party plugin for SmarthomeNG. The warning message was:

WARNING  plugins.sonos.soco.events_base Event contains illegal metadatafor 'av_transport_uri_meta_data'.
Error message: 'Unknown UPnP class: object.item.audioItem.linein.homeTheater'
The result will be a SoCoFault.

I was able to fix

[2020-02-07 11:13] Sonosy commented on #669
Apologies, test message
Just joined Github, commented a cause and solution to this but it seems to have lost it

[2020-02-07 11:24] Sonosy commented on #669
I had the same problem on Windows, for me
`socket.gethostbyname(socket.getfqdn())`
returned
'169.254.52.68'
whereas
`socket.gethostbyname_ex(socket.getfqdn())[2]`
returned
['169.254.52.68', '192.168.56.1', '192.168.77.1', '192.168.15.1', '192.168.1.12']
The .68 is an Npcap loopback device (ie wrong), my interface is at .12
I fount a solution at [stackoverflow](https://stackoverflow.com/questions/1

[2020-02-15 21:00] nlagaros commented on #673
Will 0.19 be released soon?

[2020-02-20 01:01] relevitt opened #702 "Bug in attempt_datastructure_upgrade"
Got this error trying to control a friend's US Sonos One:

  File "/home/relent/dbmp/dbmp/soco/events_base.py", line 107, in parse_event_xml
    value = from_didl_string(value)[0]
  File "/home/relent/dbmp/dbmp/soco/data_structures_entry.py", line 53, in from_didl_string
    item = attempt_datastructure_upgrade(item)
  File "/home/relent/dbmp/dbmp/soco/data_structures_entry.py", line 87, in attemp

[2020-02-25 07:29] Auerhahn opened #703 "Grouping has no result"
May be I don’t understand the group module. I thought, when I add a player to a group, this will have the effect, that the player is member of this group. But if I do so and look then in the app (Android or Windows) there is no change. What did I misunderstand?

[2020-02-25 10:47] ghcs27 commented on #703
Can you please post a snippet of the code you use to add the player to the group?

The standard way to add a `player` to a `group` is by calling
[code]

[2020-02-25 11:14] pwt commented on #703
Yes, that's how it should work. I use the `join()` and `unjoin()` methods on SoCo objects. For example:
[code]
This groups the 'Front Reception' speaker to the 'Study' speaker, with the Study speaker as the group coordinator, and this grouping should be reflected in any Sonos controller apps.

Additional speakers can be added to the group with commands of the form, e.g.:
[code]
Ungrouping a speake

[2020-03-13 20:20] KennethNielsen commented on #673
@nlagaros I need help with testing. As soon as I get some indications that the unittests and integrations tests run on different environments and that the branch works for a few peoples use case it is out the door :)

[2020-03-14 16:46] pwt commented on #673
All unit and integration tests run successfully on:
- Python 3.7.7 on macOS 10.14.6
- Python 3.7.3 on Raspbian Buster

Note that the development documentation for testing at [1] appears to be out of date. Instead, I'm running the combined unit and integration tests using `py.test --ip <speaker_ip> soco .`

[1] https://soco.readthedocs.io/en/latest/development/unittests.html

[2020-03-14 20:34] tagdara commented on #701
There's a ton of these subclasses that get added both as physical input options and weird quirks that the various music services implement with a combination of . and #.  In the past it's been discussed that falling back to the parent class would be far better, instead of dropping a SoCoFault, especially since the fault (in most cases) crashes the entire stack and loses subscriptions to one or mor

[2020-03-22 12:49] KennethNielsen commented on #674
Released

[2020-03-22 12:51] KennethNielsen commented on #673
Version 0.19 is out. Thanks to all who contributed.

https://pypi.org/project/soco/0.19/
https://github.com/SoCo/SoCo/releases/tag/v0.19

[2020-03-22 12:51] #673 closed

[2020-03-22 15:09] #674 closed

[2020-03-22 15:12] KennethNielsen opened #708 "Release 0.20"
Summary

Previous release: 0.19 (#673)
Release notes: #709
Milestone: [0.20](https://github.com/SoCo/SoCo/milestone/16)
Feature Freeze: evening of June 18th, 2020 (see #581)
Release date: July 2nd, 2020

As something new this release I would like to ask for nominations for PR's or bugs to be in this release. There is simply to many PR's to do all of them, so I want to make sure I start with those

[2020-03-22 15:13] KennethNielsen opened #709 "Release notes 0.20"
Release notes for 0.20 (#708)

[Changes since 0.19](https://github.com/SoCo/SoCo/compare/v0.19...master)

IMPORTANT: When you write your release note addition and you mention an issue or pull request with the # syntax, please write before whether it is an issue or a pull request. It help me later writing the release notes.

[2020-03-22 15:14] #652 closed

[2020-03-22 15:19] KennethNielsen commented on #709
Format all soco main, test and example code with the black code formatter and make it mandatory going forward including a TravisCI check. Pull request #706.

[2020-03-22 15:29] KennethNielsen commented on #701
I will start working on it.

[2020-03-22 17:31] pwt commented on #708
I'd like to see #704 (stereo pairing and unpairing methods) in 0.20. The PR is now up to date with, and compliant with, the Black reformatting changes.

[2020-03-22 17:46] #612 closed

[2020-03-22 18:16] pwt commented on #709
Add support for creating and separating stereo pairs of speakers. Note: works with dissimilar Sonos speakers if required. PR #704.

[2020-03-24 00:53] seamusdemora commented on #557
This is a tough problem. The streaming music business is huge now; dominated by giants like Amazon & Apple with mountains of capital. That seems unlikely to change. Their incentive to cooperate to benefit open source seems nil.

Sonos is a "small fish" in this pond, and IMHO, Sonos is working overtime to alienate customers by leveraging forced software upgrades to sell new hardware. We are not the

[2020-03-24 01:03] samsullivan commented on #557
As a poster of one of the many related issues years ago, I agree with @seamusdemora at this point.

[2020-03-27 07:03] KennethNielsen commented on #557
@faxe1008 no updates unfortunately

[2020-03-27 07:12] KennethNielsen commented on #557
@seamusdemora not necessarily saying that I disagree with your points, I'm as frustrated a Sonos customer as everyone else. But there seems to be some misunderstanding here as to the purpose of this project. The purpose of this project never was to protect users from obsolescence (and in fact it was started long before that was even an issue), and it wont. If some of your Sonos products goes into

[2020-03-28 00:04] seamusdemora commented on #557
@KennethNielsen : Thank you for that clarification. One point that needs further clarification I think:

Wrt the firmware in the speakers:
I assumed (a dangerous practice when dealing with miscreants) that once use of the Sonos app was stopped, then Sonos would no longer have any control over the firmware in the speakers. Is that not correct? **Are you saying that the speaker firmware contains cod

[2020-03-28 10:08] KennethNielsen commented on #557
@seamusdemora ah yes. To clarify. I don't think Sonos has an interface to the speakers other than through the official app, no, but I can't be sure. The reason I talked about it the way that I did, is that at my house hold it isn't feasible to keep the official app away from the speakers.

WRT your idea. If there actually is such a place inside the speakers, where the "computer" sends simple audio

[2020-04-08 18:56] rvhu-cl opened #710 "tunein = MusicService('TuneIn') gives error"
File "/home/therol6/PycharmProjects5/sonos/sonos_test3.py", line 5, in <module>
    tunein = MusicService('TuneIn')
  File "/home/therol6/.local/lib/python3.6/site-packages/soco/music_services/music_service.py", line 354, in __init__
    "No account found for service: '%s'" % service_name)
soco.exceptions.MusicServiceException: No account found for service: 'TuneIn'

This is described in the docum

[2020-04-12 17:38] knudsvik opened #712 "'Pocket Cast In Progress' in favorite list, does not throw URI"
I am trying to play from the favorite list, using the `get_sonos_favorites` and the `play_uri` methods. Both Spotify playlists and TuneIn stations give me title, uri and meta from the favorite list, but Pocket Casts´ In Progress does not. Hence I cannot use it to play my current podcast.

[2020-04-13 13:02] KennethNielsen commented on #701
There is now a PR that fixes this #713. Instead of merely falling back to parent, this creates the vendor extended classes on the fly as simple extensions of the parents.

@tagdara would you care to review?

@sracing can you please test if it works for you.

[2020-04-13 13:06] KennethNielsen commented on #468
This issue is now resolved correct?

[2020-04-13 13:07] KennethNielsen commented on #337
We will be deprecating python 2.7 shortly, so this is no longer relevant.

[2020-04-13 13:21] #702 closed

[2020-04-13 13:23] KennethNielsen commented on #709
Fix bug where data_structures_upgrade would fail on items that has no uri #702

[2020-04-13 13:58] relevitt commented on #468
@KennethNielsen, yes it is.

[2020-04-13 14:30] KennethNielsen commented on #712
Hi @knudsvik. The ``play_uri`` method is really only for playing items, that are only available as URI's like e.g. if you want to single play a streaming URI that hasn't been added to your Sonos. If you really need this, you can use the play uri method, but be aware of the note on HTTP and HTTPS in the http://docs.python-soco.com/en/latest/api/soco.core.html#soco.core.SoCo.play_uri

However, as yo

[2020-04-14 06:48] KennethNielsen commented on #710
It seems there is a bug. I was troubleshooting it last night. I will post a PR and I workaround as soon as I can.

[2020-04-14 16:45] tagdara commented on #708
I vote for #713 of course as a fix to all of the downstream DIDL issues.  The crashes from these simple metadata issues also tend to stop subscriptions and greatly reduce reliability in long-running applications.

[2020-04-20 12:46] Letrab opened #714 "audioClip support"
https://developer.sonos.com/reference/control-api/audioclip/

Does the Sonos UPNP support triggering audioClips like the Cloud API does?

Would be nice, as this is fully functioning for the purpose of sounding a doorbell / chime or even TTS service with full playback restore / resuming functionality (TuneIn, Spotify Connect, so Spotify started from the Spotify app).

Only available for `Sonos One,

[2020-04-20 14:02] DPH commented on #714
Hi, SoCo supports taking a snapshot of what is playing, then playing an audio clip, then restoring the previous state. There are some examples: https://github.com/SoCo/SoCo/tree/master/examples/snapshot
It does work on all Sonos speakers. However, it won't restore cloud initiated queues.
So to answer your question: sort of.....

Hope this helps,
Cheers David

[2020-04-20 14:17] Letrab commented on #714
@DPH : Thanks for your quick reply. Indeed, that I knew. But unfortunately I often rely on starting music from the Spotify app, e.g. having a cloud queue.

The audioClip functionality would solve this issue, I validated this as well. But it is currently managed via the Sonos Cloud API. I was wonderring if there was a local UPNP command for it as well, to trigger it locally...

[2020-04-20 14:37] DPH commented on #714
From what I understand the answer is no, but very interested in that
too.....
Cheers David

On Mon, 20 Apr 2020 at 15:17, Bartel <notifications@github.com> wrote:

[2020-04-22 05:07] jjlawren opened #715 "Plex metadata issues"
By viewing the URIs reported by my Sonos when playing back media from Plex, I was able to figure out the URI requirements and start playback on arbitrary tracks. However, I can't get the metadata to display properly by using the various DIDL classes. Are there tricks to getting this working properly?

[2020-04-26 08:53] sracing commented on #701
I did test the 'autogenerate-wild-DIDL-Lite-classes' Branch and can confirm the former

`WARNING plugins.sonos.soco.events_base Event contains illegal metadatafor 'av_transport_uri_meta_data'.
Error message: 'Unknown UPnP class: object.item.audioItem.linein.homeTheater'
The result will be a SoCoFault.`

is gone.

BUT it gives me a new regular (20 minutes) error in the plugin that I am using (using

[2020-04-27 16:55] sglickman commented on #584
Hi,

I'm seeing this issue as well. Happens pretty regularly, and I'm not sure exactly what causes it or how to fix it. The code detaches a player from a set of players, clears the queue, adds some items to it, and then attempts to .play(), which then throws an error. I can see that the other steps have worked, and when I try to play the queue in the desktop controller it works fine.

[code]

[2020-04-29 14:42] MrZiM0 opened #716 "switch tv mode to playlist mode"
Hello ,

I read Sonos playlists pointing to spotify music with an RFID system but I encounter a problem when the tv mode is activated the playlist does not launch

How can switch the sonos to play the music queue if it is in TV mode?

Can't find any commands for it. I can switch to TV or LINE-IN mode but playlist/queue mode is not possible?

Thanks

[2020-04-29 14:59] DPH commented on #716
Hi MrZiM0,
have you tried: play_from_queue(index, start=True)[source]

Play a track from the queue by index.
The index number is required as an argument, where the first index is 0.
Parameters:
index (int) – 0-based index of the track to play
start (bool) – If the item that has been set should start playing

Cheers David

[2020-04-29 15:42] MrZiM0 commented on #716
Hi David,

Thank you for your response, it works perfectly

I used the speaker.play () function instead of the play_from_queue () function

beginner error

Cheers

[2020-04-29 15:42] #716 closed

[2020-05-09 15:15] CheapB commented on #710
I think the problem is  MusicService.get_subscribed_services_names() returns an empty list and as such TuneIn and Pandora and other services that normally works will fail with said message. I can reproduce  on 3.7.7  & 0.19

[2020-05-10 18:05] Sonosy opened #717 "Music Library get_music_library_information processes 'share' browsing incorrectly"
Using
`.get_music_library_information("share", search_term='//nas/my folder')`
sends
`<ObjectID>S::%2F%2Fnas%2Fmy%20folder</ObjectID>`
This fails on 2 counts:
1. The double colon
2. Escaping the /

What should be sent is either
`<ObjectID>S://nas/my%20folder</ObjectID>`
or
`<ObjectID>S://nas/my folder</ObjectID>`
Both work

My working code for get_music_library_information in music_library.py  is

[2020-05-11 18:03] CheapB opened #718 "avTransport events duplicated"
When going from stopped to play on a radio station TRANSITIONING and PLAYING are fired twice. When going from PAUSED_PLAYBACK to PLAYING TRANSITIONING is fired twice. going from one play list to another seems to fire one TRANSITIONING and one PLAYING. Is this intentional?

`	sonos = soco.SoCo(<insert ip address>).group.coordinator
	sub = sonos.avTransport.subscribe(auto_renew=True)

	while True:

[2020-05-12 15:04] CheapB commented on #669
I suspect the issue is you have multiple network adaptors or a complex network setup. I have tested discovery on Windows 10, Raspberry, Chip and Windows server 2008 and it only fails on the windows server and I suspect is is because I have 5 network adaptors and run Microsoft Virtual Network Switch protocol. Do you run any virtual machines on your Ubuntu instance or have multiple NICs?

[2020-05-12 15:12] CheapB commented on #703
This works well in my environment. Unless OP provides a code snippet to show the problem I suggest to close

[2020-05-12 17:54] pwt commented on #717
As noted above, I've opened a PR for this.

[2020-05-18 10:30] iainp999 opened #722 "Sonos Amp night mode and speech enhancement support"
Sonos Amp supports night mode and speech enhancement, but is not supported in the code because it is not listed as a soundbar.

I discovered this whilst using home assistant https://github.com/home-assistant/core/issues/35740

PR: https://github.com/SoCo/SoCo/pull/721

[2020-05-22 23:41] tagdara commented on #669
I discovered my problem was actually some upstream network routing that was losing some broadcast traffic, so this is definitely no longer an issue for me.

[2020-06-01 09:53] KurtSanders opened #723 "Add Sonos Move Battery Level to SoCo API"
Add SoCo API functionality to obtain Sonos Move battery level.

![Sonos Move Battery Level](https://user-images.githubusercontent.com/12133562/83397743-1fc6ce80-a3cc-11ea-8aad-f499115328e1.jpg)

[2020-06-05 04:26] jjlawren commented on #723
A charging indicator would also be useful.

[2020-06-07 10:54] KennethNielsen commented on #709
* Add support for autogenerating vendor extended DIDL-Lite classes (PR #713). This should fix all the problems we have with SoCo crashing if some vendor spedific data type is unkonwn.

[2020-06-07 12:27] KennethNielsen commented on #708
I updated the feature freeze and release dates to reflect reality :|

[2020-06-07 12:28] KennethNielsen commented on #701
I think that warning is unrelated. I will close this as I expect #713 which is now merged will fix it. It that turns out not to be the case, then fell free to re-open.

[2020-06-07 12:28] #701 closed

[2020-06-07 12:39] KennethNielsen commented on #718
Hi @CheapB

Thanks for the report. Unless due to some bug, we just relay the events that the Sonos speakers broadcasts, to keep the amount of magic in SoCo to a minumum. What this means, I'm afraid, is that handling duplicates will have to be handled at the application level. So you have to allow your application to handle receiving the same event twice in a row.

[2020-06-07 12:45] #718 closed

[2020-06-07 12:47] KennethNielsen commented on #723
Looks like a great idea. Is either of you interested in investigating whether it is possible and doing the implementation?

[2020-06-07 13:19] #710 closed

[2020-06-07 13:23] KennethNielsen commented on #710
I believe this is now fixed in master. Pleas test it if you have the option and feel free to re-open if the issue remains.

The bug was actually a little a musing. It turned out to be a simple indentation error. Somewhere in the code there is a loop over all the music services that the speaker report that they support. Towards the end was a block stating that there is always an TuneIn service, so

[2020-06-07 13:27] KennethNielsen commented on #584
@DPH I think the snapshot code was originally you addition. Do you want to have a look?

[2020-06-07 17:00] DPH commented on #584
@KennethNielsen had a look when I saw this back in April - but will look again.
Cheers David

[2020-06-07 18:35] #717 closed

[2020-06-07 19:12] pwt commented on #709
- Process share browsing correctly #717.

[2020-06-07 19:43] jjlawren commented on #723
I would, but I’m starting from scratch on my knowledge of the protocol. Any suggestions on where to start looking for the battery/charger payloads?

[2020-06-08 09:39] pwt commented on #723
I used Wireshark to take a superficial look at the interactions between a Sonos controller app and a Move, but the battery level and charging state didn't jump out at me.

[2020-06-08 11:17] iainp999 commented on #709
Categorise Sonos Amp as a playbar in order to provide support for 'night sound' and 'speech enhancement' https://github.com/SoCo/SoCo/pull/721

[2020-06-08 14:09] jjlawren commented on #723
I've looked through the various XML endpoints and nothing seemed to indicate a battery level or charging indicator. Is it possible it's only provided via events?

[2020-06-08 14:15] pwt commented on #723
One place battery info can be found is in the speaker support page. Go to:
`http://192.168.0.41:1400/support/review` (substituting the correct IP address for your Move), then click on the name of the Move speaker, then `Battery Status`:

![screenshot_0838](https://user-images.githubusercontent.com/1089749/84040487-9babb280-a99a-11ea-8f5a-6861424e3f56.png)

Note that my Move is running the just rel

[2020-06-08 15:21] tksunw commented on #723
I have an S1 Move, and it does not have the "Battery Status" link in the 'support/review' page.

[2020-06-08 18:51] DPH commented on #584
This is a challenging intermittent error. I have struggled to replicate on my system, but did achieve it twice after lots of tries. On investigation when snapshot restores, the first thing is check if something is still PLAYING and if so PAUSE it.

I believe that the cause of this error is a small network delay where the request for current_transport_state shows PLAYING when the track has just STO

[2020-06-08 19:22] KennethNielsen commented on #723
@tksunw you might try and have a look at the address. It might very well have the status page even if the app doesn't expose it.

[2020-06-08 19:25] KennethNielsen commented on #723
@pwt can you try and have a look if it has an xml version as well in some variant of xml right after the port and as an extension, like the device page: http://192.168.1.100:1400/xml/device_description.xml

[2020-06-08 20:15] sglickman commented on #584
When I've experienced it, there's definitely nothing playing and there hasn't been anything playing particularly recently, but I'll try adding a .stop() call first.

thanks!

[2020-06-08 20:43] pwt commented on #723
Nothing obvious in the device desc. XML. There is, however, a chunk of XML in the page source of the support/review URL I pointed to above:

[code]

A reminder that this is with Sonos S2. I only have the one Move, so I can't check what S1 supplies.

[2020-06-08 21:02] jjlawren commented on #723
That section is _not_ shown in the S1 `support/review` raw XML.

[2020-06-08 21:21] tksunw commented on #723
It does have a device_description.xml page.  No LocalBattery info, though.

[move-s1-device_description.txt](https://github.com/SoCo/SoCo/files/4748675/move-s1-device_description.txt)
[move-s1-status-info.txt](https://github.com/SoCo/SoCo/files/4748677/move-s1-status-info.txt)

[2020-06-09 10:17] pwt opened #725 "Integration test "test_remove_playlist_bad_id" fails without playlists present"
One of the integration tests fail when run against a Sonos S2 speaker, specifically a Sonos 'Move' running software v12.0. Output below.

(The rest of the integration tests pass.)

[code]

[2020-06-09 14:06] ghcs27 commented on #725
Seems like `soco.get_sonos_playlists()` returns an empty list. Can you please check if there are any playlists available on the test system?

[2020-06-09 16:48] pwt commented on #725
That was the problem -- thanks. I should have taken a closer look.

[2020-06-11 13:45] ronschaeffer opened #727 "Feature request: Support for saved room groups in Sonos S2"
This is a feature request to support saved room groups as introduced with Sonos S2.

Saved room groups are essentially shortcut to select a set of rooms which are frequently played together. Groups saved in an app on one device are visible on other devices connected to the system. Only the OS and Android apps support saved groups. The desktop apps do not.

Requested functionality:
1. Room groups c

[2020-06-11 23:52] CheapB opened #728 "Events broken on linux - OSError: [Errno 98] Address already in use"
Events seems to be working on windows but is throwing an error on linux (RPI) tested on .19 and current master as of today. This used to work, but not sure if the change is on soco or Sonos API

`from queue import Empty
import soco
from soco.events import event_listener
import logging
logging.basicConfig(level=logging.DEBUG)
device = soco.SoCo("10.0.1.97")

sub = device.avTransport.subscribe(auto_

[2020-06-12 21:41] #725 closed

[2020-06-13 15:10] pwt commented on #709
Improve test_remove_playlist_bad_id() to handle the case of no existing playlists.
PR #726, fixes issue #725.

[2020-06-13 21:01] tagdara opened #729 "DIDL error for object.item.audioItem.linein.sonos-favorite"
I know I submit a lot of these, but with the next version coming up I wanted to make sure this one is in line with the proposed fixes.  I think it is a compound problem from previous issues where there is no linein object AND there's no linein.sonos-favorite either.

I'm not sure why this freshly happened for me this morning unless its some weird S1/S2 stuff or I recently tagged the line-in as a f

[2020-06-13 21:10] tagdara commented on #729
As a follow-up, I did some investigation into what the device was returning for AVTransport and got this interesting tidbit:

(Note that it is actually playing from the line-in on a Sonos connect and I have no Airplay support on any of my Sonos devices)

[code]

[2020-06-16 14:36] CheapB commented on #728
This seems to have been resolved with the latest Sonos update so I am closing it for now

[2020-06-16 14:36] #728 closed

[2020-06-16 19:04] rvhu-cl opened #731 "Error removing Alarms"
Adding alarms works fine but remove them I get error messages
python code
[code]

[code]

[2020-06-16 19:18] rvhu-cl commented on #710
Still get the following error.

Traceback (most recent call last):
  File "sonos_test_music_libary.py", line 221, in <module>
    tunein = MusicService('TuneIn')
  File "/home/therol6/.local/lib/python3.6/site-packages/soco/music_services/music_service.py", line 354, in __init__
    "No account found for service: '%s'" % service_name)
soco.exceptions.MusicServiceException: No account found for ser

[2020-06-16 19:40] rvhu-cl commented on #731
I have check the code but self_alarm_id needs to be filled in remove() so it only works if you save a alarm just before but if you want to delete a existing alarm it cannot be used.
 I added an new function.
    def remove_id(self,alarm_id):
        """Remove the alarm from the Sonos system.

        There is no need to call `save`. The Python instance is not deleted,
        and can be saved back

[2020-06-18 17:55] KennethNielsen commented on #708
Last PR merged. Version 0.20 is now feature frozen. I will push the release date slightly to make room for testing. As always I'd like to get:

1) a couple of people to sign of on the unit and functional tests passing on their machine (and if we can we should get preferably 2 operation systems involved).
2) Confirmation from as many people that we can that it works for their application

Happy tes

[2020-06-18 17:56] KennethNielsen commented on #708
I might end the testing period as much as a week before if we get appropriate testing.

[2020-06-18 18:06] KennethNielsen commented on #710
@rvhu-cl did you test against the developement code? Because the fix is not yet released.

[2020-06-18 19:36] bdraco commented on #709
If port 1400 is in use, the next available 100 ports will be tried.  #724

[2020-06-18 22:04] CheapB commented on #710
I can confirm it works with current master:

`Python 3.7.1 (v3.7.1:260ec2c36a, Oct 20 2018, 14:57:15) [MSC v.1915 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

<MusicService 'TuneIn' at 0x226f7b8>

`

[2020-06-19 09:26] pwt commented on #708
Unit and integration tests all pass on:
- macOS (10.14.6), Python 3.7.7
- Raspbian (Buster), Python 3.7.3

Tests were conducted against Sonos S1 (11.2) and Sonos S2 (12.0) devices.

[2020-06-19 13:28] physi3 opened #732 "Question: Getting Subscribed Services"
Hi, I'm new to this library and am confused with some of its intricacies.

I am trying to get all of my system's subscribed services and I see that a SoCo object must be passed in. However, no matter what I try, I always get an empty set. I can only assume I am making an error and this is certainly not an issue.

If anyone can give me a hand that would be greatly appreciated.

[2020-06-19 13:54] DPH commented on #732
Hi, there is an example in the code which I have copied here. Have used it before, but not tested it this time. Give it a try - shout if you need more help. Cheers David
[code]

[2020-06-19 19:03] KennethNielsen commented on #710
Great. It should be out in less than 2 weeks as SoCo 0.20.

[2020-06-21 20:04] zacciep commented on #732
I believe I see a similar issue.  MusicService.get_subscribed_services_names() returns an empty list, even though I have working services.

[2020-06-25 06:32] KennethNielsen commented on #708
Would anyone care to test another Python version or check in that their SoCo using application works?

[2020-07-06 16:00] zeiv commented on #394
I can confirm.  In my particular case, if all zones are already in the same group I get the UPnP error above.  Unjoining and then trying partymode again works.  I have not tested this there the zone I am calling partymode on is in a group that contains more than one but less than the total number of zones.

[2020-07-09 10:09] pwt opened #734 "get_queue() fails for Podcasts"
Calling `get_queue()` when there's a podcast in the queue will throw a `DIDLMetadataError`:

[code]

[2020-07-13 19:06] svrooij commented on #732
@physi3 @zacciep @DPH It seems like the `MusicService.get_subscribed_services_names()` makes a call to `http://IP-of-Sonos:1400/status/accounts` and that xml file is empty at my device.

Did you guys found out some other way to get access to the subscribed services?

[2020-07-13 19:21] svrooij commented on #689
I’ve created a [generator](https://github.com/svrooij/node-sonos-ts/tree/master/src/generator) that parses the Sonos device description and supported services and then generates all the [services](https://svrooij.io/node-sonos-ts/sonos-device/services/services.html) this means there is an easy way to find out what commands you can send to the Sonos device.

We also have support for night mode and

[2020-07-13 19:27] svrooij commented on #732
Related to #650

[2020-07-13 19:32] svrooij commented on #586
Last few days, I’ve been working hard to figure this out, and I might release this proof of concept soon. See https://twitter.com/svrooij/status/1282437634460200963?s=21

[2020-07-19 10:05] manu241 opened #736 "ERROR plugins.sonos.soco.events Exception received in Subscription.renew for Subscription to"
Hallo,

ich bekomme folgende Meldungen in meinem Log.
Was könnte das sein? Die Player sind alle auf dem neusten Stand,

`2020-07-18  02:44:11 ERROR    plugins.sonos.soco.events Exception received in Subscription.renew for Subscription to:
http://192.168.2.159:1400/MediaRenderer/AVTransport/Event, sid: uuid:RINCON_5CAAFD1A657501400_sub0000203428
Traceback (most recent call last):
  File "/usr/local

[2020-08-14 11:56] probonopd opened #737 "Does this work with Spotify Free on Sonos?"
Does this work with Spotify Free on Sonos? (No paid Spotify account)

[2020-08-14 12:09] DPH commented on #737
Hi, Sonos only works with a paid Spotify account.
SoCo is for controlling Sonos by sending IP commands.
So the answer to your question is No.

Cheers David

[2020-08-14 12:48] probonopd commented on #737
Are you sure?

https://support.sonos.com/s/article/1153?language=en_US says

[2020-08-14 12:53] pwt commented on #737
Spotify does now permit the use of free accounts on Sonos. That's a relatively recent change.

However, SoCo has limitations in controlling Spotify (and some other streaming services): see the notes in the README: https://github.com/SoCo/SoCo#warning

[2020-08-14 12:57] probonopd commented on #737
Thanks for the explanation.

[2020-08-14 12:57] #737 closed

[2020-08-17 18:20] ahummel25 commented on #709
Is the pairing functionality from #704 not merged in yet? I did an install of the latest version (0.19) and those two functions aren't in `core.py`.

[2020-08-17 18:22] pwt commented on #709
It's merged for inclusion in 0.20, but the 0.20 release seems to be stuck.

[2020-08-17 18:27] ahummel25 commented on #709
Any idea what the hold up is?

[2020-08-17 18:37] pwt commented on #709
No, sorry. I asked in Gitter (https://gitter.im/SoCo/SoCo) about three weeks ago, but no responses so far.

[2020-09-10 19:27] declension opened #740 "Add to_dict() to MSTrack"
First, thanks for a great project!
### Feature Request
A new `MSTrack.to_dict()`, to behave like `DidlMusicTrack.to_dict()`

### Motivating Example
[code]

Related: I was expecting Music Service Tracks to share some of the same Didl hierarchy, but I guess there are good reasons why that's not the case, but a common superclass / mixin with just `to_dict()` might be nice too...

[2020-09-11 15:10] JetDeveloping commented on #740
Hey, @declension! I created a pull request that added an 'MSTrack.to_dict()' function. However, until this gets approved (or it doesn't), MSTrack has a `content` attribute, so in the meantime you can basically just do:
`MSTrack.content.` Obviously, since the values are dynamic, you'll have to initialize the class beforehand trying to get this.

Hope I could help!

[2020-09-25 07:04] Barry4679 commented on #736
I don't speak German, sorry.

I have just received this error also.
SoCo has failed in its attempt to auto renew your Sonos event subscriptions.
In my case something must have happened in my LAN or my Sonos zones. My Sonos zones had reset themselves to the top of the music queues during the night. And I got the same auto-renewal failure log messages.

Your program will need to detect this situatio

[2020-09-25 07:24] pwt commented on #736
If Sonos devices are rebooted (for example as part of a firmware update), they do not preserve their event subscriptions.

[2020-09-26 16:38] realwakils opened #743 "type object 'SoCo' has no attribute 'discover'"
I get that error on SoCo.discover()
is there any other way to get all connected sonos devices

[2020-09-26 16:42] pwt commented on #743
Use `speakers = soco.discover()`. This will return a list of SoCo objects representing each visible Sonos device.

[2020-09-26 16:53] realwakils commented on #743
i'm currently using from soco import SoCo
is that the right import?

[2020-09-26 16:57] pwt commented on #743
Either:
- `from soco import discover` then use `discover()` directly, or:
- `import soco` then use `soco.discover()`

[2020-09-26 16:57] realwakils commented on #743
ah i fixed it. just imported both from soco import SoCo and also just import soco!

[2020-09-26 17:02] realwakils commented on #743
a quick question:
when i run this:
for device in soco.discover():
    print(device.volume())

it return the error:
   print(device.volume())
TypeError: 'int' object is not callable

[2020-09-26 17:06] pwt commented on #743
Use `device.volume` (no parentheses). It's an attribute (using a getter), not a function.

http://docs.python-soco.com/en/v0.19/api/soco.core.html

[2020-09-26 17:10] pwt commented on #743
By the way, if you want a less obscure way to use SoCo's features, you might want to try my command-line wrapper:

https://github.com/avantrec/soco-cli

[2020-09-26 17:11] realwakils commented on #743
tysm have a great day

[2020-09-26 17:11] #743 closed

[2020-09-27 09:39] realwakils commented on #660
@jnth tysm i've been pulling my hair trying to figure out why soco.discover() returned None. thaanks!

[2020-10-06 18:27] ItsDario7 commented on #660
@realwakils Hello, I am alsow trying to fix this, but i just cant get the patch.txt file runing...
Can you show me how it is done?

[2020-10-06 18:53] pwt commented on #660
As well as switching the input to Line In, make sure you're also instructing the device to play().

[2020-10-06 19:07] ItsDario7 commented on #660
@pwt Thank you for the fast help. But it still won't work for some reason...

My Code:
[code]

[2020-10-06 19:27] pwt commented on #660
Your code looks fine to me; not sure why it's not working nor why you're seeing the source name difference. I'm not seeing that behaviour.

[2020-10-06 19:29] ItsDario7 commented on #660
@pwt Thanks for the help anyways (: Have a great day! I will hopefully find a solution somewhere.

[2020-10-06 19:34] pwt commented on #660
You could install my SoCo CLI library instead, just to test if the behaviour is the same:

[code]

[2020-10-06 19:38] ItsDario7 commented on #660
When I try to run that it says: **Speaker 'ItsDario' not found**

[2020-10-06 19:42] pwt commented on #660
Could you run `sonos-discover` and supply the output, please? Thanks.

[2020-10-06 19:45] ItsDario7 commented on #660
![image](https://user-images.githubusercontent.com/72466771/95252421-433bd300-081d-11eb-9dbe-f302fbad0d27.png)

[2020-10-06 19:47] pwt commented on #660
Thanks. To which speaker (left or right) is your Line In device (Dario) attached?

[2020-10-06 19:48] ItsDario7 commented on #660
![Uploading image.png…]()

[2020-10-06 19:51] pwt commented on #660
That's the problem. The SoCo code is assuming Line In is the default (left speaker) input. Try the following, where `$X` is the IP address of your right hand speaker:

`sonos ItsDario vol 85 : ItsDario line_in $X : ItsDario play`

[2020-10-06 19:55] ItsDario7 commented on #660
That solved my Problem! Thank you very much (: 👍 Have an awsome day!

[2020-10-06 20:00] pwt commented on #660
Great. In case it's not obvious, if you want to do it in Python, you need to modify your code as follows:

[code]

[2020-10-06 21:00] ItsDario7 commented on #660
I have one more Question. Can i run that when my PC starts? Would be awsome, just couldn't find how to do it, thats why i came back here haha

[2020-10-07 07:38] pwt commented on #660
I don't use Windows very often, but I suspect you'd need to use the Windows Task Scheduler, triggering execution on your desired event(s).

[2020-10-07 16:26] ItsDario7 commented on #660
I am using pyCharm to make the Script. Now i want to use the script without needing to go in to the editor and run the script. How do i run it without the editor?
I have tryed to run the file itself and i have tryed to run the file with the Windows Terminal...

[2020-10-07 16:32] pwt commented on #660
From the Windows terminal, use `python <your_program_name.py>`. This assumes that your system Python environment is set up appropriately and contains the required packages (SoCo, etc.).

If it's not, you'll first need to determine which Python installation is being used within PyCharm.

[2020-10-07 16:46] ItsDario7 commented on #660
![image](https://user-images.githubusercontent.com/72466771/95361747-6cb43780-08cd-11eb-9fed-68821bc33b5a.png)

[2020-10-07 16:47] ItsDario7 commented on #660
same here
![image](https://user-images.githubusercontent.com/72466771/95361907-9cfbd600-08cd-11eb-812b-897ab421997a.png)

[2020-10-07 17:34] pwt commented on #660
In thet case, Pycharm is probably using a **venv**, which you will need to activate in the Windows terminal before running your program. If you Google `Python Virtualenv`, that should get you on the right track.

Alternatively, in the Windows terminal, you can try `pip install soco`, which will install the SoCo package in your system Python. Then try running your program again.

[2020-10-10 12:39] ItsDario7 commented on #660
I had to install pip in the normal python terminal and after that i could install soco.
Now i can run the python file. (:  It will alsow run on my computer startup now.
Thank you soo much for the Help!

[2020-10-18 18:44] KennethNielsen commented on #709
0.20 is finally out. Thanks to everyone who contributed.

[2020-10-18 18:44] #709 closed

[2020-10-18 18:45] KennethNielsen commented on #708
0.20 is out. Thanks to everyone who contributed.

[2020-10-18 18:45] #708 closed

[2020-10-18 19:17] KennethNielsen opened #746 "Release 0.21"
**Summary**

Previous release: 0.20 (#708)
Release notes: #747
Milestone: [0.21](https://github.com/SoCo/SoCo/milestone/17)
Feature Freeze: evening of Jan 3rd, 2021 (see #581)
Release date: January 17th, 2021

As something new this release I would like to ask for nominations for PR's or bugs to be in this release. There is simply to many PR's to do all of them, so I want to make sure I start with

[2020-10-18 19:20] KennethNielsen opened #747 "Release notes 0.21"
Release notes for 0.21 (#746)

[Changes since 0.20](https://github.com/SoCo/SoCo/compare/v0.20...master)

IMPORTANT: When you write your release note addition and you mention an issue or pull request with the # syntax, please write before whether it is an issue or a pull request. It help me later writing the release notes.

[2020-10-20 06:45] KennethNielsen opened #750 "Introducing our new release manager @pwt"
Dear SoCo team and users

For a while now the SoCo project has struggled to get releases out on time. This has been mostly due to available time on my end. It is however unsatisfactory to see new functionality and fixes to important problems added upstream without being release.

To try and fix the problem I decided to ask for some help and @pwt graciously agreed to take on the new role as **relea

[2020-10-20 15:14] pwt commented on #734
This issue is essentially fixed in v0.20. I think the fix is in commit: https://github.com/SoCo/SoCo/commit/b9bd4ba1a6c4b2c431ede6caec2e095e179f2ffb

[2020-10-20 15:14] #734 closed

[2020-10-20 18:35] KennethNielsen commented on #729
@tagdara

:rofl: WRT data hygiene. The fix with rolling up to the nearest parent should now be released with 0.20. Can you check if it solves the problem?

[2020-10-20 18:55] KennethNielsen commented on #740
@declension hi. Thanks you for the requests. Is there a usecase behind the request other thans printing? Also, which MSTrack do you refer to. For historical reasons there are 2 (don't ask). One (in soco.ms_data_structures) is used for music service plugins, of which there was a few back in the day, and the other (in soco.music_services.data_structures) is used by the dynamically generated music se

[2020-10-20 19:03] declension commented on #740
Thanks - IIRC it was getting playlists items out of a playlist with mostly local files and occasional Music Services files, if that helps

[2020-10-20 19:19] KennethNielsen commented on #586
@svrooij that sounds really interesting. Do you have some example **output** from running the code e.g. logging in and doing a track search? If the offer still stands and it demonstrably works with at least some of the popular services I would be willing to put your request for sponsorship on the project main page.

[2020-10-20 19:31] svrooij commented on #586
After that tweet I made a small proof-of-concept.

https://asciinema.org/a/356811

This is a sample of the spotify output. Off course it's soap, but the output is converted to JSON.

Most services support search and browse, the sample shows browsing. So first you browse **root**. Then you can browse the 3 options, then ... until you get to either a playlist or a song.

I figured out what parameter

[2020-10-28 10:44] pwt opened #752 "[Developer] Can't build complete API documentation"
## Summary of the Problem

I'm attempting to build the SoCo documentation to check that any edits I make are correct. I've been able to do this successfully in the past.

The issue I'm experiencing is that the API documentation is not populated. For example, `doc/_build/html/api/soco.core.html` contains the boilerplate but none of the detailed information from the function docstrings:

![screensho

[2020-10-28 19:25] giu1io commented on #747
Updated documentation to list all supported play_modes (PR #739)

[2020-10-29 19:24] KennethNielsen commented on #752
Hmm. There isn't supposed to be any extra steps. A few lines in the log looks interesting:

[code]
So we use something called intersphinx, which is used to make the types written in doc strings turn into links to those documents API docs. For some reason it seems that i can't fetch those definitions.

[code]
It is a little foggy, but I think graphviz, which is used to auto-generate e.g. inheritanc

[2020-10-29 19:51] KennethNielsen commented on #752
Ok. I can confirm that a lot of the documentation is simply not building correctly. I have started fixing it, but will not be able to complete it tonight. This gif comes to mind: https://www.pinterest.dk/pin/A7xh1wAQgNkB5D40-0GJjk0/

It seems that the api docs used to build with just e.g:
[code]
in the file, but now needs:

[code]

and then it builds ... but you get loads of warnings.

[2020-10-29 20:12] pwt commented on #752
No hurry for this, from my perspective. I'm not blocked.
Enjoyed the gif :)

[2020-11-01 20:14] KennethNielsen commented on #752
Ok. Got the docs building now. I'm just missing glancing them over for any very visible formatting errors.

[2020-11-01 22:12] KennethNielsen commented on #752
@pwt I sent in a PR #753 with tons of little doc fixes that were preventing the docs to build cleanly. Would you mind having a look at it and see if it fixes your problem and, if you will, review the PR. Besides from all the more or less trivial doc fixes there is also a change to the `deprecated` decorator.

[2020-11-02 13:19] pwt commented on #752
Great -- thanks @KennethNielsen. I've reviewed the PR: just to confirm #753 fixes the issues I was seeing. I'll close this issue once #753 is merged.

[2020-11-03 07:05] #750 closed

[2020-11-03 07:31] #752 closed

[2020-11-14 16:52] pwt commented on #723
I have a PR (#756) up for this feature. I've only tested with S2. Based on @jjlawren's report above, it would be useful if someone could test against a Move on an S1 system.

[2020-11-14 16:59] jjlawren commented on #723
My system is on S2 so I cannot validate on the legacy system. Should the new feature fail gracefully on a S1 Move?

[2020-11-14 17:01] pwt commented on #723
It will raise a `NotSupportedException`.

[2020-11-14 17:36] pwt commented on #723
If anyone wants to do a quick-a-dirty test, there's a similar implementation of this feature present in [soco-cli](https://github.com/avantrec/soco-cli) v0.1.42 now ... pending being able to use the native SoCo one.

Usage: ```sonos <name_of_Move> battery```

Example Output:
[code]

[2020-11-14 22:33] ds1019 commented on #586
Hi,

I got the following working with Amazon. It requires a separate authentication and does not re-use the one in the speakers :( But better than nothing.
Unfortunately, I did not get the search call to work.

1)

send POST request to sonos.amazonmusic.com

<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns="http://www.sonos.com/Services/1.1">
   <soapenv:Header>

[2020-11-14 22:36] ds1019 commented on #586
Hi,

I got the following working with Amazon. It requires a separate authentication and does not re-use the one in the speakers :( But better than nothing. Unfortunately, I did not get the search call to work.

1) send POST request to sonos.amazonmusic.com

`<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns="http://www.sonos.com/Services/1.1">
   <soapenv:Header>

[2020-11-16 08:26] pwt commented on #747
Add the ability to discover Sonos systems by scanning the network. PRs #733 and #755.

[2020-11-16 09:15] KennethNielsen opened #757 "Doc request: Add group manipulation example to micro examples"
_Making this issue for a friend_

The examples page in our docs (http://docs.python-soco.com/en/latest/examples.html) consist of micro examples on how to perform some small task. It would be great if they would be extended with examples of group manipulation. More specifically:

* How to make a group (possibly showing the changes in topology)
* How to play something on the group (keeping track of

[2020-11-16 17:50] pwt commented on #723
Fixed by #756.

[2020-11-16 17:50] #723 closed

[2020-11-16 17:52] pwt commented on #747
Add the ability to get battery status information from Sonos Move speakers. PR #756.

[2020-11-16 18:04] svrooij commented on #586
@KennethNielsen  I've [documented](https://svrooij.io/sonos-api-docs/music-services.html) how to connect to external music services.

anyone who wants me to continue this research, please [sponsor me](https://github.com/sponsors/svrooij?o=esc)

[2020-11-17 08:39] pwt commented on #747
Prevent zone-group-state cache causing problems with multi-household systems. PR #656.

[2020-11-19 04:41] sglickman opened #758 "Can you queue specific folders from music library?"
Hi - I'm trying to set up an NFC-reading Raspberry Pi to play specific albums on demand but am not sure what the best way to do this is.

I was originally retrieving a playlist of URLs using the Google Play Music proxy, and queueing those up but tragically Google Play Music is no more. SoCo doesn't support authenticated services like YouTube Music, so I was thinking that the best way to do this no

[2020-11-20 20:02] sglickman commented on #758
Looks like the music library isn't structured in this way, so closing this issue.

[2020-11-20 20:02] #758 closed

[2020-11-20 20:03] sglickman opened #759 "get_albums apparently ignoring search term; search term not "fuzzy""

[2020-11-20 20:22] sglickman opened #760 "get_albums apparently ignoring search term; search term not "fuzzy""
The only reliable way I've found to retrieve an album from a music library is with `get_tracks_for_album(album_artist, album_name)`, with exact string matches for `album_artist` and `album_name`.

Is this expected?

Let's say I'm looking for the Beatles album "Let It Be". In my library, I have the artist as "The Beatles" and the album as "Let It Be (2009 Stereo Remaster)".

[code]

I would expect

[2020-11-20 20:24] sglickman commented on #760
Haha sorry to keep raising these issues and closing them - I see `get_albums` requires a named `search_term` keyword.

`music_library.get_albums(search_term="Let It Be")` not `music_library.get_albums("Let It Be")`.

[2020-11-20 20:24] #760 closed

[2020-11-20 21:35] Dan1001 opened #761 "Snapshot restore throws UPnP error 402"
Hi,

multi_zone_snap.py consistently fails if any of the Sonos devices is playing music - upon the restore, it gives a 402 error as follows:

`Traceback (most recent call last):
  File "./test2.py", line 84, in <module>
    play_alert(
  File "./test2.py", line 74, in play_alert
    zone.snap.restore(fade=fade_back)
  File "/usr/local/lib/python3.8/dist-packages/soco/snapshot.py", line 214, in res

[2020-11-21 17:31] DPH commented on #761
Hi @Dan1001
I have tested out the example program in the SoCo release with Python 3.8 my system is S1 Sonos.
I can't make it fail whatever is playing or not!

Looking at the error you get it implies you are playing a stream / radio station - can you let me know what you are playing please. Also are you on S1 or S2 sonos? Assume you are using SoCo 0.20 ?

Maybe you could try the example in the SoCo

[2020-11-22 11:23] Dan1001 commented on #761
Many thanks. I'm guessing the difference is that my system is S2 Sonos.

My SoCo release is 0.20. Python 3.8.5, and I was playing a stream on Spotify, then testing using an unedited version of multi_zone_snap.py.

Thanks for the pointers to the other issues around 702. I tried the suggestion of amending "pause" to "stop" in line 178 of snapshot.py - that doesn't help.

Dan

[2020-11-22 12:46] DPH commented on #761
Interesting. How many zones are you snapshotting, how many are grouped and how many are playing music?
Which zone is it failing on - the device - maybe its something special on that device.
Assume your alert is as in the example.
Can anyone else try the example on an S2 set up please?
Cheers David

[2020-11-22 13:08] Dan1001 commented on #761
I've tested, and get the error whether I run the alert (per the example) on all zones, or on individual zones one at a time (ungrouped). All the devices are One SLs, and all respond in the same way.

Some more testing: the error appears consistently when streaming from Spotify on either my iphone or macbook. However there is no error if streaming from youtube on iphone/macbook. And no error if Son

[2020-11-22 13:12] pwt commented on #761
It sounds like you're streaming to the Sonos speakers using AirPlay?

[2020-11-22 13:13] pwt commented on #761
Working fine for me on S2, playing Spotify directly from Sonos.

[2020-11-22 14:13] Dan1001 commented on #761
It's Spotify Connect

[2020-11-22 14:14] Dan1001 commented on #761
@pwt, could you please try if you play Spotify from the Spotify app?

[2020-11-22 14:40] pwt commented on #761
I get the same error as you, if using Spotify Connect. However, I think that's what I'd expect when Sonos is being controlled by something external to the system. I'd expect the same limitation with AirPlay playback.

[2020-11-22 16:08] Dan1001 commented on #761
oh - perhaps this is inevitable, then!

[2020-11-22 17:54] DPH commented on #761
Playing this way erros on S1 also.  Like queues started from Alexa or Google Home (cloud queues) they can't currently be restarted from SoCo. You can pause  them and play them, but once you stop or play an alert sound you loose connection with the original stream.

There are some options:
- we can trap this stream and not raise an error -  but it will just not restart - as with other cloud queues.

[2020-11-24 19:33] rvhu-cl commented on #731
pull request: add save by id and remove by id.

something for the new release.

    def remove_id(self,alarm_id):
        """Remove the alarm from the Sonos system.

        There is no need to call `save`. The Python instance is not deleted,
        and can be saved back to Sonos again if desired.
        """
        self._alarm_id = alarm_id
        self.zone.alarmClock.DestroyAlarm([

[2020-11-28 21:53] svrooij commented on #661
this seems like an easy fix.

Just call [setavtransporturi](https://svrooij.io/sonos-api-docs/services/av-transport.html#setavtransporturi) with:

- InstanceID = `0`
- CurrentURI = `x-rincon-stream:{uuid}` [see this to load the uuid](https://github.com/svrooij/node-sonos-ts/blob/master/src/sonos-device.ts#L276-L282)
- CurrentURIMetaData = ``

Can anyone point me to where all the requests are defin

[2020-11-29 11:06] pwt commented on #661
This issue is no longer present, so I'm going to close it. It was a consequence of #660, which was resolved in PR #662.

[2020-11-29 11:06] #661 closed

[2020-11-29 19:34] fluxens opened #762 "Playing Spotify ID items via play_uri() results in UPnP 701"
From what I understand this should work:

`s = SoCo("192.168.4.113")`
`s.play_uri("x-sonos-spotify:spotify:album:6xaalWgqmC00dKgrFLlcmk")`

This results in  `UPnP Error 701 received: Transition not available from 192.168.4.113`.

 I guess I am missing smth.

[2020-11-29 20:32] pwt commented on #762
There are issues with playback from music services, which are being looked at. See the 'WARNING' section in the README (https://github.com/SoCo/SoCo/blob/master/README.rst), and issue #557.

A workaround is first to add the album as a Sonos Playlist, then use SoCo to add it to the queue, followed by playing from the queue.

[2020-11-30 16:45] rytilahti commented on #461
Separating the speakers from the surround setup is more complicated than simply toggling whether they are used or not (as done in the linked PR). Here are the commands for creating a group and then disbanding it:
[code]
When doing this with the app, you will need to manually confirm the location of one of the speakers, it may be possible to go around that limitation by directly using the `HTSatCha

[2020-12-01 00:03] gfischershaw opened #764 "discovery() only enumerates first ipv4 address for host name"
Running VirtualBox with a Host-Only Ethernet Adapter. The **discovery()** method picks up that address first and so cannot enumerate the devices on the local network. Switching to **gethostbyname_ex()** seems to work.

[code]

[2020-12-01 09:04] pwt commented on #764
Note that you can supply an `interface_addr` as an optional parameter to `soco.discovery.discover()` [1]. Perhaps you could give that a try. Also, there's a new discovery technique arriving in SoCo 0.21 that can search all interfaces for Sonos devices, which will circumvent problems with selecting the right network interface(s).

[1] http://docs.python-soco.com/en/v0.20/api/soco.discovery.html
[2]

[2020-12-01 23:57] gfischershaw commented on #764
When I first ran into this problem I did indeed hardcode the correct IP, but it did not seem like a good solution to do that for each and every device on which I ran a script. The function is also used in discovery.any_soco(), discovery.by_name(), and get_alarms(). It seemed better to just fix the problem, which is to get all the interface IPs. The new code looks like it just uses the current meth

[2020-12-02 04:12] gfischershaw opened #765 "Unable to obtain the name of audio inputs"
AudioIn service is not present, which allows one to obtain the names of the RCA audio inputs.

[2020-12-02 09:43] pwt commented on #764
Your proposed change looks like a good improvement for single interface hosts with multiple IP addresses. Would you like to create a PR for review?

Just to add that `scan_network()` is intended as a standalone function that works with multihomed hosts, with multi-household Sonos systems, and works on networks where normal discovery fails due to SSDP forwarding misbehaviour. It's just provided as

[2020-12-02 12:10] pwt commented on #765
It would be good see this added.

(I have quite good support for Line-In in [soco-cli](https://github.com/avantrec/soco-cli), but it would be nice to be able to nominate Line-In sources by name.)

[2020-12-02 13:00] pwt commented on #764
Reflecting on this, perhaps a more comprehensive approach would be to use the `ifaddr` package, as is done in `scan_network()`. That would enumerate all IP addresses, across all interfaces, so it would cover this issue as well as the broader problem.

[2020-12-02 17:23] pwt commented on #764
PR #767 takes this approach.

[2020-12-02 17:55] gfischershaw commented on #764
I thought that I should mention socket.gethostbyname_ex() deals with multiple network interfaces and multiple addresses on each interface. It may indeed already do everything you want.

[2020-12-02 18:11] pwt commented on #764
Not when I tested it on a couple of multi-homed hosts (using `socket.gethostname()` and `socket.getfqdn()`).

[2020-12-03 00:31] gfischershaw commented on #764
So only returns addresses on all interfaces using the same host name then? I don't have a multihomed setup. Oh well, at least it got you cogitating on the issue.

[2020-12-03 09:09] pwt commented on #764
Sone hosts/adapters don't have resolvable hostnames, so nothing is returned using either `gethostbyname()` or `gethostbyname_ex()`. E.g.:

[code]

Whereas `ifaddr` will enumerate all adapters, and all IP addresses on those adapters:

[code]

It did, and I learnt a couple of things. From my work on network scan discovery, I was aware that we could improve the current discovery code, and your issue

[2020-12-03 21:51] gfischershaw commented on #764
That functions. A couple comments:
The preferred address for my disabled wifi interface is on the list returned by ifaddr. Also returns a couple Windows 169 APIPA addresses, which may have been generated long ago during setup of the machine before it was connected to the network. Lastly, the preferred unicast route is added to the end of the list. Should it be first in order to get that query goin

[2020-12-03 21:57] amelchio commented on #762
I have written a custom `add_spotify_uri_to_queue()` that may be able to help you: https://github.com/amelchio/pysonos/blob/v0.0.37/pysonos/core.py#L1591-L1691

[code]

[2020-12-04 10:03] pwt commented on #764
Thanks for testing -- I appreciate the help.

Yes -- that's a necessary consequence of obtaining a full list of adapters/IPs. I get similar results on my Windows machines. It's not easily possible, in general, to determine which are the 'right' ones on a given host. Fortunately, it's inexpensive to issue the multicast requests for each address.

I don't think the ordering makes much difference. Al

[2020-12-04 17:59] gfischershaw commented on #764
Well that is unfortunate. Looking at the iphlpapi.GetAdaptersAddresses doc it should not be returning the wifi adaptor address, but obviously is. Anyway, that leaves the 169.254.0.0/16 addresses returned. One would presume that they can be ignored, as without DHCP, Sonos devices would have a difficult time. Or am I not considering some situation?

[2020-12-04 18:12] pwt commented on #764
I'll take a look at whether the the 169.254 addresses can be safely excluded. I doubt it makes any practical difference, but it would be neater.

[2020-12-06 10:19] #415 closed

[2020-12-06 10:25] pwt commented on #747
Add 'music_source' property, and 'music_source_from_uri()' method to the SoCo class. PR #587.

[2020-12-06 17:05] simoneggler opened #771 "device.player_name return none, even though device answers"
after creating a device with device = soco.SoCo('ip')

the call to device.group dumps the soap response (debug log) (with oldscool encoding &<t; &gt; &quot;):

but the answer ist None.

example:
<s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/" s:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><s:Body><u:GetZoneGroupStateResponse xmlns:u="urn:schemas-upnp-org:service:ZoneGr

[2020-12-06 18:34] pwt commented on #771
Could you describe your speaker configuration in a little more detail, please? What are the speakers involved, how are they grouped/paired/bonded, etc? Thanks.

[2020-12-06 22:47] simoneggler commented on #771
i have removed the umlauf. same result.
this is my setup:
Python 3.7.3
SoCo Version: 0.11.1

I have three speakers (play 5 and two play 3), together in one group.

I wonder why I do not have version 0.20? I just pipped it to my raspberry...

[2020-12-06 22:55] simoneggler commented on #771
i force upgrades to version 0.20, I works fine now. thanks for the hint. one more question, tough
soco.discover() returns None. Here's the debug output (my hue bridge is answering):

DEBUG:soco.discovery:Received discovery response from ('192.168.1.88', 1900): "b'HTTP/1.1 200 OK\r\nHOST: 239.255.255.250:1900\r\nEXT:\r\nCACHE-CONTROL: max-age=100\r\nLOCATION: http://192.168.1.88:80/description.xml\

[2020-12-06 22:55] simoneggler commented on #771
great software bye the way. thanks!

[2020-12-07 09:03] pwt commented on #771
That would certainly cause some issues! :)

The response from the Hue is being (correctly) ignored.

There are two reasons I've come across for `discover()` returning `None` when there are Sonos devices on the network:

1. The MCAST request is being sent on the wrong interface(s): you can use (e.g.) `discover(interface_addr="host_IP_address")` to force discovery on a specific interface. You may al

[2020-12-07 16:59] pwt commented on #731
@rvhu-cl Would you like to create a 'formal' PR for this? I can help if you haven't done so before.

I'll tentatively add it to the v0.21 milestone, which would give us about 4 weeks to get it ready.

[2020-12-07 17:06] pwt commented on #722
Fixed by #721.

[2020-12-07 17:06] #722 closed

[2020-12-07 17:58] rvhu-cl commented on #731
I have not create a PR before, so if you can help me please do.

Verstuurd vanaf mijn iPhone

[2020-12-08 09:16] pwt commented on #731
I was going to write something, but here's an excellent summary that shows all the steps needed both on GitHub and in your local git repository: https://opensource.com/article/19/7/create-pull-request-github. Once you get the hang of it, it's easy.

Once you have your local repo set up, and a branch created for your change:

1. Get set up for development
2. Develop your code changes and check that

[2020-12-09 19:33] goldyfruit opened #776 "get_subscribed_services_names() doesn't exist anymore"
Hi,

I'm trying to list the music services I subscribed to, so I was looking to the documentation and found the `get_subscribed_services_names()` method but it doesn't seems to be implemented yet.

Am I missing something?

**EDIT**

I found the method... https://github.com/SoCo/SoCo/blob/master/soco/music_services/music_service.py#L469

Now I'm getting this error:
[code]

With this very simple cod

[2020-12-09 19:44] goldyfruit commented on #776
Ok my bad... I'm using @KennethNielsen for about "Bring back music services" which has this method[1] commented in.

https://github.com/KennethNielsen/SoCo/commit/0a7a80b61080cd583a57e3f552fed930b8eab750

[2020-12-09 19:44] #776 closed

[2020-12-10 18:50] simoneggler commented on #771
this might be a silly question, but how do i find out if a speaker is currently playing music?

[2020-12-10 20:56] simoneggler commented on #771
thanks, everything ist working fine after the upgrade

[2020-12-10 20:56] #771 closed

[2020-12-10 21:19] pwt commented on #747
Add `supports_fixed-volume` and `fixed_volume` properties to the SoCo class. PR #773.

[2020-12-11 00:08] gfischershaw commented on #764
Would like to try out the new version whenever you are ready.

[2020-12-11 09:26] pwt commented on #764
It's ready for release, but I'd like a few more people to test it because it changes a long-standing and central function. Feel free to try it out by pulling #767 (instructions [here](https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/checking-out-pull-requests-locally) if you need them).

[2020-12-11 09:33] #765 closed

[2020-12-11 09:36] pwt commented on #747
Add 'AudioIn' service to enable Line-In operations and events. PR #777.

[2020-12-11 22:37] jjlawren opened #778 "PR help request: Adding direct Plex control support"
After a lot of packet sniffing and trial and error, I'm now able to initiate playback of media served from my Plex server. However, I'm not sure of the best way to add clean support of this feature back into SoCo. I'd appreciate any help or suggestions based on what I'll share below.

The Sonos app allows you to browse your Plex library by Artist->Album->Track. Once you select a track, it replaces

[2020-12-12 17:59] pwt commented on #747
Add a gettable/settable `buttons_enabled` property to the SoCo class, to detect and control whether a speaker's buttons are enabled. PR #774.

[2020-12-14 15:47] jjlawren commented on #715
Closing this in favor of #778 as I was able to get the Plex music service working with full metadata support.

[2020-12-14 15:47] #715 closed

[2020-12-16 08:32] #764 closed

[2020-12-18 18:29] tgraf2 opened #779 "trouble using add_uri_to_queue()"
I am having trouble using add_uri_to_queue().  When I use a string directly it works fine,
as shown below:

$ python3

5

When I reference the identical uri from a file, it doesn't work, as shown:

...    contents = [x.strip() for x in f.readlines()]
...

'x-file-cifs://192.168.1.107/share/Alison%20Krauss/Cold%20Mountain-OST/The%20Scarlet%20Tide.mp3'
speaker.add_uri_to_queue(uri=line)
Traceback (m

[2020-12-19 10:17] pwt commented on #779
What version of SoCo are you using?

Could you try with INFO logging enabled, so we can see exactly what's being sent to the player:

[code]

Thanks.

[2020-12-19 14:36] tgraf2 commented on #779
Thanks for your reply and the info about logging.  Here's the output, first with the uri as a string:

2020-12-19 09:06:58,702 discovery.py:126 - discover() - Sending discovery packets on [<socket.socket fd=3, family=AddressFamily.AF_INET, type=SocketKind.SOCK_DGRAM, proto=17, laddr=('0.0.0.0', 0)>, <socket.socket fd=4, family=AddressFamily.AF_INET, type=SocketKind.SOCK_DGRAM, proto=17, laddr=('0.

[2020-12-19 15:20] tgraf2 commented on #779
Update: I removed the quotes from the uris in the file and it now works.  Before I close the issue, I would like to suggest that the documentation could be improved.  Here are a few suggestions:  (1) add_uri_to_queue should mention how to reference uris from a file (and that quotes should not be included), (2) information on how to turn on logging and format the output should be prominent, (3) whe

[2020-12-19 15:20] pwt commented on #779
Yes, it's the quotes within quotes that's the issue -- i.e., the inner single quotes become part of the string being sent to the player.

You could remove them by modifying your code to use `x.strip("'")` or `x.strip().replace("'", "")` depending on what's in the file being read.

For future reference, it's in: `soco.__version__` (or use `pip freeze`).

Looks like we've resolved this issue, so I'l

[2020-12-19 15:26] pwt commented on #779
I'm going to politely disagree on this one. Your original code was sending a malformed URL string.

Possibly, though this is standard Python know-how. SoCo just uses standard Python logging.

Some documented troubleshooting recipes would undoubtedly be useful, but it would take someone to volunteer to write them :)

[2020-12-19 17:23] #779 closed

[2020-12-27 12:50] pwt commented on #747
Add a gettable/settable `trueplay` property to the SoCo class, to determine and control whether a player's Trueplay setting is active. PR #775.

[2020-12-30 14:07] pwt commented on #625
Discovery has been thoroughly updated in [SoCo 0.21](https://github.com/SoCo/SoCo/issues/747), with all the common stumbling blocks addressed, as well as adding support for multiple Sonos systems on the same network. SoCo 0.21 will be released on or before 17-Jan-2021.

This issue is stale now, so I'll close it.

[2020-12-30 14:07] #625 closed

[2020-12-30 14:10] pwt commented on #747
Improve discover() by ensuring that discovery is performed on all relevant NICs and IPs. PR #767.

[2021-01-04 10:49] pwt opened #783 "[Question] How to play an AAC file using 'play_uri()'?"
I'm using `play_uri()` to play audio files by providing a direct URL to a file. This works perfectly for MP3, M4A, MP4, FLAC, OGG, WMA, and WAV files. For example: `speaker.play_uri("http://myserver/my_audio_file.mp3")` works perfectly: the file is played, and the metadata and album art are correctly displayed if present.

However, if I try the same thing with an AAC file, the speaker will immedia

[2021-01-11 11:58] pwt commented on #746
Closing issue due to 0.21 feature freeze.

[2021-01-11 11:58] #746 closed

[2021-01-11 13:32] pwt commented on #747
Defect fix: When restoring snapshots, do not try to restore bass/treble/loudness on devices with fixed volume enabled. PR #772.

[2021-01-12 12:06] pwt commented on #731
Just to respond to the original defect report, copied below.

The reason this is failing is that **the new alarm is not saved**, so it hasn't been sent to the Sonos speaker. The code should include an `alarm.save()`, after which `alarm.remove()` will work, as per the [documentation](http://docs.python-soco.com/en/v0.20/api/soco.alarms.html).

[2021-01-12 12:09] pwt commented on #731
I'm going to close this based on the original defect report. I'll leave it up to @rvhu-cl to pick up the suggested PR for alarm manipulation by ID, if desired.

[2021-01-12 12:09] #731 closed

[2021-01-12 12:14] pwt commented on #591
As far as I can tell, Python 2 deprecation in SoCo is now complete, and Python 2 itself has been EOL for over a year, so I'm going to close this issue ahead of the impending v0.21 release.

[2021-01-12 12:14] #591 closed

[2021-01-12 13:23] pwt commented on #316
How about we convert the 0.22 release (due April 17th 2021) into the 1.0.0 release? The fundamental SoCo API has been stable (it's grown, but in a backwards-compatible manner) for several releases as far as I can tell.

[2021-01-12 14:56] KennethNielsen commented on #591
I think that is fine. Maybe the reason that it wasn't already, was to have some where to keep track of the clean-up/python3 only process of the code. But I think that should probably just be different PR's the then mood moves someone to do it.

[2021-01-12 14:58] KennethNielsen commented on #316
I would like to hold of on 1.0 until we have had a few releases with stable music services. I know that the API hasn't changed much around those, but I would prefer to keep the option open to. So in my mind, 0.22 would contain music services, 0.23 and maybe 0.24 is for fixing bugs in general and bugs pertaining to specific music services and then 0.24 or 0.25 could become 1.0. What do you think?

[2021-01-12 15:03] pwt commented on #316
I'm OK with either. Generally, '1.0' implies a degree of functional reliability and completeness, so one could argue that we should hold off based on the 'completeness' criterion while music services are absent.

[2021-01-12 15:19] pwt commented on #591
We've already _de facto_ removed Python 2 support, since we haven't run any 2.x check jobs recently.

FYI, although v0.21 will install on Python 2.7, it hits issues on import:

[code]
It's possible that it's only the new re-raise syntax that breaks compatibility, but I wouldn't bet on it.

[2021-01-17 13:31] pwt opened #790 "Reinstate Check Jobs for SoCo Development"
Travis CI withdrew the ability for open source projects to run check jobs, during the development of SoCo v0.21.

It's important that we reinstate an alternative process, otherwise SoCo development velocity will be significantly impeded and there'll need to be excessive manual testing.

[2021-01-17 16:23] rytilahti commented on #790
Take a look at https://hynek.me/articles/python-github-actions/ (for github actions) or https://hynek.me/articles/simple-python-azure-pipelines/ (for azure pipelines, which requires quite a bit more effort but is not bound to github).

[2021-01-17 19:15] KennethNielsen commented on #790
I'm already working on a tox configuration for SoCo, which makes it easier to setup Github Actions. I will post a PR shortly.

[2021-01-17 21:44] pwt commented on #747
Closed with the release of 0.21.

[2021-01-17 21:44] #747 closed

[2021-01-20 13:42] Barry4679 opened #792 "SoCo raising exception when playing from YouTube Music|"
I am subscribed to SoCo AVT events.
If my Sonos is playing from YouTubeMusic it generates the AVT event OK, but logs the following exception to the log for each track played.

01-20 23:28:15 158.0095 - WARNING soco.events_base:  110 parse_event_xml; Event contains illegal metadatafor 'enqueued_transport_uri_meta_data'.
Error message: 'UPnP class is incorrect. Expected 'object.container.album.music

[2021-01-20 13:56] Barry4679 opened #793 "QUESTION - if I have an AVT event, from YouTube track play, can determine that the source was YouTube?"
I am subscribed to AVT events.
Usually the uri prefix allowed me to determine the music source, ie. Local Library vs GooglePlayMusic etc
But YouTube plays use a very generic looking prefix.
Is there a better way to determine music source from AVT event attributes?

[2021-01-20 15:11] pwt commented on #792
SoCo's default logging level is `WARN`. To suppress WARN level logging and below, use:

[code]

There are a number of warnings like the one you've encountered, for types that aren't understood.

[2021-01-21 09:05] pwt commented on #792
Yes, just trying to keep it simple, but you obviously know your way around logging already!

It's quite possible that some SoCo logging is at the wrong severity; happy to take suggestions for changes. The warning in question looks like it's correctly classified, however.

Does your approach of reaching in to the `events_base` module work for requests and urllib3?

Alternatively, you might want sel

[2021-01-21 13:44] Barry4679 commented on #792
Yes it does. I had to add 12 of them to get SoCo quietened enough. ... eg. urllib3.connectionpool... It is something you might think of, because in a long running app it is important to see unexpected failures, but too much traffic swamps data from the app's own log. It is very bad at the info level during LAN instability .IIRC some of the messages included lengthy exceptions with stack logs ... a

[2021-01-21 18:54] runningwolfie opened #794 "Arc SL not recognized as soundbar"
I noticed that the is_soundbar property uses endswith to identify soundbars from a list of product names, but this doesn't work for the Arc SL (silent version without Google Assistant microphone). A simple fix would be to change to startswith or to add Arc SL to the soundbars list.

[2021-01-21 18:57] runningwolfie commented on #794
Looks like the model_name is listed as 'Sonos Arc SL', so startswith wouldn't work. Can Arc SL be added to SOUNDBARS in core.py please?

[2021-01-21 19:36] pwt commented on #794
Yes, I can do this.

[2021-01-22 08:57] pwt commented on #794
Fix released in SoCo v0.21.1.

[2021-01-22 08:57] #794 closed

[2021-01-22 11:47] pwt commented on #792
For SoCo at least, I seem to be able to get away with using `logging.getLogger().setLevel(logging.CRITICAL)` (etc.) to change the logging level on the fly.

Sorry, that's not an area of the code I can claim any expertise in at the moment. I know that Kenneth is doing lots of work on reinstating music service support, but that it's not simple.

[2021-01-26 15:09] realwakils opened #798 "How to get if the device is playing a song atm or if it's stopped?"
Stopped/paused. i don't really know what the difference is

[2021-01-26 16:49] pwt commented on #798
If `speaker` is a `SoCo` instance, then `speaker.get_current_transport_info()["current_transport_state"]` will return a string that is one of `PLAYING`, `PAUSED_PLAYBACK`, `STOPPED`, or `TRANSITIONING`.

(There may be other states for sounder devices, etc.).

Streams in the `PAUSED_PLAYBACK` state can be resumed from their current point, whereas `STOPPED` streams (e.g., radio streams) cannot -- th

[2021-01-26 20:48] realwakils opened #799 "soco.discover() returning nothing at all"
![image](https://user-images.githubusercontent.com/19620638/105903348-0e4bca00-6020-11eb-90e1-244140dba8e8.png)
Hello. I am getting this issue on my Raspberry Pi 4. The function works on my Windows PC, but not on my Raspberry Pi unfortunately.
It's running Raspbian. I suspect it might have something to do with ports, because I closed most? Maybe not at all.
I'm just really lost and need this funct

[2021-01-26 20:52] pwt commented on #799
First, make sure you're using SoCo v0.21.

If that's already the case, try: `soco.discovery.scan_network()`

[2021-01-26 21:03] realwakils commented on #799
Thank you `soco.discovery.scan_network()` works. For some reason it didn't work in the python interpreter (`python`, `import soco`, `soco.discovery.scan_network()` - `AttributeError: module 'soco.discovery' has no attribute 'scan_network' `)

[2021-01-26 21:03] #799 closed

[2021-01-26 21:05] pwt commented on #799
`from soco.discovery import scan_network`.

[2021-01-26 21:33] realwakils commented on #799
Thanks. It does seem to be **very** inconsistent though. I often get None and then in periods I actually receive the set...

[2021-01-26 21:38] pwt commented on #799
Generally, it's better if you can use `discover()`, but some networks have problems with multicast forwarding, and some systems have the required incoming port blocked. Both of these will prevent 'normal' discovery from working.

`scan_network` probes the network for Sonos devices. You can improve its chances of success by increasing the timeout for each IP probe. There's full documentation at: ht

[2021-01-27 14:21] marcovandewater opened #800 "How can I check of play() and previous() track are available?"
When playing radio the play() and previous() track methods are not available and raise an exception when called. How can I check this? when I check is_playing_radio attributed it returns False even when Sonos Radio is played.

[2021-01-27 14:32] pwt commented on #800
There's a long-standing PR (#594) to provide a simple check for what actions are available at any given time, that I'm looking to include in the next release (v0.22) if it's in good enough shape.

In the meantime, we just have to catch the exception, or you could look at using the `AVTransport.GetCurrentTransportActions()` call that's the basis for #594.

[2021-01-27 14:39] marcovandewater commented on #800
Thanks!

[2021-01-27 14:39] #800 closed

[2021-01-27 19:37] amelchio opened #801 "Incorrect UPnP class for unofficial subclass"
I think that I found a regression with #713. When I have a favorite like this:

[code]

and I try to use it like this:
[code]

I get this error:
[code]

I have found this to be due to different handling of `.#`:

https://github.com/SoCo/SoCo/blob/508cb1e7c1a6adf58a7bb96e0af0107e78e64b2a/soco/data_structures.py#L84-L86

https://github.com/SoCo/SoCo/blob/508cb1e7c1a6adf58a7bb96e0af0107e78e64b2a/soco

[2021-02-02 16:01] pwt commented on #790
As a temporary measure, I've instantiated a 'brute force' Github actions workflow that performs the same checks as the previous Travis job, across Python 3.5 to 3.9. It appears to be working correctly for PRs and merges to master.

This can be junked when we have a tox configuration.

[2021-02-03 22:47] amelchio commented on #792
I agree that SoCo is noisy and for example logs at high log levels for cases that the client code can handle or in situations where a music service misbehaves. Having to set the log level explicitly is inconvenient and one risks missing a log line that was actually important.

[2021-02-04 15:56] #798 closed

[2021-02-11 16:31] sracing opened #805 "No TTS during TV mode"
I am using the Sonos Plugin on SmarthomeNG, which is using SoCo. While TTS works flawless on any device during streaming mode, it seems that some user of this plugin reported missing TTS support at least for typical surround devices (e.g. a set of Playbar, Sub and 2x Play1) just during TV mode. WHen trying do do TTS output during TV mode, the error message is:

`2021-02-09 14:49:48 ERROR lib.item

[2021-02-11 17:08] pwt commented on #805
The error `UPnP Error 701 received: Transition not available from 192.168.178.47` means that the speaker has been asked to do something it doesn't support in its current state (for example, instructing a speaker to move to the next track when it's playing from its Line In input).

In this case, it looks like the speaker is rejecting a `stop()` instruction when playing a TV source.  I don't think i

[2021-02-14 14:32] rytilahti commented on #805
Here's the output from a beam:
[code]

[2021-02-14 16:11] pwt commented on #805
Thanks. Just to confirm: is that while the Beam is playing from its TV input?

[2021-02-14 16:16] rytilahti commented on #805
Yes, that's when playing from the TV input. Here's the list of actions when playing music (from spotify this time), for completeness:
[code]

[2021-02-14 17:05] DPH commented on #805
I have the same problem - looking at options to solve.
Not sure if it's linked to #584 or #761

[2021-02-17 16:23] Phill030 commented on #660
any fix for now?

[2021-02-17 17:13] Phill030 opened #806 "Cant play music anymore"
How do i play music with the new version? When i try `soco.discover()` it'll return an empty list and so i cant play any music on the speaker. Could someone give me an example for the current version?

[2021-02-17 17:25] pwt commented on #806
As an experiment, try the following instead to see what it returns:

`soco.discovery.scan_network(scan_timeout=5)`

[2021-02-19 16:13] Phill030 commented on #806
zone_list = list(soco.discovery.scan_network(scan_timeout=5))

Error: `Traceback (most recent call last):
  File "controller.py", line 6, in <module>
    zone_list = list(soco.discovery.scan_network(scan_timeout=5))
AttributeError: module 'soco.discovery' has no attribute 'scan_network'
`

[2021-02-19 16:15] Phill030 commented on #806
and when i change it: `  File "controller.py", line 24, in <module>
    zone_list.play_uri(uri)
AttributeError: 'list' object has no attribute 'play_uri'
`

[2021-02-19 16:16] Phill030 commented on #806
So i replaced scan_network with discover and there wasnt any error but i cant use it as a group anymore:
`zone_list = list(soco.discovery.discover(timeout=5))` is not working

[2021-02-19 16:18] pwt commented on #806
Make sure you're using the latest version of SoCo (v0.21.1).

[2021-02-19 16:30] Phill030 commented on #806
how do i update it?

[2021-02-19 16:33] Phill030 commented on #806
![image](https://user-images.githubusercontent.com/50775241/108532826-8e401980-72d8-11eb-9700-4b7ad3f77d12.png)
so this is what i installed 3 days ago with `pip install soco`

[2021-02-19 16:38] Phill030 commented on #806
got it, but still error cause list(soco.discovery.scan_network(scan_timeout=5));

[2021-02-19 16:39] pwt commented on #806
Looks like something is broken in your environment. SoCo v0.11.1 is ancient.
Try: `pip install -U soco`.

[2021-02-19 16:48] Phill030 commented on #806
Another error:
![image](https://user-images.githubusercontent.com/50775241/108534607-9f8a2580-72da-11eb-8c26-d7f15c121aba.png)

[2021-02-19 16:56] pwt commented on #806
You need `play_uri()` for URIs. `add_to_queue()` takes queuable items.

See: http://docs.python-soco.com/en/v0.21.1/api/soco.core.html#soco.core.SoCo.play_uri

(You may want to consider using [SoCo-CLI](https://github.com/avantrec/soco-cli) instead. Easier to get to grip with, if it does what you want.)

[2021-02-19 17:01] Phill030 commented on #806
Again:
![image](https://user-images.githubusercontent.com/50775241/108536256-83878380-72dc-11eb-8d24-95c923cd3f56.png)

[2021-02-19 17:07] pwt commented on #806
Impossible to debug from screenshots. I'll opt out here.

[2021-02-19 17:09] Phill030 commented on #806
Solved it, caused from my Youtube URL

[2021-02-19 17:34] Phill030 commented on #806
but one question left: how do i play a spotify or Youtube link with the new version? it said spotify is deprecated and soco.data_strcutures import URI is not working anymore

[2021-02-19 21:56] pwt commented on #806
Can't be done at the moment (as discussed in the README), since Sonos changed how it authenticates with music services.

If you add tracks to Sonos favourites or Sonos playlists, these can usually be played. You have to obtain the queueable items using the SoCo search functions, then add them to the queue.

Restoring music service support is being worked on in #763, but it's not guaranteed to be s

[2021-02-19 21:56] #806 closed

[2021-02-23 21:31] jnth commented on #757
Hi,
I wrote a new section in the documentation about the group manipulation.
What do you think of this ?

[2021-02-24 09:12] DPH commented on #757
Great addition - thanks.
I would just add after "Only the coordinator of a group can control the group."
[code]
or similar wording to make it clear
Cheers David

[2021-02-24 19:44] jnth commented on #757
@DPH I add a few lines to clarify the coordinator role.

[2021-02-25 10:14] pwt opened #810 "Check jobs (Pytest) failing on Python 3.6 and 3.7"
A single test is failing on Python 3.6 and 3.7, but succeeding on 3.5, 3.8 and 3.9.

[code]

[2021-02-25 10:28] pwt commented on #810
I'm looking at the 3.6 failures. The test works on 3.6.12, but fails on 3.6.13.

[2021-02-25 10:35] DPH commented on #757
Thanks for clarifying Jonathan,
I'm not sure if what you say is correct though unless there have been
changes.

My understanding is:
Volume,  Loudness,  mute, Night mode etc. are controlled on each individual
player not by the group.
Queue, Play_uri, Play, Next, Pause etc. are controlled by the coordinator
for all players in the group.

Basically the members of the group point their source to the

[2021-02-25 12:00] #810 closed

[2021-02-25 19:56] jnth commented on #757
Sorry, my mistake !
I fixed the section.

Thanks David for the advice.

[2021-02-25 19:59] QW3RTZUI0P opened #812 "Able to play music from Apple Music"
Hey guys,

I am currently working on a Sonos skill for [Mycroft AI](https://github.com/mycroftai/mycroft-core) and therefore need access to music services to play songs. Until recently I used [this](https://github.com/jishi/node-sonos-http-api) to control the music, but because Mycroft Skills are written in python and I don’t want extra dependencies to set up I now want to use this package.

But u

[2021-02-26 08:33] DPH commented on #757
Great - thanks for your contribution.
These micro examples are very important to help new users understand SoCo.
Great work.

Cheers David

On Thu, 25 Feb 2021 at 19:56, Jonathan Virga <notifications@github.com>
wrote:

[2021-02-26 09:52] pwt commented on #812
Interesting approach. Obviously, it's Apple Music centric and uses an out-of-band mechanism that differs from the normal way that SoCo does things (entirely via Sonos players). Others will have to comment on if/how it could be added to SoCo.

Music services used to be supported by SoCo, but Sonos changed the way that authentication is implemented. There is work underway in PR #763 to restore suppo

[2021-02-26 10:55] QW3RTZUI0P commented on #812
Hey @pwt, thanks for the quick answer.

I don't quite understand what you mean with the normal way SoCo does things (entirely via Sonos players), but I’ve experimented around a bit this morning and came up with the following:

I’ve gone through some code, especially through this package here from jishi (https://github.com/jishi/node-sonos-http-api) because it’s able to play songs from Apple Music,

[2021-02-26 11:01] pwt commented on #812
I just mean that SoCo delivers all of its functionality via interactions with Sonos players, and does not call out to other APIs such as the iTunes one. However, I don't know the music service code well, so i could easily be wrong!

[2021-02-26 15:04] amelchio commented on #812
We hacked together something like that for Spotify and Tidal in pysonos: https://github.com/amelchio/pysonos/blob/v0.0.40/pysonos/core.py#L1767-L1976 ... it allows enqueuing share URLs from those services.

It is not in a shape where I plan to submit it to SoCo.

[2021-02-26 21:27] jnth commented on #667
Hi, I try to capture packets sent by the application but I don't find useful things.
@KennethNielsen : you said you can help. Do you have advice to see that the application sent ?

[2021-02-27 09:30] pwt commented on #757
Resolved in #807. Thanks to @jnth, and to @DPH for the reviews.

[2021-02-27 09:30] #757 closed

[2021-02-27 14:40] QW3RTZUI0P commented on #812
But could this approach be a potential solution for the music service problem (if it turns out to be working for other services than Apple and Amazon Music) or would it contradict the way SoCo does things (because you need to call external APIs)?
I found [this function](https://github.com/SoCo/SoCo/blob/master/soco/music_services/music_service.py#L570) in the music_services folder and to me it loo

[2021-03-17 14:38] tipofthesowrd commented on #650
it appears this is still open. I was trying to the test the PR from #763 and I can only TuneIn as a subscribed service.
Since I'm developing on a docker container I cannot get autodiscovery to work apparently?

[2021-03-17 15:19] pwt commented on #650
It's tangential to this issue, but note that discovery works from within a container provided 'net=host' is specified.

[2021-03-17 16:20] tipofthesowrd commented on #650
Not on a Windows where host mode is not supported last time I checked. I'll
try some more later with other methods in discovery

Op wo 17 mrt. 2021 16:19 schreef pwt ***@***.***>:

[2021-03-17 16:31] pwt commented on #650
Ah, Windows. OK.

'scan_network' discovery should work, but is less efficient than multicast (SSDP) discovery.

[2021-03-17 19:10] tipofthesowrd commented on #650
Confirmed working with:

[code]

And I can confirm I can also access the MusicServices

[2021-03-22 09:10] KennethNielsen commented on #650
As a part of #763 I'm making it possible to supply a SoCo instance to MusicService instead of using discover, which should take care of the second part of this issue

[2021-03-24 16:22] KennethNielsen commented on #757
Thanks @jnth and @DPH

[2021-04-03 16:26] pwt commented on #659
Thanks for capturing this.

I haven't personally been able to reproduce this in my testing while working on alarms support for [SoCo-CLI](https://github.com/avantrec/soco-cli) recently, so it's possible that Sonos has addressed this in a f/w change. Hence, I'm going to close it for now.

[2021-04-03 16:26] #659 closed

[2021-04-03 16:29] pwt commented on #669
Substantial improvements were made to discovery in SoCo v0.21, which should address all of the commonly encountered problems. Hence, I'm going to close this issue.

[2021-04-03 16:29] #669 closed

[2021-04-03 16:30] pwt commented on #712
Closing due to inactivity.

[2021-04-03 16:30] #712 closed

[2021-04-03 16:32] pwt commented on #636
Closed due to inactivity.

[2021-04-03 16:32] #636 closed

[2021-04-03 16:33] pwt commented on #648
Closed due to inactivity (and probably no longer relevant).

[2021-04-03 16:33] #648 closed

[2021-04-05 15:29] pwt commented on #337
Python 2.x compatibility code removed as of v0.22.

[2021-04-05 15:29] #337 closed

[2021-04-05 15:32] pwt commented on #349
Superseded by other changes.

[2021-04-05 15:32] #349 closed

[2021-04-17 10:36] pwt opened #819 "SoCo 0.22.0 fails to install on some platforms due to requirement to build 'yarl' and 'mutlidict'"
The inclusion of `events_asyncio` in v0.22.0 brought in a dependency on the `aiohttp` package, which in turn depends on `yarl` and `multidict`.

It turns out that both `yarl` and `multidict` have binary wheels, with prebuilt versions available for some platforms (Linux, macOS, Windows), meaning that installs on these platforms will work without error.

However, build/installation failures can occu

[2021-04-17 12:23] pwt commented on #819
@bdraco : Do you have any thoughts on this? I'm worried that the inclusion of the new `aiohttp` dependency is going to prevent SoCo installs on some platforms.

[2021-04-17 15:37] bdraco commented on #819
How about making it an extra? so you can do something like

pip install 'SoCo[asyncio]'

extras_require = {
   'asyncio': ['aiohttp']
}

Typing this on a mobile so hopefully it makes sense.

[2021-04-17 15:42] bdraco commented on #819
Also FWITW, both yarl and multidict have pure python install options and can be installed as follows:

MULTIDICT_NO_EXTENSIONS=1 pip install multidict
YARL_NO_EXTENSIONS=1 pip install yarl

I think the extra route is the safer one though

[2021-04-17 16:23] pwt commented on #819
Great -- thanks @bdraco.

I'll have a play with removing the hard requirement, and the `extras_require` approach.

[2021-04-17 16:27] #819 closed

[2021-05-04 15:27] cyrilwanner opened #822 "Event subscription cannot be renewed (events_asyncio)"
## Environment

SoCo version: `0.22.1`
SoCo events module: `events_asyncio`
Python version: `3.8`, `3.7`

## Error

When trying to renew an event subscription (either with `auto_renew=True` or manually calling `await renew()`), the following error is thrown (`coroutine 'Subscription._request.<locals>._async_make_request' was never awaited`) and the subscription is not renewed:

[code]

## Code to