[2013-03-15 08:59] KennethNielsen opened #1 "Cannot get get_queue to work (request returns error and therefore get_queue returns empty list)"
*\* Bug report moved here from rahims/SoCo **

Hallo

I'm not quite sure what happened. Yesterday, while I was working on the unittests and using the get_queue method, I decided to merge upstream master into my branch and after that the get_queue method did not work anymore. At first I thought that maybe I had done something wrong (I'm a bit of a git newbie) so then I cloned a fresh copy of upstre

[2013-03-17 15:40] #1 closed, assigned to rahims

[2013-04-01 16:16] KennethNielsen opened #3 "Does add_to_queue work for you with music service url's"
Hallo

While writing unit tests I noticed that add_to_queue does not work for me with tracks from the music service that I use (Wimp). The music service does use the queue, and I can retrieve the queue, but if I try to add a second copy of one of the tracks by giving it the url, it returns the upnp error. The url's for the music service looks like this:
x-sonos-http:trackid_7840826.mp4?sid=20&flag

[2013-04-02 11:01] #3 closed, assigned to nobody

[2013-04-16 15:45] shadowjig opened #12 "Question: Roadmap\How to get involved"
I am extremely interested in this project as I have 5 Sonos components currently.  I'm wondering what everyone's vision is for this project and I'm how I can get involved to move closer to the vision.

I for one would like to see this library grow to include manipulating the different music services (i.e. Pandora, Spotify, etc).  Tighten up the existing library to manage zones and such.  And most

[2013-05-01 18:46] KennethNielsen opened #13 "Move the ToDo from the front page to the wiki"
Hey everyone

I would like to propose to move the ToDo from the front page to the wiki to make it come more alive. We could add items and people could add theirs names if they are working on a feature etc. What do you think?

Regards Kenneth

[2013-05-01 19:32] KennethNielsen opened #14 "Code acceptance/commit criteria"
Having moved the code to its own project and having expanded the project group (with rights to merge pull requests), we should be able to process pull requests faster, but that will require that we agree on what the criteria is for when it is ok to pull them.

So how many people needs to agree for the different degrees of how invasive a pull is?
Does @rahims (founder) want to be mandatory in all o

[2013-05-04 08:07] #12 closed, assigned to nobody

[2013-05-19 17:32] #14 closed, assigned to nobody

[2013-06-01 14:06] #13 closed, assigned to nobody

[2013-06-01 18:04] sdomotica opened #16 "Tunein Example"
I updated my Sonos to latest firmware and now the tunein example return me error 402.
Could you check?
Thks
Sandro

[2013-06-02 16:04] KennethNielsen opened #17 "Firmware update from 1/6-13 introduce changes in data synchronization between interface and unit?"
Hey

As noticed in issue 16 there was an update to the sonos units on 1/6-13. As noted in that issue there was some changes in the way the tunein radio stations are handled. But what I am really interested in, is that I think there was also a change in the way they synchronize their data structure between the interface we talk to and the core of the unit.

I have been wondering about that for some

[2013-06-02 17:54] KennethNielsen opened #19 "Use classes for all the data structure"
Hi everyone

I'd like to discuss the idea of using classes for all of our data structures (especially the ones we return from methods). I would propose to implement these data structure classes in such a way, that they behave like the primitive type it logically consist of, so e.g. a list of tracks like that which is returned from get_queue will return a class that can be indexed like a list and e

[2013-06-02 19:51] #16 closed, assigned to nobody

[2013-06-21 16:01] KennethNielsen opened #23 "set_player_name works but raises exception"
The `set_player_name` works but raises an exception. The stack trace is pasted below.

[code]

[2013-06-21 23:38] sbma44 opened #25 "can't play URIs from Amazon Cloud Player"
An example, run while playing a track from Amazon Cloud Player:

[code]

Apologies if I'm asking something dumb. The rest of the library makes sense and I have no problems using it. Also happy to try to be of service in providing code to fix this if someone can explain the issues in play or point me toward additional information.

[2013-06-22 08:07] #23 closed, assigned to nobody

[2013-06-25 16:59] daubman opened #27 "setup.py does not include utils.py or exceptions.py"
A clean install will not provide utils.py or exceptions.py. Setup.py does not list them as modules. Pull request #26 fixes this - please pull.

[2013-06-25 17:35] #27 closed, assigned to nobody

[2013-06-30 20:30] mpolden opened #29 "Update PyPI package"
The soco package available at PyPI is getting old (last updated 2013-01-23).

It would be nice if a new version could be pushed so that the latest features are available through pip.

https://pypi.python.org/pypi/soco

[2013-07-02 17:07] #17 closed, assigned to nobody

[2013-07-04 21:19] KennethNielsen opened #30 "Added short article about the Sphinc documentation to the wiki"
I just added a short page to the [wiki about the documentation](https://github.com/SoCo/SoCo/wiki/Documentation) and especially how to build it, since I was missing that information. The short article if heavily based on @stefankoegl's posts in [the original pull request](https://github.com/rahims/SoCo/pull/36). If anyone feels like extending the article, just go crazy ;)

Regards Kenneth

PS: Thi

[2013-07-16 15:52] DPH opened #31 "Album title in French misread!"
Fails to read french! "Café de Paris"
No error, but output wrong!

Any thoughts?

zp = SoCo('192.168.xx.xx')
info = zp.get_current_track_info()
print info

print info['album']

Cheers Daivd

[2013-07-26 15:52] #30 closed, assigned to nobody

[2013-07-28 15:29] #19 closed, assigned to nobody

[2013-08-17 16:21] #29 closed, assigned to nobody

[2013-09-29 14:36] KennethNielsen opened #36 "Use utf-8 or unicode in text strings"
Hallo fellow SoCo-devs

I wanted to start a discussion about whether to use utf-8 or unicode for our text strings. What triggered me to start the discussion was #31, but I think it will become important that we decide on one or the other as a convention, because that will make SoCo easier to use.

So far, it seems that the de-facto standard has been to use utf-8, but whether that was a conscious d

[2013-09-29 14:50] KennethNielsen opened #37 "Firmly defined expected output and use None or '' as default for output strings"
Hallo follow SoCo-devs

First of, I would like to make the suggestion, that we make it a design goal that all methods document exactly how many and which strings will be present in the output, also e.g. in output dictionaries and such.

We have one or two methods that will choose to leave certain e.g. keys in a dictionary out, if it was not possible to retrieve the information that corresponded to

[2013-10-30 22:24] DPH opened #44 "Question re relative imports"
I see relative imports are now used (eg from .utils import ......)

Using Python 2.75 on Windows 7 with Eclipse these give an error unless I remove the dots.Should I need to do this every time?

I have utlis.py in the same directory as core.py

Any advice welcome
Cheers David

[2013-11-25 09:08] timalden opened #47 "SonosDiscovery and Windows Python"
Hi
I got the regular SoCo class working OK with Windows Python by specifying IP address but the SonosDiscovery class does not seem to work.
A network analyser suggests that the uPnP request isn't being broadcast.
Did anyone else notice this?

Thanks

T

[2013-11-27 11:33] #47 closed, assigned to nobody

[2013-12-12 17:44] lawrenceakka opened #54 "tests in soco_unittest will not work"
The tests in soco_unittest will not work as currently written. Both AddToQueue and RemoveFromQueue get the state of the queue (which includes the track URI but also metadata about artist, track length etc), manipulate the queue by adding/removing tracks, and then call  SOCO.add_to_queue() passing just a track uri as a parameter. As a result, the other metadata which was in the queue before is lost

[2013-12-12 19:20] lawrenceakka opened #56 "TODO: rewrite topology methods to use new code"
Methods such as SoCo.get_group_coordinator can be rewritten to us UPnP methods.  These commands should return all the info needed about all groups and their coordinators (and more besides):

[code]

[2013-12-15 11:00] DPH opened #57 "Dynamic list of available commands"
Great work on the new Services @lawrenceakka really like it.

Has the ability to querry available commands got lost in the implementation?
s = SoCo('192.168.1.101')  # Your IP address here
for action, in_args, out_args in soco.QPlay.iter_actions():
.....print action, in_args, out_args

Looks like core doesn't support it - is this an intentional ommision.
I think it would be better to provide it vi

[2013-12-15 12:33] lawrenceakka opened #58 "For discussion: Properties"
Would it be possible to make some methods into properties. For example, I find this

[code]

to be much less cumbersome and more pythonic than:

[code]

Also:

[code]

seems much better (to me) than

[code]

What do you all think? The coding would be relatively easy.  Other candidates are of course, bass, treble, loudness, player_name etc.  Things which are truly actions/commands (such as play, st

[2013-12-15 17:02] #57 closed, assigned to nobody

[2013-12-20 17:40] #36 closed, assigned to nobody

[2013-12-20 17:44] #31 closed, assigned to nobody

[2013-12-20 17:50] #58 closed, assigned to nobody

[2013-12-21 04:13] murali44 opened #64 "How do I detect a 'Master' speaker in a Zone?"
Is there a way to find a 'Master' speaker in a zone? I'm trying to write code for a dynamically changing speaker configuration. I'd like to find the master speaker and then play something.

[2013-12-28 15:44] esieke opened #69 "The example tunein.py doesn't work "play_uri()""
SONOS INFO:
uid: RINCON_000E58C5A95E01400
software_version: 24.0-71060
zone_icon: x-rincon-roomicon:living
mac_address: 00:0E:58:C5:A9:5E
hardware_version: 1.8.3.7-2
zone_name: WohnzimmerStereo (L)
serial_number: 00-0E-58-C5-A9-5E:4

Hi,
I tried to use the tunein.py example, but it ended up in an error. I have attached the result RESULT1 (please see below).

It is possible to use clear_queue(), ad

[2013-12-30 19:16] petteraas opened #74 "examples/plugins/socoplugins.py breaks on SoCo object has no attribute send_command"
Upon testing socoplugins.py I realized it's currently broken as soco/plugins/example.py tries to run 'send_command' directly on self.soco.

[code]

I assume it's meant to call send_command from class Service?

[2014-01-02 17:06] #74 closed, assigned to nobody

[2014-01-03 10:55] lawrenceakka opened #75 "Discussion about IP addresses etc"
I have been thinking about the use of IP addresses and SonosDiscovery generally.
## IP addresses

We should in general not care so much about IP addresses.

It seems odd to me that discovery should return an IP address, which the user then has inevitably to use to create a SoCo instance. Similarly, for example, why does get_group_coordinator return an IP address, which is only useful for creating

[2014-01-04 10:54] jj2005 opened #76 "TypeError: method expected 2 arguments, got 3"
Hi With Python2 everything works flawlessly, however with Python3 I get the following traceback, any ideas of how to solve this issue??

admin@smarthome:/usr/smarthome/Temp/master/examples/commandline$ python3 sonoshell.py 192.168.0.6 Stop
Traceback (most recent call last):
  File "sonoshell.py", line 101, in <module>
    print(sonos.stop())
  File "/usr/local/lib/python3.2/dist-packages/soco-0.6-

[2014-01-05 10:53] #76 closed, assigned to lawrenceakka

[2014-01-06 20:56] moikorg opened #77 "building fails"
I am quite new to Python and thus doesn't really know well all the tools around Python.

I tried to build and install the SoCo (python setup.py install), but get an error:

Extracting soco-0.6-py2.6.egg to /usr/lib/python2.6/site-packages
SyntaxError: ('invalid syntax', ('/usr/lib/python2.6/site-packages/soco-0.6-py2.6.egg/soco/services.py', 237, 39, '        return {i.tag: i.text or "" for i in a

[2014-01-07 23:05] DPH opened #78 "NameError: global name 'dom' is not defined"
Have a simple test which fails with above error.
I have re-installed my machine - have I missed something

Code:
from soco import SoCo
ip = "192.168.1.82"
zp = SoCo(ip)
print zp.player_name
print zp.get_group_coordinator(zp.player_name)

Output:
Study
Traceback (most recent call last):
  File "C:\Users\David\DevSpace\Free Test\sss\scr\main.py", line 14, in <module>
    print zp.get_group_coordinat

[2014-01-08 14:41] #78 closed, assigned to nobody

[2014-01-09 20:22] stefankoegl opened #79 "SoCo Google Group"
Hi,

I've noticed that several discussions have been taking place in tickets, which might not always be the right place to do so. It is also not ideal for users for SoCo to ask questions.

Therefore I've set up a Google Group for SoCo which should make it easier to discuss the project.

https://groups.google.com/forum/#!forum/python-soco

I'll mention some recent contributors that might be interes

[2014-01-20 19:03] stefankoegl opened #85 "Tests fail on PyPy"
As discussed in https://groups.google.com/forum/#!topic/python-soco/DN6XYzjlz0s I've set up SoCo tests on Travis-CI. It seems, however, that the tests are failing on PyPy:

https://travis-ci.org/SoCo/SoCo/jobs/17293868

I could not make any sense of the output yet, but maybe someone is interested in taking a look.

[2014-02-03 23:50] DrSAR opened #86 "[Feature request] Get event notifications (song change, pause, etc.)"
This is an issue migrated from https://github.com/rahims/SoCo/issues/14#issuecomment-33897106. In a now out-dated branch "https://github.com/rahims/SoCo/tree/sonos-events" there exists a solution that allows to build a listener that allows you to respond to events of interest (TransferStatus changed etc).

Although the internals of SoCo have changed, according to @KennethNielsen, most if the ingre

[2014-02-06 11:57] jonasripperger opened #88 "[question] add_to_queue for spotify tracks / albums"
Hi all,

I saw what jasperla build over at soffes/sonos "https://github.com/soffes/sonos/pull/26". And tought it would be cool to have it also in SoCo but I think I miss something...

playing a spotify track is no problem:
track = "x-sonos-spotify:spotify%3atrack%3a0GfUZrIeoQ1TVZFnLSZYJY?sid=9&amp;flags=32"
print(sonos.play_uri(track))

But what I want is to alos be able to play albums and playlis

[2014-02-06 18:56] #79 closed, assigned to stefankoegl

[2014-02-07 08:09] #54 closed, assigned to nobody

[2014-02-07 14:23] #37 closed, assigned to nobody

[2014-03-25 15:05] #64 closed, assigned to nobody

[2014-04-07 09:07] rnixx opened #96 "Does SoCo also work with products CONNECT and CONNECT:AMP?"
Probably a dumb question. But since the docs always talk about Sonos Speakers, i'm wondering whether it's also possible to control Sonos CONNECT and Sonos CONNECT:AMP products with SoCo?

Cheers

[2014-04-08 10:14] #96 closed, assigned to nobody

[2014-04-09 19:40] aProgramer opened #97 "Song Queue"
Hey SoCo developers!

Since I am having some issue working out how to queue songs could you please tell me how to or if you can make a YouTube series on the SoCo libraries!?

Thanks,
aProgramer

[2014-04-11 08:55] aProgramer opened #98 "Play iTunes Music"
Hey SoCo developers again.

I know i have made a question a few days ago but how would i play a song from my iTunes Library? (I am using a Mac)

[2014-04-11 17:30] rodhall opened #99 "Text to speech attempt and metadata"
All - similar to aProgrammer, I think I am running into metadata problems on a little project I have been working on using SoCo.  google.translate has an API that will return a TTS conversion as an MP3 for anything you throw at it.  My initial little test program is as follows:

import requests
from soco import SoCo
import sys
import os
lr_sonos = SoCo('192.168.0.148')
tts_string = input('Enter so

[2014-04-23 17:55] petteraas opened #100 "remove_from_queue and play_from_queue uses different indexing."
play_from_queue takes a index from 0 to {queue_length}
remove_from_queue takes a index from 1 to {queue_length} - 1

This appears to come from sonos api using one-based lists while SoCo uses zero-based. This is of course not a problem as long as the various api functions in SoCo behave the same way.

I guess the solution is rewriting remove_from_queue line 1010 from:

[code]

to

[code]

which wou

[2014-04-23 19:50] bioken opened #101 "Access speed to music library"
Hi Rahim,

Great stuff. Really nice! You should change your name to Sonoswalla!-))

I've written my own Zonos controller, with the long term aim to at least provide the same interface to my computer (aka add it as a virtual Zone player). Having some thoughts on ensuring party-mode would work using frequency analysis and cross-correlation of the sound-track. That's still down the track. Currently,

[2014-04-26 13:27] aProgramer opened #105 "SonosDiscovery is deprecated"
Hey SoCo developers again!

I just went back to using your soco library (installed it just now so i have the latest version (from this git repo)) and i get an error saying `UserWarning: SonosDiscovery is deprecated. Use discover instead.`

Here is my code:

[code]

As you can see i am using the same usage as on the readthedocs.com so it is in the soco library which is causing the error.

What shal

[2014-04-26 13:47] #105 closed, assigned to nobody

[2014-04-26 15:12] petteraas opened #108 "Publish 0.7"
https://github.com/SoCo/socos/issues/25

A lot of changes have been introduced since 0.6, it would be nice to ( in a simpler fashion ) use them in clients.

I don't know if there's been a discussion on versioning, but I wrote 0.8 as I tend to think odd-number=unstable, even-number=stable. Perhaps both 0.7 and 0.8 can be released with proper categorization?

[2014-04-26 20:52] lawrenceakka opened #110 "Future of sonoshell as an example"
Now that socos is up and running, should we keep sonoshell in examples/commandline ?

We could just replace it with a text file referring to the socks repository.

In any case, I think we should remove colorama from requirements.txt .  It is not needed for SoCo, and is optional for sonoshell.

[2014-04-27 13:16] sgarcez opened #112 "Topology Discovery"
First of all congratulations on this project, I think it's great and would like to help where necessary.

The first thing that caught my eye while trying it out was the fact that there doesn't seem to be a nice straightforward way to map out a topology. It seems you have to discover all speakers and use the instance method `get_group_coordinator` on a `SoCo` instance to find the group controllers,

[2014-04-27 20:32] petteraas opened #113 "How to list Sonos Playlists"
In the official controllers you can save your queue as a Sonos playlist , you can then later list your saved playlists and select one as your new queue ( or add to existing queue ).

I assumed there was a service function for this somewhere, so I started looking into {service}.iter_actions, so far I've found `Queue.SaveAsSonosPlaylist` and there's a few functions that may or may not be related to

[2014-04-30 22:06] #113 closed, assigned to nobody

[2014-04-30 22:08] #69 closed, assigned to nobody

[2014-04-30 22:11] #77 closed, assigned to nobody

[2014-05-01 09:30] #101 closed, assigned to nobody

[2014-05-01 11:24] lawrenceakka opened #117 "Update setup.py"
I have updated setup.py as follows:

1) Remove old cruft - setuptools is now pretty much the default/We can ignore python 2.6 etc

2) Added a `setup.py test` command to call pytest. To get this to work, we will need to add ``recursive-include unittest *.py` to MANIFEST.in

3) Used the new README as the long description so we get a nice(r) homepage on Pypi

4) Added some trove classifiers for peopl

[2014-05-02 08:18] #110 closed, assigned to nobody

[2014-05-02 17:44] #117 closed, assigned to nobody

[2014-05-05 17:00] #108 closed, assigned to nobody

[2014-05-06 13:29] lawrenceakka opened #123 "Update Readme on Pypi page"
@stefankoegl   See #122  Opening a new issue because I can't reopen that one.

[2014-05-06 14:58] #123 closed, assigned to stefankoegl

[2014-05-06 20:40] #100 closed, assigned to nobody

[2014-05-09 05:41] murali44 opened #125 "How do I add a track to the Queue?"
Hi,

I'm trying to add a track from soundcloud to the queue and it does not work. I might not be using the add_to_queue() method right and wanted some guidance.

I'm calling the method my passing it a QueueItem object

[code]

This return the following error

[code]

I've also tried adding a track to the queue using the Sonos controller. Getting that item using the get_queue() method, and trying t

[2014-05-10 10:02] stefankoegl opened #127 "core.py and services.py have too many lines"
core.py and services.py have too many lines and should probably be refactored.

[2014-05-17 01:17] wadefletch opened #133 "Boolean not callable"
Whenever I try to use a function that takes a boolean as a param I get a type error. Is this a problem on my end, am I doing something wrong, or is this a bug? (I included my code just in case!)

[code]

[2014-05-17 13:56] #133 closed, assigned to nobody

[2014-05-17 18:13] petteraas opened #134 "add_to_queue breaks in python3"
Try the new `ml_*` commands from `socos` to see the problem, it works perfectly in 2.7, but breaks in 3.3 with:

[code]

I think the reason is this:

ElementTree.tostring in Python2.7

[code]

same in Python3

[code]

You'll notice the default bytestring output in 3.3

https://github.com/SoCo/SoCo/blob/master/soco/core.py#L1143
https://github.com/SoCo/SoCo/blob/master/soco/core.py#L1149

[2014-05-17 21:04] #56 closed, assigned to lawrenceakka

[2014-05-17 21:07] #86 closed, assigned to nobody

[2014-05-18 18:55] Fgabz opened #137 "UPnP Error 804"
Hello everyone,

First of all, I really like this project !
I'm trying to read Youtube audio via SoCo. I'm using "pafy" which is a Python API that allow me getting the audio from a Youtube source. The problem is I get an 804 Error when i'm triying to add the uri in the queue like that :

[code]

here the URI I'm trying to add:

http://r20---sn-5hn7ym7r.googlevideo.com/videoplayback?mws=yes&expire=

[2014-05-19 06:12] #137 closed, assigned to nobody

[2014-05-21 22:24] DPH opened #138 "Executing commands on a slave zone"
Many commands only apply to a master (coordinator) zone and you would not expect a user to execute them on a slave. However people do!
Below is a list of commands tested against a slave zone, and at the bottom one against a zone that has volume set to fixed (typically a ZP90 driving an external amp). It shows the command and the behaviour / error that occurs.

Maybe this behaviour is what we shoul

[2014-05-22 07:59] lawrenceakka opened #139 "Check XML encoding/decoding"
Note, so I don't forget:

XML is really supposed to be an encoded byte stream according to the spec, not unicode, so XML parsers are supposed to be good at decoding it. At the moment we take XML off the network (in bytes), decode it ourselves to unicode (when we use response.text instead of response.content), and then re-encode it back to UTF-8 before passing it to to a parser.  This could be impr

[2014-05-22 18:06] #112 closed, assigned to nobody

[2014-05-22 18:10] #44 closed, assigned to nobody

[2014-05-22 22:26] #97 closed, assigned to nobody

[2014-05-23 16:37] #75 closed, assigned to nobody

[2014-05-23 17:09] lawrenceakka opened #142 "Close pypy branch in main repo"
@stefankoegl Do we need the pypy branch in the main repo?  Can it be closed?

Lawrence

[2014-05-23 17:24] #134 closed, assigned to nobody

[2014-05-23 17:31] stefankoegl opened #143 "Release 0.8"
A lot of changes have been merged since 0.7, and everything marked for milestone 0.8 is closed / merged.

What do you think about releasing 0.8 soon (in the next few days)? Anything else that should go into the release?

[2014-05-23 19:49] #125 closed, assigned to nobody

[2014-05-25 14:29] stefankoegl opened #148 "data_structures.py is quite large"
``data_structures.py`` is becoming quite large, and I've been thinking about how to split it up.

I'd propose the following

Module ``soco.data_structures``
* ``MusicInfoItem``
* ``QueueItem``
* ``URI`` (from #147)

Module ``soco.data_structures.musiclib``
* ``MusicLibraryItem``
* ``ML``* classes

Module ``soco.data_structures.services``
* MusicServiceItem
* ``MS``* classes

What do you think?

[2014-05-27 18:22] KennethNielsen opened #150 "(Possibly) the anatomy of a music service plugin (collaborate on Spotify)"
Hi everyone

There has been some request for information about how to write a music service plugin with all the bells and whistles (search, browse and integration with the data structures). I have been writing the first more or less complete one (Wimp) and tried to make the data structures for that purpose (MS*) general enough to make them work with other services as well. However, I should say, t

[2014-05-30 08:06] KennethNielsen opened #152 "Encoding inconsistency in get_current_track_info"
All text returned by soco should unicode objects. get_current_track_info does not seem to respect that, as can be seen from the two python 2.7 example outputs below:

[code]

Ideally I think, that when the radio stations has been brough into the data structures fold, then this method should return data structure objects according to their type, but for now, this should be fixable by turning all st

[2014-05-30 08:18] KennethNielsen opened #153 "Choose ML data structure based on class in stead of parent"
The current data_structures.get_ml_item will pick the ML item to use based on the parentID. As shown in https://groups.google.com/forum/#!topic/python-soco/tFnNlGTp9TU this is not optimal, since the parentID can become quite complex when it is used to browse and search the music library. The current design is the result of me not fully understanding the role of the parentID and UPnP classes.

Idea

[2014-05-30 18:58] petteraas opened #155 "discover breaks in python 3.3"
Testing socos master with SoCo master I found this problem in 3.3

[code]

[code]

A solutions seems to be

[code]

but I guess there was a good reason to use a bytes here?

I tested this patch successfully on 2.7 and 3.3 with my short example above.

[2014-05-30 20:13] #155 closed, assigned to nobody

[2014-05-31 09:02] spfuu opened #156 "Property 'uid' caused problems"

[2014-05-31 18:56] #156 closed, assigned to nobody

[2014-06-01 08:10] spfuu opened #158 "get_current_track_info() failure"
Under Python3 the function get_current_track_info() fails when playing some radio stations.

The problem is the LOGGER.warning:

[code]

--> traceback.format_exc() is unknown

Stefan

[2014-06-01 18:03] #158 closed, assigned to nobody

[2014-06-04 19:55] lawrenceakka opened #167 "Different versions on readthedocs"
Can we persuade readthedocs to recognize our release tags, and provide docs for the different releases.  At the moment, the default and only docs are for the development version

[2014-06-04 20:59] spfuu opened #168 "Error in parse_event_xml()"
An error occurred when using the function parse_event_xml() in events.py (Python3)

[code]

[code]

For Python3 no encoding is necessary.

[code]

Stefan

[2014-06-04 21:55] #168 closed, assigned to nobody

[2014-06-05 17:42] lawrenceakka opened #170 "Implement Alarms"
I'm working on this at the moment ...

[2014-06-06 17:36] #170 closed, assigned to lawrenceakka

[2014-06-06 18:19] #143 closed, assigned to nobody

[2014-06-07 23:40] slzatz opened #176 "Speakers report previous group coordinator info after change"
if you change a speaker's group coordinator [using s.join(z)] and then do s.group.coordinator.player_name you get the speaker's group coordinator prior to the change.  It appears that the information is cached and I don't see in the docs or code a way to invalidate the cache.  To be clear, it appears that in reality the speaker does pick up the new group coordinator but querying via s.group.coordi

[2014-06-11 21:11] bioken opened #178 "mute and volume functions problems"
Hi,
I moved all my stuff from my macbook air (working fine) to my imac. I now get the following error for mute ('bool' object is not callable) and a similar one for volume ('int' object is not callable).

After some browsing and testing it seems that using the function
sonos.mute which declares an internal variable as mute, causes the inconsistency between callable function and variable. If I chan

[2014-06-14 19:35] #178 closed, assigned to nobody

[2014-06-19 11:27] bioken opened #181 "Corrupt music library / from_xml problem"
Hi,

Don't know if my music library is corrupt or not, but get_music_library_information (actually really_unicode) crashes for a specific item. I've traced it down to from_xml for which the current implementation of the if check fails:
            if result is None:
                content[key] = None
            else:
                # The xml objects should contain utf-8 internally

[2014-06-21 19:59] bioken opened #182 "How do I retrieve all tracks of a specific album? or all albums of artist?"
Hi,

Currently I am using a modified version of get_music_library_information from version 0.5 (or 0.6) to do so, where I have modified the search provided to
1) get all albums of a specific artist
2) get all tracks for a specific album
To do so I skip the search translation (in get_music_lib_inf) and create the following search strings:
A:ARTIST/artist_name or A:ALBUM/album_name
which I then pass

[2014-06-23 16:17] #181 closed, assigned to nobody

[2014-06-27 06:51] robwebset opened #188 "Problem with soco.add_uri_to_queue()"
I thought that I would give the "add_uri_to_queue" interface a try, I was currently doing:

[code]

So I tried it with the same argument passed to this (so just replacing the call with "add_uri_to_queue", giving it the same argument).

In the test the URI in this case is:

[code]

When it constructs the message it looks as follows:

[code]

Which does look a bit odd, and then gives the error:

[co

[2014-06-27 12:43] #182 closed, assigned to nobody

[2014-06-30 18:35] #188 closed, assigned to nobody

[2014-07-11 17:33] ghost opened #193 "Connecting from a server"
I am working on a chatbot that is hosted on a server outside of the network with the sonos on it.  Does anyone have any experience with using SoCo from outside a network.  Thanks.

[2014-07-21 15:28] Tenderfoot14 opened #195 "Check if TV Audio is playing through speaker"
I think a great feature to add in the future would be an easy way to check if audio is from TV. However, in the meantime, how would I go about doing this?

[2014-07-25 10:33] #176 closed, assigned to nobody

[2014-07-25 16:12] #193 closed, assigned to nobody

[2014-08-09 09:28] DPH opened #196 "MI Browse"
@KennethNielsen: great work on this (#192).

Noted in the pull request after it was closed that Sonos Playlists don't work.

Have found a fix, but need you to validate this is right and won't mess up other things:
[code]

Hope this helps,
Cheers David

[2014-08-11 23:48] sibblegp opened #197 "Volume"
Is there no way to increase/decrease the dynamic volume in a Sonos player?

[2014-08-19 21:56] #197 closed, assigned to nobody

[2014-08-20 16:42] #153 closed, assigned to nobody

[2014-08-22 00:06] gpothier opened #201 "Discover fails if there is a misbehaved device in the network"
The discover function in code.py does not check the response received to the SSDP search query, as explicited in this comment:

[code]

If a device on the network is misbehaved and responds faster than the Zone Players, the discovery function fails. Unfortunately, this is not just a theoretical issue: for some reason, the leapcast software (https://github.com/dz0ny/leapcast) does respond to SoCo's

[2014-08-27 02:20] ndw opened #204 "Protocol changes?"
I've been using SoCo for a while now, but it seems to have stopped working. This is possibly related to the fact that I've let the Sonos beta controller update the zone player, so maybe the underlying protocols have changed?

Anyway, with logging set to DEBUG here's an example of some things that work and some that don't:

[code]

[2014-08-27 13:07] #204 closed, assigned to nobody

[2014-08-29 15:30] pfischi opened #206 "Spotify plugin seems to be broken."
Currently i'am trying to implement the Spotify plugin without success.
So that's what i've done so far:

spotify = Spotify(self.soco)
spotify.add_track_to_queue(SpotifyTrack('spotify:track:7kCrYUDtWsPldohOKPTKPL'))

A track with the full sonos-uri is added to the list, but this track is not playable from a sonos IOS or Android app. The program rejects the play action with 'a file not found excepti

[2014-08-31 13:26] #25 closed, assigned to nobody

[2014-08-31 14:28] stefankoegl opened #209 "Release 0.9"
Quite some time has passed (and pull requests merged) since 0.8, so I think it's time to start planning for 0.9.

Please list what you would like to have included in the next release.

[2014-08-31 14:29] #85 closed, assigned to nobody

[2014-08-31 14:30] #88 closed, assigned to nobody

[2014-08-31 14:38] #142 closed, assigned to stefankoegl

[2014-08-31 20:50] nicerworld opened #210 "Spotify plugin metadata issue"
When I do a play_uri I do not get metadata in controller apps. I printed the response of get_current_track_info to get the DIDL to pass into play_uri meta field as below but to no avail. I tried with an MP3 and I can overwrite the MP3 meta with the passed in meta and the overwritten is displayed on controller so I know that passing in meta is normally working but not on Spotify plugin.

Ideas?

zo

[2014-08-31 22:14] pfischi opened #211 "Passing didl_metadata to soco.play_uri() does not work"
When i try to pass the following DIDL metadata to the play_uri function (in my case a raido stream), the stream is played but without any metadata.

This is the data i passed to the function:

[code]

Thanks,

Stefan

[2014-09-01 12:46] nicerworld opened #213 "Function to set metadata for current track"
It would be great to have a feature to be able to set the metadata associated with a track that is visible in the controller screens. This would be useful to get over the Spotify/ Tunein radio plugin metadata bug as could store the metadata retrieved from get_current_track and then set it again if I do play_uri or add_to_queue on a Spotify track.

The metadata would only be relevant to the current

[2014-09-07 18:06] dajobe opened #216 "Get just queue size (or other browse/search result size)"
I wanted just the size of the queue, not the actual items.

Investigating with Device Spy I saw the Browse call can be given a BrowseFlag=BrowseMetadata arg to just get a container object which has the count.

I've developed some code that makes this value returnable as part of a SearchResult which I'll make a PR for.  I note that PR #214 would be useful here since I also make the get_queue() resu

[2014-09-12 15:34] #98 closed, assigned to nobody

[2014-09-13 08:02] robwebset opened #223 "Unable to add Queue item to queue"
I've noticed that if you do a get_queue it returns to a List of Queue items.

However you can not use these items to then pass into add_to_queue.

Instead you have to extract the URI from the object and pass it into add_uri_to_queue.

This seems a little odd - I guess ideally add_to_queue would be able to take any of the queue type objects (QueueItem, Queue).

With this in mind, is it possible to

[2014-09-15 18:49] spfuu opened #226 "events.py: get_ml_item() function fails, if radio station is played"
The get_ml_item() in data_structures.py throws an error if a radio stream is played. This happens during processing some events.

[code]

As a result, the metadata for radio streams are not present within the result set of the 'LastChange' xml parsing function 'parse_event_xml()'.

Stefan

[2014-09-25 18:10] #209 closed, assigned to nobody

[2014-09-26 15:57] stefankoegl opened #232 "Release notes 0.10"
We can use this issue to link merged PRs that need to be added to the release notes.

[2014-09-27 01:29] Legoben opened #234 "Music service tracks from .browse() are treated as MLTrack instead of MSTrack"
[code]

The items in tracks are the `MLTrack` class and every one of their `item_id`s are `None`. This makes it so they can't be added to Queue (error), and you have to resort to using the URIs

[2014-09-28 12:12] simonalpha opened #235 "Duplicated code in _parse_zone_group_state after modification"
Hi folks,
I'm working on altering the _parse_zone_group_state method in the SoCo class to recognise embedded Satellite elements (in home theatre setups) (601e5e11df323a2ce8), but I've ended up with code duplicated in nested loops. Just wanted to get some advice/thoughts on the preferred approach to resolving it: another private method, a helper function in the method scope, something else?

[2014-10-07 14:17] #201 closed, assigned to nobody

[2014-10-07 16:50] stefankoegl opened #238 "Release 0.10"
Only two weeks since 0.9, but a lot of changes have been merged already. Also the [0.10 milestone](https://github.com/SoCo/SoCo/milestones/0.10) does not list any open pull requests.

Therefore I'd like to ask if there are some specific pull requests to be merged, bugs to be fixed for the release of 0.10. Otherwise I'd prepare the release in the next few days.

[2014-10-07 17:29] #216 closed, assigned to nobody

[2014-10-13 12:13] #235 closed, assigned to nobody

[2014-10-18 20:52] KennethNielsen opened #247 "On data structures and DIDL Lite for music services"
Hi everyone

At this point I have commented quite a few places about what you need, to create a data structure (and the DIDL metadata necessary to be able to play it) for a music service, so I thought it would be better to gather this in one place, so maybe we can clear some things up.

Here is an example from two different music services of both the XML sent to the Sonos unit to add a track to th

[2014-10-20 09:15] KennethNielsen opened #248 "The tutorial in the docs still use the deprecated SonosDiscovery class"
This is just a reminder, to remember to get this fixed at some point.

The usage of this class should be replaced with the new discover module function.

[2014-10-21 10:02] KennethNielsen opened #250 "The example commandline/discover.py is python 3 incompatible"
It makes use of the print statement.

[2014-11-03 21:23] #250 closed, assigned to nobody

[2014-11-03 21:24] #248 closed, assigned to nobody

[2014-11-07 19:34] stefankoegl opened #254 "Evaluate "changes" library for automating release"
Just a reminder to check out https://github.com/michaeljoseph/changes for automating SoCo releases.

[2014-11-08 20:39] lawrenceakka opened #255 "Travis builds not working"
Travis seems to be having trouble building SoCo on Python 3.2. It is reporting strange syntax errors in the Jinja2 and logilab-common packages, which it has been very happy with until now. I have disabled the Python 3.2 build for the moment. We can re-enable if/when this problem is fixed

[2014-11-08 20:41] #226 closed, assigned to nobody

[2014-11-15 10:56] stefankoegl opened #258 "PicklingError when building docs"
When preparing the release of SoCo 0.10 I noticed that building the docs currently fails with the following exception

[code]

[2014-11-16 11:43] #258 closed, assigned to nobody

[2014-11-16 12:47] #232 closed, assigned to nobody

[2014-11-17 16:38] #238 closed, assigned to nobody

[2014-11-17 18:41] stefankoegl opened #261 "Release notes 0.11"
Please add your release note items for 0.11 here

[2014-11-30 12:25] #255 closed, assigned to nobody

[2014-11-30 12:27] lawrenceakka opened #263 "Python 2.6/3.2 ongoing support"
From #255

The new versions of pylint and astroid have dropped support for Python 2.6 (and presumably also for python 3.2). At the moment, we have pinned to old versions in requirements-dev.txt. We will have to decide what to do about our own Python 2.6 support going forward. One option may be to have Travis use different versions of pylon etc for Py2.6, but this seems a bit messy.

[2014-12-09 21:50] robwebset opened #264 "Issues With Events with New Sonos Software"
Has anyone else seen any issues with the event structures with the latest Sonos software?

I'm getting strange errors when I try and accress some things in the event structure.  First I do:

[code]

But then get the error:

[code]

So it doesn't think that "title" is a string any more!

Thanks

Rob

[2014-12-21 09:32] pfischi opened #266 "DIDL error with recent Sonos Software update?"
Hi,

I got the following error when a Spotify track is in the soeakers list (it is a sonos favorite item):

  File "/usr/lib/python3.4/http/server.py", line 398, in handle
    self.handle_one_request()
  File "/usr/lib/python3.4/http/server.py", line 386, in handle_one_request
    method()
  File "/home/pfischi/programming/projects/shSonos/server.sonos/soco/events.py", line 225, in do_NOTIFY
    v

[2014-12-22 06:59] #264 closed, assigned to nobody

[2014-12-29 21:40] nicklasriedel opened #268 "program codes"
hi all.

sorry if i ask stupid but I am in doubt, whether rested program I need to and send the codes from ?? it is from telnet to the Sonos or how I do it. when I need to send the codes / commands ???

hope you will help.

[2015-01-02 00:00] CashWilliams opened #270 "Basic usage issue on Raspberry Pi (Python 2.7.3)"
I've installed pip and run the installation as shown in readme. This is on a raspberry pi, which seem to come with an older version of Python, but I'm hesitant to upgrade Python since I have a lot of other scripts already running and working with the GPIO ports.

Also I know nothing about Python, so please bear with me. Running with sudo since scripts need access to GPIO.

[code]

[2015-01-02 09:12] DPH commented on #270
Hi, the Raspberry Pi has Python 2.7 installed by default. Newer Pi's still have 2.7, but also a version of 3. SoCo works with Python 2,7 and 3.2+. I run SoCo on Raspberry Pi with no problem using python 2.7. So Pi looks OK.

You code works perfectly using the current version of SoCo 0.10 available from https://pypi.python.org/pypi/soco/ in my test (on Windows but never had an issue moving stuff to

[2015-01-03 16:05] poirier opened #271 "SoCo 0.10 discover() not working with Python 3.4?"
Just downloaded SoCo and started trying the tutorial:

    $ python3.4
    Python 3.4.0 (default, Apr 11 2014, 13:05:11)
    [GCC 4.8.2] on linux
    Type "help", "copyright", "credits" or "license" for more information.

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/home/poirier/working/SoCo/soco/core.py", line 102, in discover
        if "Sonos" no

[2015-01-04 14:06] #271 closed

[2015-01-04 14:08] lawrenceakka commented on #271
This should be fixed now. Thanks for the report. If you want to use your installed version, replace `"Sonos"` with `b"Sonos"` at line 104 of `core.py`

[2015-01-04 14:10] lawrenceakka commented on #261
#269 and #271

* Bugfixes for discovery code

[2015-01-04 14:11] lawrenceakka commented on #270
Closing for now - please feel free to reopen if David's comment doesn't fix this.

[2015-01-04 14:11] #270 closed

[2015-01-04 14:12] lawrenceakka commented on #268
@nicklasriedel

Is this what you wanted to know? If not, please re-open this bug.

Lawrence

[2015-01-04 14:12] #268 closed

[2015-01-07 20:39] nicklasriedel commented on #268
Hi David

Thank you bother to respond

sorry if I ask a little silly but I am not so well known in these codes. but I can open a browser directly and test a command eg http: //192.168.10/Pause or in the style ??

Med venlig hilsen - Kind Regards

Nicklas Riedel
Serviceteknikker
Sikkerhed–service Glostrup
[cid:_1_0A1758A80A17563C003E5782C1257BC9]

Lindpro A/S
Fabriksparken 58, DK-2600 Glostrup

Dir

[2015-01-09 17:30] DPH commented on #268
Hi Nicklas,
The short answer is NO.
You can't issue commands to Sonos from the browser.

You can read information from Sonos by using port 1400 eg: http://[Sonos
player IP]:1400/status
more info at: https://github.com/SoCo/SoCo/wiki/Information-Adresses

To get Sonos to do something you need to send it a upnp command.
You can do this from a Python program using SoCo,.

There is also a command line

[2015-01-09 20:43] nicklasriedel commented on #268
Cant i rul pyton om Windows server ?

Sendt fra min iPhone

Den 09/01/2015 kl. 18.30 skrev David <notifications@github.com<mailto:notifications@github.com>>:

Hi Nicklas,
The short answer is NO.
You can't issue commands to Sonos from the browser.

You can read information from Sonos by using port 1400 eg: http://[Sonos
player IP]:1400/status
more info at: https://github.com/SoCo/SoCo/wiki/Informat

[2015-01-09 20:53] stefankoegl commented on #268
For making use of the SoCo library you *have to know how to write programs in Python*. Based on your questions it seems that this is not the case.

If you do want to write your own program to control your Sonos speakers, please start with one of the many [Python tutorials](https://www.google.at/search?q=python+tutorial) first. Additionally [this article](http://www.catb.org/esr/faqs/smart-question

[2015-01-11 13:56] #266 closed

[2015-01-11 16:16] pfischi opened #272 "Wrong title for spotify track"
When I try to add a spotify item to the queue (with the add_to_queue fuction) the track title for this item is wrong (the internal spotify url is shown instead of the title). The item was prevoiusly generated from the "get_queue" function in core.py. This step seems to be fine whereas the variable is set with the right dc:title value.

Thanks,

Stefan

[2015-01-11 17:30] lawrenceakka commented on #261
#256:

* A fairly extensive re-organisation of the DIDL metadata handling code, which brings SoCo more into line with the DIDL-Lite spec, as adopted by Sonos. DIDL objects can have now have multiple URIs, and the interface is much simpler.

Deprecation Note: The exception `DidlCannotCreateMetadata` has been deprecated. Use `DidlMetadataError` instead.

[2015-01-13 21:07] sdomotica opened #274 "Tunein example don't work"
Could you verify the tunein example.
Seems don't work anymore.
Thks

[2015-01-14 11:54] lawrenceakka commented on #274
Which tunein example do you mean? Are you talking about `examples\commandline\tunein.py`?  That one works OK for me.

If you are experiencing a problem, you need to say a bit more than "doesn't work", or we can't really help. For example, are you getting an error message? If so, what is it? What operating system are you using? What version of python?

Lawrence

[2015-01-14 16:16] sdomotica commented on #274
Sorry, please close this. I made a stupid typo error.

[2015-01-15 21:41] #274 closed

[2015-01-16 06:57] KennethNielsen commented on #272
Hallo @pfischi

Thanks for reporting this. What you are describing is a known problem. Basically, the information that you get with get_queue does not contain enough information to re-add it to the queue and have it be recognized as a proper music service track.

Then only way I see around this, is to get music service plugins (#262) working properly first, and then using the those, and then use t

[2015-01-16 07:01] KennethNielsen commented on #263
Hi @robwebset

I just wanted to hear if you have had a chance to open a kodi bug report about this or possibly chiming in on an existing one?

[2015-01-16 07:21] KennethNielsen commented on #263
In any case. I have not seen any comments against dropping 3.2. Anyone?

I have been looking for a source of information about which version of python are available via the packaging system in the supported version of different Linux distributions (and Mac OS for that matter) but my google foo seems insufficient :(

Basically I was looking for documentation for whether it would be o.k. drop 3.0-3.

[2015-01-16 08:10] robwebset commented on #263
@KennethNielsen Unfortunately there are lots of requests posted that ask for upgrading it in Kodi/XBMC however none seem to get actioned - I guess it's a waiting game :(

[2015-01-16 12:14] KennethNielsen commented on #263
@robwebset Yeah ok, but I guess what I was wondering was whether any of these requests has made it clear that it is more than a convinience question. Because, I can (somewhat) understand, that the Kodi devs, are unwilling to work on it, if it is just because people prefer something newer, but if anyone says, you are going to loose this plugin if nothing happens, that might be a different matter.

[2015-01-16 13:21] robwebset commented on #263
@KennethNielsen The problem is, the core Kodi developers really don't care about the addons too much - their answer is petty much "I don't care if you addon doesn't work - I don't use it myself"

[2015-01-17 10:16] KennethNielsen commented on #263
@robwebset That sucks, but in that case, I would also feel less responsible to the users of Kodi. To put in bluntly, if their developers don't care about their add-on system, why should we?

Except of course, because you still want to be able to use SoCo *grumble*.

Hmm, I'm contemplating whether at the point where we have good music service support (which in my mind is the 1 big item we are missi

[2015-01-17 14:37] robwebset commented on #263
@KennethNielsen I think we have been down this road before - when I originally supplied a pull request for 2.6 support I recall that you didn't want it added - but everyone else agreed, so it went in.

I don't see why it should be pulled now (especially as I think the Kodi addon is most probably the biggest free opensource project that uses SoCo at the moment) I fail to see what has changed that w

[2015-01-17 16:22] poirier opened #276 "Errors parsing events"
I'm starting to experiment with watching for events, using the example code from the first comment here: https://github.com/SoCo/SoCo/pull/194

But it seems that the event parsing code is failing on some of the events it is receiving.  I'm running the SoCo code from master today (9dc84e3beb02b3efd9c30855245bf83081d5ae57).

 I added a bit more logging and here's an excerpt.

    Event 0 received fo

[2015-01-17 17:42] lawrenceakka commented on #276
Hmmm...

I've been seeing a few of these errors recently.  It looks as though the Sonos firmware fails properly to stick to the official UPnP DIDL-Lite specification. For example, a DIDL object.container should be represented in XML by a <container> tag, but Sonos sometimes (but not always) uses an <item> tag instead.

For the moment, the best fix will be to remove the check at line 349 of data_st

[2015-01-17 22:47] lawrenceakka commented on #261
#273:

- Old code which has been deprecated for more than three releases has been removed

- discover is now in its own module, discovery.py.  Note that `from soco import discover` will work just as it did before.

- logging has been improved (clarified a few messages, removed pointless ones etc)

- Event objects now have a timestamp field

[2015-01-18 09:54] KennethNielsen commented on #263
@robwebset If you will notice I was merely discussing alternatives. The first alternative would branch of and essentially pull support at some future point in time, i.e. **not now**. The second alternative would maintain support, but simply depend on manual testing for support to be included in the release.

With regards to previous decisions, yes, we have had this discussion recently, and I did t

[2015-01-18 11:44] stefankoegl commented on #263
@robwebset could you point us to the discussions (in mailing lists, bugtrackers, etc) about Kodi's support for recent Python versions?

[2015-01-18 11:55] robwebset commented on #263
Hi @stefankoegl there are several, hopefully the following link shows some of them:

http://forum.kodi.tv/search.php?action=results&sid=744f012a15d11c7b955a97831ef63650&sortby=&order=desc

The most recent seems to be:

http://forum.kodi.tv/showthread.php?tid=205204

[2015-01-18 12:11] stefankoegl commented on #263
From the discussion in the last link it sounds like 2.7 would already be supported.

[2015-01-18 12:17] stefankoegl opened #278 "Release 0.11"
It has been 2 month since the release of 0.10 already, so we should start thinking about the next release.

Is there anything specific that should go into 0.11?

[2015-01-18 13:07] robwebset commented on #263
@stefankoegl for some OSs, but for others:
Android/ios/osx use 2.6.x

[2015-01-18 14:19] mahescho opened #279 "SSL"
Hi,

all my speakers use SSL on port 1433, so none gets detected as SoCo only uses port 1400 and no SSL.
[code]
[code]
Matthias

[2015-01-18 16:13] KennethNielsen commented on #279
Did you set them up somehow to use SSL?

[2015-01-18 20:11] mahescho commented on #279
No - at least not intentionally. Is there a way to do so?

[2015-01-19 20:53] lawrenceakka commented on #279
What this tells me is that (1) your Sonos device is not revealing all its open ports to nmap (not unusual!), and (2) that the device_description page is available on port 1443 via https (also not unusual)

In fact, my system responds exactly the same way.

What it doesn't tell me is whether the device description page is available also via http on port 1400 (mine is), and what happens when you use

[2015-01-20 15:51] stefankoegl commented on #263
And which of those do you use?

[2015-01-20 15:56] robwebset commented on #263
It's not up to me which I use (WIndows as it happens) - but more what other users of the addon use - which can be any of the OSs as I support all of them within Kodi:
http://kodi.wiki/view/Add-on:Sonos

[2015-01-21 18:54] clemenstyp opened #280 "album compalition"
Hello,
i had an error in the data_structures.py file:
  File "/Library/Python/2.7/site-packages/soco/data_structures.py", line 48, in get_didl_object
    cls = DIDL_CLASS_TO_CLASS[xml.find(ns_tag('upnp', 'class')).text]
KeyError: 'object.container.album.musicAlbum.compilation'

I think it's because the data structure for album compilitons aren't defined. I think it's because I set the album groupi

[2015-01-22 07:48] KennethNielsen commented on #263
@robwebset Can you "declare" in your plugin, which OSs it is supposed to work for?

[2015-01-22 07:52] robwebset commented on #263
@KennethNielsen I would see no reason to, why would I want to suport less users? At the moment all Kodi users can make use of the Sonos addon.

[2015-01-22 07:53] KennethNielsen commented on #263
@robwebset Yes, but is it possible?

[2015-01-22 07:57] robwebset commented on #263
@KennethNielsen it might - I've not looked into it, there is no need, as I support all OSs - and wish to keep it that way

[2015-01-22 07:58] KennethNielsen commented on #280
Hallo  @clemenstyp and thanks for the report.

There has been some fairly extensive refactoring going on lately sorrounding the data structures, so it would be nice to know which version you are using:

[code]

That being said. A quick glance at the code suggests that the new code also does not have support for `object.container.album.musicAlbum.compilation`, so it will probably need to be fixed u

[2015-01-22 11:04] clemenstyp commented on #280
I am using Version  0.10, but it's the same when I use the latest github code.

I just have very little knowledge about python and I down't really understand how the DidlMusicAlbum Class work and how the programs knows that it has to use this class.  But my created DidlMusicAlbumCompilation Class has only one change (item_class = 'object.container.album.musicAlbum.compilation'), therefor it should

[2015-01-22 20:28] ciscovoice opened #281 "Snapshot restore with unicode characters"
I've been writing a full security system for my house and used some of your example code to get a lot of my TTS for notifications and what not working. This stuff is excellent and I appreciate all the hard work you guys put into it. It's fantastic.

I have one question however, and it was eluded to else on the SoCo boards, is about unicode encoding on the return function of snapshot (this is affec

[2015-01-22 21:28] DPH commented on #281
Hi @ciscovoice,
I assume you are having problems with the snapshot, not the TTS
The snapshot functionality is now in the formal SoCo (release0.10 onwards) https://pypi.python.org/pypi/soco/

This does cater for accented radio stations from memory and is part of normal code not a plugin.
See SoCo pull request #224 SoCo/SoCo#224

Hope this helps,
Cheers David

[2015-01-22 21:49] ciscovoice commented on #281
Python 2.7 with soco 0.10 didn't seem to like it. I converted my code to python3 and it seems to have fixed itself. Thanks for the great info. Keep up the good work.

[2015-01-23 21:06] lawrenceakka commented on #279
I'm going to close this for now. Please reopen if you can provide any more information

[2015-01-23 21:06] #279 closed

[2015-01-24 16:34] KennethNielsen commented on #281
@ciscovoice if it fails with python 2.7, then it is a bug. The only question is whether there were improvements on this code between 0.10 and now (@DPH  do you know).

Just on the top of my head, the snapshot.py file does not import unicode_literals from __future__, that might have something to do with it if any strings are created anywhere in the module.

[2015-01-24 21:00] DPH commented on #281
Hi @KennethNielsen,
agree it is a bug - I am sure it did work with radio station names with accents.

Have tested 0.10 and the current version under Python 2.7 on Windows and can confirm both fail!
Have done a file compare on snapshot.py 0.10 and current and no real differences.

Had a look but I am not sure how to fix it.
Tried adding from __future__ import unicode_literals but did not help
Have

[2015-01-24 21:16] lawrenceakka commented on #281
It seems to be working for me. Can someone tell me steps to reproduce?

L

[2015-01-24 22:20] ciscovoice commented on #281
I can give you my code, but I don't think I saved a 2.7 version. The python 3.2 on raspberry pi version seems to play nice thought if you want it.

[2015-01-24 23:32] DPH commented on #281
Hi @lawrenceakka
 on python 2.7 the following errors with the latest soco

[code]

cheers David

[2015-01-25 07:37] robwebset opened #284 "0.11 Pre-release straight switch gives error"
Hi all,I wasn't sure exactly how to raise this so thought I'd just do an issue that could easily be closed.

I thought I'd try doing a straight swap from 0.10 to 0.11 (pre-release) thinking that it would be a conpatible release - but now I'm not sure if it is? (Should we be highlighting this clearly in the release notes?)

I seem to be getting lots of errors like:
AttributeError: 'DidlMusicArtist'

[2015-01-25 11:53] lawrenceakka commented on #284
We had a fairly extensive rewrite of the DIDL metadata code, which was started before 0.10 and has continued into 0.11:  see PR #256

Each DIDL object (DidlMusicArtist, DidlPlaylistContainer) now has a `resources` property which is a *list* of `DidlResource` items. Each of those has a `uri` property, which is probably what you want. Note that in theory it is possible for a DIDL object to have more

[2015-01-25 12:43] #281 closed

[2015-01-25 12:44] lawrenceakka commented on #281
That's very helpful. Thanks.  I found the bug and fixed it.

[2015-01-25 22:42] DPH commented on #281
Great investigation @lawrenceakka
Works perfectly now
Thank you

Cheers David

[2015-01-26 06:58] robwebset commented on #284
@lawrenceakka Thanks for the help - that got me passed that problem - do we need to mention this case in the release notes?

I do have another issue which it would be great if you could help with (I don't know if this is to do with any of the recent changes or not).  Previously I was able to browse/navigate down to a given track - using something like:

[code]
06:39:14 T:7268   DEBUG: script.sonos

[2015-01-27 18:38] robwebset commented on #284
Not to worry about the other error I posted - looks like things got escaped twice - not sure how - but at least I know the main issue.

Thanks

Rob

[2015-01-27 19:26] KennethNielsen commented on #284
@lawrenceakka I wonder if we should re-add uri as a property that points to just that, and document in the docstring that it just returns the first one. It would be a small addition and could be accompanied by a deprecation warning.

[2015-01-29 06:57] robwebset commented on #263
Posted a new thread targetting a given release for Kodi Python upgrade:

http://forum.kodi.tv/showthread.php?tid=216598

[2015-01-29 14:20] KennethNielsen commented on #263
@robwebset Thanks, I see your point about reluctance

[2015-01-31 19:03] poirier opened #285 "Trigger music library update"
I'd like to be able to trigger Sonos to rescan my music share(s) and update my music library using SoCo, as that seems to be the only thing I have to go back to the Android app for.

I don't see a way to do that from SoCo right now. I haven't seen an API for that in the UPnP specs I've skimmed either, like the ContentDirectory service. But if anyone can point me to how to tell the Sonos to do the

[2015-02-01 10:53] lawrenceakka commented on #285
Sons adds various commands to the UPnP specs.  Here is a quick script I use to dump available commands to the terminal:

[code]

From this, it looks like the RefreshShareIndex command of the ContentDirectory service might be what you are looking for. I haven't tested it though, so let us know what happens.

[2015-02-01 14:35] poirier commented on #285
Thanks! Your script was really helpful. I've opened a pull request.

[2015-02-02 09:30] #285 closed

[2015-02-02 10:21] lawrenceakka opened #287 "Update snapshot to ass multiple items efficiently"
At present, snapshot adds items back into the queue one by one. We should update this to use AVTransport/AddMultipleURIsToQueue.

See some comments at #223

[2015-02-07 18:27] lawrenceakka opened #290 "Builds failing - pep8 upgraded"
pep8.py 1.6 has just been released. It has introduced new tests, which are causing all Travis builds to fail with error E402:  see https://github.com/jcrocholl/pep8/pull/304#issuecomment-66939162

I'm looking into it

[2015-02-07 18:51] lawrenceakka commented on #290
Fixed up quite a lot of whitespace issues. I have also disabled the flake8 E402 check in Makefile. We can reenable it once pep8.py has issued a fixed release for some of the issues (e.g. imports within a try..except block, we we use a fair bit)

[2015-02-07 20:09] lawrenceakka opened #291 "Some github badges within the Readme file are not working"
Anyone fancy fixing them?

[2015-02-07 21:27] lawrenceakka commented on #291
Looks  like it's not just ours

[2015-02-08 22:35] ulleberg opened #293 "tunein example UnicodeEncodeError"
Hi

I get an UnicodeEncodeError when running tunein.py, I'm using Python 2.7.9

I believe it's because my 4th station is named "NRK P1 Trønderlag" [ø, is the issue I believe]

C:\<path>>python Sono_tunein.py 10.0.1.20 4
returned 1 of a possible 10 radio stations:
Traceback (most recent call last):
  File "Sono_tunein.py", line 51, in <module>
    print station['title']
  File "C:\Python27\lib\enco

[2015-02-09 20:20] #291 closed

[2015-02-10 10:09] #293 closed

[2015-02-10 10:11] lawrenceakka commented on #293
Takk, @ulleberg

[2015-02-10 10:45] #280 closed

[2015-02-10 10:46] lawrenceakka commented on #280
Thanks @clemenstyp

[2015-02-10 10:53] lawrenceakka commented on #152
@KennethNielsen

I know its been a a while, but think this is handled correctly now. A unicode string is returned whenever necessary. Please re-open if I am missing the point!

[2015-02-22 15:38] pfischi opened #294 "Error while playing a specified radio station"
An error occurs if the station "Alsterradio 106.8 Rock" is played. You can find this station in TunIn -> Location -> Europe -> Germany -> Hamburg.

Here is the error:

File "/home/s/projects/shSonos/server.sonos/soco/events.py", line 230, in do_NOTIFY
    variables = parse_event_xml(content)
  File "/home/s/projects/shSonos/server.sonos/soco/events.py", line 136, in parse_event_xml
    value = fro

[2015-02-23 18:30] siegeld opened #295 "Communication with Sonos stops after a few days of connection"
Please see the log info below.  After a while, I get Errno 32, and all further SoCo commands to the Sonos seem to have no effect, though I get no additional errors.  Suggestions?

    2015-02-23 07:39:21,032 - INFO - services - Sending GetPositionInfo [(u'InstanceID', 0), (u'Channel', u'Master')] to 192.168.71.49
    2015-02-23 07:39:21,036 - INFO - connectionpool - Starting new HTTP connection (1

[2015-03-04 21:34] KennethNielsen commented on #152
Ahh, but that was the point. I thought we wanted to return unicode object always, whether they were necessary or not, to ensure consistency in the output. What do you think?

[2015-03-04 21:53] KennethNielsen commented on #148
@stefankoegl I believe this is no longer an issue after @lawrenceakka's rewrite. The module is below 1k lines and only contains core DIDL data structures. Please re-open if you think it is still relevant.

[2015-03-04 21:53] #148 closed

[2015-03-04 21:55] KennethNielsen commented on #150
This is no longer relevant after @lawrenceakka's work on a general music service module

[2015-03-04 21:55] #150 closed

[2015-03-04 21:56] KennethNielsen commented on #247
This discussion is no longer relevant. Closing it.

[2015-03-04 21:56] #247 closed

[2015-03-04 22:01] KennethNielsen commented on #196
I assume this is closed with #198 and data_structures has been refactored since. Please re-open if it is still relevant.

[2015-03-04 22:01] #196 closed

[2015-03-05 20:40] KennethNielsen commented on #138
please check out #296 :)

[2015-03-07 23:31] RobSmith2 opened #297 "Play URI to local file"
Hi,

I've been trying to get play_url. to work with a local .mp3 file.

I've tried sonos.play_uri('path/to/file.mp3') and sonos.play_url('file://path/to/file.mp3') however I get a UPnP error 714 thrown.

The question is can the module play from local files or do songs have to come from .mp3 http streams? All examples i've seen show remote http streams however i'd ideally like to simply play local

[2015-03-08 07:54] crummy commented on #297
Sonos doesn't have access to files hosted locally on your computer by default. You could run a simple HTTP server to change this, however, and then play_url('http://yourcomputer/file.mp3')

[2015-03-08 20:11] DPH commented on #297
You can play files from any file system via Sonos, but the permissions must be set so Sonos can read from the file system. I use SoCo to play tracks from my NAS which has read access to all local devices.
[code]
You have to use the prefix 'x-file-cifs://'
You can play tracks form your PC if you set the permissions correctly and use the PC host name.

Hope this helps,
Cheers David

[2015-03-21 18:32] ghosthugger commented on #206
I tried to use the Spotify plugin but the SpotifyTrack class is missing the method to_elements() and the property resources.

Looks like they have been renamed in other parts of the codebase, but forgotten here

[2015-03-28 21:22] rtkwgray opened #298 "soco.discover() broken under Python 3.4.2"
I'm seeing an exception when trying to use soco.discover() under Python 3.4.2. Please see the following script:

[code]

This results in the following:
[code]

[2015-04-01 15:08] KennethNielsen commented on #206
Hallo @pfischi and @ghosthugger

Thanks for the reports. Its unfortunate that this plugin seems to have been forgotten in some of the refractoring. However, we (or rather @lawrenceakka) is in the process of working on some new code, that should work as a universal music service plugin, rather than having to implement each of the music services on their own. Obviously, we would much rather be worki

[2015-04-01 15:12] KennethNielsen commented on #206
We should leave this issue open until the new code arrives.

[2015-04-01 15:32] KennethNielsen commented on #298
Hallo @rtkwgray and thanks for your report.

I can see that upstream the code has changed to this: https://github.com/SoCo/SoCo/blob/master/soco/discovery.py#L128 which I assumes fixes this. It would be helpful, if you could test if git master works for you, to see if it does indeed fix it. If it does, then you can keep using git master or wait for next release (which hopefully wont be that far in

[2015-04-01 15:37] KennethNielsen commented on #298
Ahh, I dug a bit, and as it turns out, this a duplicate of https://github.com/SoCo/SoCo/issues/271. So I'll assume it is fixed and close this. If the issue persist after next release, feel free to re-open.

[2015-04-01 15:38] #298 closed

[2015-04-17 19:47] phyamane commented on #279
I am running in to the same issue. When I run discover() my output is:
set([SoCo("192.168.1.12"), SoCo("192.168.1.13")])

[2015-04-18 09:01] xxdede opened #301 "Unknown UPnP class in subscription"
Hi,
I'm trying to use subscription events and I did the following:
[code]
and I got the following output:
[code]

It seems I've a problem with the ```class sonos-favorite```, am I doing something wrong?
I'm using the latest version of SoCo (master).

Thanks in advance,
Dede

[2015-04-26 14:44] KennethNielsen commented on #301
Hallo @xxdede

Thanks for reporting this.

Can you try out the iss301 branch in my repository; https://github.com/KennethNielsen/SoCo/tree/iss301 and see if that fixes it.

@lawrenceakka FYI: For this sonos defined class, we obviously do not have the spec, so I just assumes that it has the same spec as the class it derives from (which also seems to be the assumption for DidlMusicAlbumFavorite). So

[2015-04-26 15:50] KennethNielsen commented on #301
Oh yeah, I should probably mention, that as the last line in the stack trace alludes to, his bug seems to be triggered when doing something with audio broadcast (radio station) favourites. So in order to test my fix, you should be doing something similar with your controller as you where when you triggered the bug i.e. most likely something that has to do with browsing or playing Sonos favourite r

[2015-04-26 18:52] xxdede commented on #301
Hi Kenneth,
I tried your branch and it works.

Before trying your fix I made sure that the problem occurs again (I do not have to do particular things, just subscribe to that controller) and with the standard version of SoCo it triggers the exception, with iss301 branch it goes smoothly.

Thanks a lot! If you need additional details tell me.

Best,
Dede

[2015-04-27 07:26] KennethNielsen commented on #301
Great! I don't think I need anything else.

I will let it sit here for a week or so, to allow @lawrenceakka to give feedback if he wishes, since he has done most of the work on the data structures.

Once agains thanks for reporting it.

[2015-04-27 07:28] KennethNielsen commented on #301
Should go in 0.11 #278

[2015-04-27 07:31] KennethNielsen commented on #297
Hallo @RobSmith2

I can see that there are a couple of suggestions on how to do what you want, so I'll consider this closed. Please feel free to re-open if your question was not answered.

[2015-04-27 07:31] #297 closed

[2015-05-03 11:41] KennethNielsen commented on #301
Ok, let's put it in. I'll make a proper PR for traceability.

[2015-05-03 11:57] #301 closed

[2015-05-16 23:13] Utsav2 opened #304 "sonos discover broken in Python3"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.2/dist-packages/soco/core.py", line 100, in discover
    if "Sonos" not in data:
TypeError: Type str doesn't support the buffer API

'3.2.3 (default, Feb 27 2014, 21:31:18) [GCC 4.6.3]'

[2015-05-16 23:14] Utsav2 commented on #304
prints this out in the python2 version

set([SoCo("10.0.0.8")])

[2015-05-16 23:23] Utsav2 commented on #304
Never mind, noticed #298

[2015-05-16 23:23] #304 closed

[2015-05-18 17:35] stefankoegl commented on #278
So, I'll try again to get some opinions on a 0.11 release. What do you think should go into the release? When approximately should we schedule a release?

[2015-05-25 16:39] KennethNielsen commented on #278
@stefankoegl There are a few bug fixes that I think it would be nice to get out there. So if we are willing to do just that we could release now.

However, I do think the work in #296 would be worth pursuing and try to get in the next release. The only thing is that it is not done. I need feedback from people on whether they think it is a good idea or not. Provided I get the feedback, I think I sh

[2015-05-26 15:29] stefankoegl commented on #278
OK, then let's wait for #296. I should find time to do a review in the next days.

[2015-05-26 19:11] KennethNielsen commented on #278
@stefankoegl It's actually more a "yes" or "no" on the general idea rather than a formal review, so should not take so long

[2015-06-02 09:42] KennethNielsen commented on #261
#307 An example has been added that shows how to play local files by settings up a temporary HTTP server in python

[2015-06-02 09:48] KennethNielsen opened #308 "add_item_to_sonos_playlist fails after data structure refactoring"
Test code:
[code]
fails with a traceback like:

[code]

I'm fairly certain the only problem is that we need to replicate the behavior from other places for how to form the metadata. This should block 0.11 since it is a regression.

[2015-06-06 09:57] KennethNielsen commented on #295
Hallo @siegeld

Thanks for reporting this.

Sorry about the long reply time, it seems most of the dev team is busy with real life at the moment.

If you are still interested in having this fixed and is willing to do some testing please let me know and I will try to help. The problem is, that this sounds like a connection timeout issue somewhere, but the stack cnsists of SoCo - requests - some_form

[2015-06-07 15:00] #308 closed

[2015-06-07 20:10] stefankoegl commented on #278
OK, it seems we have everything for the release.. If there are no objections I'd prepare the release most likely tomorrow afternoon/evening (UTC).

[2015-06-07 20:45] KennethNielsen commented on #278
@stefankoegl I think there are a few more issues marked for 0.11:

 * #225 Which I think is good to go, I'm just waiting for the go a head from @dajobe
 * #276 Which I don't think there is any progress on, so probably just postpone it.

[2015-06-08 14:51] stefankoegl commented on #261
I have now created the proposed release notes in #311. Please make any further comments or corrections there.

[2015-06-08 14:51] #261 closed

[2015-06-08 14:52] stefankoegl commented on #278
I have created the proposed release notes in #311, already including #225.

If there are no objections I'd publish the release after #225 is merged.

[2015-06-08 16:11] KennethNielsen commented on #278
Sounds great.

[2015-06-08 18:34] stefankoegl commented on #278
I have just released SoCo 0.11!

* [PyPI](https://pypi.python.org/pypi/soco/0.11)
* [GitHub release](https://github.com/SoCo/SoCo/releases/tag/v0.11)
* [Release notes](http://docs.python-soco.com/en/latest/releases/0.11.html)
* [Change Log](https://github.com/SoCo/SoCo/compare/v0.10...v0.11)

Thanks everyone for their contributions! @simonalpha @trollkarlen @lawrenceakka @dajobe @robwebset @gutwor

[2015-06-08 18:34] #278 closed

[2015-06-08 21:27] KennethNielsen commented on #278
Cheers

[2015-06-08 21:27] KennethNielsen commented on #278
and thanks for the effort

[2015-06-08 22:04] ekstroem opened #312 "SoCo v0.11 installation problems on Raspberry Pi"
Hi all,

Was trying to get get SoCo v0.11 up and running on my Raspberry Pi using the following commands from a scratch installation:

[code]

The last line results in

[code]

Can anyone point me in the right direction on how to fix this?

[2015-06-10 19:50] stefankoegl commented on #312
I've prepared a fix in #313.

Can you please test it with

[code]

and let me know if everything works as expected?

[2015-06-10 20:35] ekstroem commented on #312
Yup. That is working.

I ran (just in case someone wants to copy and paste the exact commands to install everything)
[code]
and everything is spiffing! Music is flowing everywhere!

Thanks a bunch and keep up the good work!

[2015-06-10 20:35] #312 closed

[2015-06-11 15:37] stefankoegl opened #314 "Release 0.11.1"
As a problem with the installation of SoCo was reported in #312 I will prepare a bugfix release 0.11.1

[2015-06-11 15:52] stefankoegl commented on #314
I have just released SoCo 0.11.1!

* [PyPI](https://pypi.python.org/pypi/soco/0.11.1)
* [GitHub release](https://github.com/SoCo/SoCo/releases/tag/v0.11.1)
* [Release notes](http://docs.python-soco.com/en/latest/releases/0.11.1.html)
* [Change Log](https://github.com/SoCo/SoCo/compare/v0.11...v0.11.1)

Thanks to @ekstroem for reporting the bug!

[2015-06-11 15:52] #314 closed

[2015-06-11 15:53] stefankoegl opened #315 "Release 0.12"
I'd like to start discussions for the next release 0.12. Are there any particular changes that people would like to see in the next version?

[2015-06-11 15:56] stefankoegl opened #316 "Release 1.0"
In parallel to the 0.12 release I'd also like to start discussions about SoCo 1.0.

In my opinion 1.0 should imply maturity and a stable interface, not necessarily feature completeness (by whatever measure).

What are your opinions on this? Are there any breaking changes that you'd like to make before version 1.0?

[2015-06-11 15:58] stefankoegl commented on #312
I have release version 0.11.1, so a simple

    pip install soco

should now be enough.

[2015-06-12 08:30] KennethNielsen commented on #316
Hallo @stefankoegl

I share your view that 1.0 should imply a stable interface rather that feature completeness and as such I think we are a good deal along the way towards that goal. In my view there are mainly three things that would block this:

1. **Radio station and show handling:** Right now those are still returned as dicts instead of using a data structure. As far as I can tell, that is th

[2015-06-12 09:08] DPH commented on #316
Hi @stefankoegl,
overall it is looking very good.
Agree with @KennethNielsen we should have good documentation to go to 1.0 and it would be very helpful to new users to have a set of examples. This is a great piece of code, but can be complex to understand how to use it if you are new to it. Happy to help create some but am very busy for the next month.

[2015-06-12 09:18] KennethNielsen commented on #315
I have some work on radion station handling with data structures that I hope will be ready soon. After that I was thinking that I was going to start reworking all the docstrings to work with Napoleon (and comply with pep257).

On the subject of docs. I remember that you had a branch lying around with a lot of good work around re-structuring the docs. I think that looked really good and I think it

[2015-06-12 09:26] robwebset commented on #316
One think that I think would be nice is support for the remaining items on the official (PC) Sonos App - like:
Favourites (Not just radio stations)
Radio Stations (All, not just the favourites)

But I haven't even had a chance to look into this at all or see how Sonos handles these.

[2015-06-12 11:00] KennethNielsen commented on #316
@robwebset Radio stations I think will come with the music service work #262, at least I know there is such a thing as the tunin plugin. I **think** that radio stations is basically just a promoted music service that is always there.

Sonos favorites I don't know how is handled.

@robwebset Do you think that these items should be mandatory for a version 1.0? and how do you feel about stability vs.

[2015-06-12 11:22] robwebset commented on #316
I don't think mandatory - but what's in a version number :)

[2015-06-12 12:28] KennethNielsen commented on #316
Ah sure, what I meant was, whether you feel it is important to get these squared away before 1.0 and whether you think 1.0 should be more about a certain feature set than certain stability in the API. I'm not arguing for and against, just asking for opinions.

[2015-06-12 17:59] johankeskitalo commented on #315
I would really love it if the Universal Music Services code Lawrence Akka has been working on in #262 landed in 0.12. I was eagerly awaiting the 0.11 release for that functionality, and was sad to see it dropped from the release (although I understand the decision).

I'm working on a full-featured controller using SoCo, a python backend, pyotherside and QML, and got a bit stuck when I wanted to im

[2015-06-13 08:08] stefankoegl commented on #315
@KennethNielsen the branch you're referring to is #151, but I didn't really have time to work on it... so parts of my changes might already be outdated.

[2015-06-14 08:21] petteraas commented on #315
@stefankoegl updated requirements.txt now

[2015-06-16 06:02] robwebset opened #317 "Events no longer received in 0.11"
Hi All,

I just noticed that my app is no longer receiving events with 0.11 - I normally use this to be notified of the "Next Track" when "random" is enabled.

Looking at the log I can see all the subscribe details:
[code]

I guess that when these notifications are received I would then see:

[code]

In the log, but I never see that.

Is anyone else seeing this?
(Sorry for raising a bug, wasn't re

[2015-07-05 16:03] dundeemt opened #318 "data_structures.py : DidlResource - add to_dict method"
When using get_queue.to_dict, it returns a dict that has a 'resources' element that is a DidlResource object -- which is not serializable in json.  Have a to_dict method on the DidlResource would make life easier, and then get_queue's to_dict could call to_dict on the DidlResource.

I'll submit a patch but I have a question first.  When a DidlResource property is None, should the to_dict method re

[2015-07-05 16:31] dundeemt opened #319 "Testing documentation - broken? py.test fails to import soco"
following the docs, py.test will fail to run the unit tests complaining about "No module named soco"

This can be fixed by either modifying sys.path (ugly) in the tests or installing the soco source in editable mode

`pip install -e .`

Should probably add the part about installing the soco module in editable mode to http://docs.python-soco.com/en/latest/unittests.html

[2015-07-12 16:11] dundeemt opened #320 "How to Determine Sonos Model?"
Looking to create a method to return the model type (PLAY:1, PLAY:3, PLAY:5, PLAYBAR, SUB, CONNECT, CONNECT:AMP, ??)

I have 3 PLAY:1 that all show a Hardware Version of 1.8.3.7-1  and a PLAYBAR with a hardware version of 1.9.1.10-1 -- if others could pull up their info and list as a comment:
  http://zone_ip:1400/support/review  and click on "Zone Player Info" and report back their Hardware versi

[2015-07-12 16:26] poirier commented on #320
Hardware version 1.8.3.7-1 - Play 1
1.16.5.5-1 - Connect

[2015-07-12 20:31] DPH commented on #320
1.16.4.1-2 Play 5
1.16.5.5-2 Connect

Cheers David

[2015-07-13 17:02] ArjanM83 opened #321 "@only_on_master causes exception when calling play_uri"
What I'm doing:
1. Joining a stereo pair Play 5's (zone 1) with a stereo pair of Play 1's (zone 2) with one Play 5 (zone 3).
2. Playing a TTS message in this group.
3. Unjoining zone 2 from the group
4. Unjoining zone 3 from the group
5. Then resuming playing music on zone 3

play_uri then often (50% of the time) raises an exception: only_on_master

My thoughts:
Unjoining takes time. Directly call

[2015-07-16 19:12] loretoparisi opened #322 "get_music_library_information not returning any item"
I followed the ```examples/commandline/discovery.py``` to get some info about my Sonos:

[code]

and I get no results from all the queries of kind ```get_music_library_information```

Output:

[code]

I have a Sonos PLAY:1

[2015-07-17 10:26] loretoparisi commented on #322
The problem was that the Sonos Mac app failed to add the Music Library. After that, everything worked fine:

for the music library

[code]

and search as well

[code]

I also added a new PLAY:1 and it was smoothly recognized by the library.

Thank you.

[2015-07-17 10:26] #322 closed

[2015-07-22 19:23] KennethNielsen commented on #321
Hallo @ArjanM83

The only_on_master decorator was added last release, to take care of the problem, that performing certain tasks on not-master zones in a group, will either produce difficult to decipher errors or weird and inconsistent behavior, so we would like to keep it ;)

In any case, I do not think the problem is this decorator. I think the problem is that SoCo does not know that the zone ha

[2015-07-22 20:20] KennethNielsen commented on #321
Hmm. It seems to be not quite so simple, it is also tied in with a caching issue. I will look at it some more.

[2015-07-22 20:31] KennethNielsen commented on #321
I think I got it now. @ArjanM83 do you have the possibility to test out this branch: https://github.com/KennethNielsen/SoCo/tree/issue_321_unjoin_not_reflected_in_is_coordinator ?

[2015-07-22 20:34] ArjanM83 commented on #321
Hi Kenneth,

Thank you for looking into this.
I will be able to test this during the weekend.

I will get back to you in a couple of days.

[2015-07-23 09:35] KennethNielsen commented on #321
I almost forgot to mention it. When dealing with zones in a group, the easiest way to find the coordinator, to find the zone to send commands to, is with ``myzone.group.coordinator``.

[2015-07-24 19:01] KennethNielsen commented on #320
[code]

[2015-07-24 19:05] KennethNielsen commented on #320
@dundeemt Maybe you cound create a table in the first post, so that we can easier see what we are missing.

[2015-07-24 20:47] dundeemt commented on #320
@KennethNielsen an excellent suggestion.  done.

[2015-07-25 10:13] ArjanM83 commented on #321
Hi Kenneth,

I've tested the branch. I've been joining and unjoining zones, and playing music on them, tens of times.

The issue is solved now. Thank you for your work.

[2015-07-25 10:13] #321 closed

[2015-07-28 08:12] KennethNielsen commented on #321
No problem, thanks for reporting it.

[2015-07-29 11:37] KennethNielsen commented on #295
It has been a while now without any activity in this (but we were of course also very slow to answer in the first place). I will close it for now. @siegeld if you find time to reply and help us follow up on the cause of this, please just re-open the issue.

[2015-07-29 11:37] #295 closed

[2015-07-29 11:40] KennethNielsen commented on #138
This should be fixed with #296 as found the latest release 0.11. Please re-open if that is not the case.

[2015-07-29 11:40] #138 closed

[2015-07-29 11:46] KennethNielsen commented on #263
I suggest we close this and open separate issues about each groups (2.6 and 3.2) as I suspect we will find it much easier so drop early 3 versions than 2.6. That of course will not help us on the pylint issue but at least will get us rid of various annoyances in python 3.2.

[2015-07-29 11:46] #263 closed

[2015-07-29 12:08] KennethNielsen opened #324 "Drop support for python 3.2"
Quoted from the original description in #263

I suggest to split the discussion up, and in this issue only discuss dropping 3.2

This will not solve the problem with dropped support for old versions in some of the projects we depend on, but will get us rid of some of the old version in the support. At least python 3.2 have some annoying coding requirements that it would be nice to get rid of.

One

[2015-07-29 12:09] KennethNielsen opened #325 "Drop support for python 2.6"
Quoted from the original description in #263

For reference, please see the lengthy discussion about the issues pertaining to dropping support for Python 2.6 in #263.

[2015-07-29 16:00] KennethNielsen commented on #319
Hallo @dundeemt

I agree that there is something missing from the docs about how to execute the unittest (There does indeed seem to several things missing from that section).

However, the unittest is meant purely for development, and since potential developers will need to run the source code directly from a git clone, I don't think it makes much to discuss the pip solution. Properly there should

[2015-07-29 16:09] dundeemt commented on #319
Sure.  You can manually edit your path, I tend to always work in virutalenvs so I gravitate to `pip install -e .` to let pip do the heavy lifting of path modification.  Only time you need worry about it is after your do a release and have a new version number, but then just a quick `pip install -e .` and you are back in business.
What changes do you make to your path to enable py.test to find what

[2015-07-29 17:11] robwebset commented on #325
Just for the record as this seems to keep coming up again and again - I would like to keep Python 2.6 support.  Full discussion on a couple of other issues that have been raised in the past.

I would suggest closing this issue and just keeping the Python 2.6 support. (Rather than keep having the same discussion again and again) ... Groundhog Day anyone?

[2015-07-29 18:23] KennethNielsen commented on #325
@robwebset

I wasn't bringing it up again. I was merely splitting an old issue up into 2, one that could probably be resolved soon (3.0-3.2) and one that probably won't be (2.6).

I do however still however consider it an issue, so I think we should leave it open until it is resolved. But I was not trying to restart the discussion. I guess we can revisit this every 6 months and see if the Kodi dev

[2015-07-29 20:04] KennethNielsen commented on #319
Actually, having looked at it a little more I think the -e trick is really neat and the version that we should include in the doce. I guess people that want to modify the path of their virtual environment knows how. I will have a look at the docs and propose a change for you to review.

Just for the record. The way to modify the path in a virtual environment (at least on Linux and I guess Mac) is

[2015-07-29 21:28] dundeemt commented on #319
My initial reaction to seeing the -e trick was the same as yours.  What
magic is this?!   But once I tried it, it came quite naturally.

On Wed, Jul 29, 2015 at 3:04 PM, Kenneth Nielsen <notifications@github.com>
wrote:

--
Best,

Jeff Hinrichs
dundeemt@gmail.com
402.218.1473

[2015-08-01 10:22] KennethNielsen opened #326 "Building docs fail on inheritance diagram extension in data_structures"
Building the docs fail with python 3 and current versions of dependencies from pypi. The error is:

``
writing output... [  6%] data-structures-mod
Exception occurred:
  File "/home/kenneth/tmp/socodoc/lib/python3.4/site-packages/sphinx/ext/inheritance_diagram.py", line 262, in generate_dot
    for name, fullname, bases, tooltip in sorted(self.class_info):
TypeError: unorderable types: str() < Non

[2015-08-01 11:14] KennethNielsen commented on #326
Here is a link to the complete traceback that is mentioned: http://pastebin.com/28hvZdgY

[2015-08-02 15:24] stefankoegl commented on #324
As far as I know we do not support Python 3.0 and 3.1 at all (at least tests are not run against those versions).

How exactly is the situation with Raspbian? Is it possible to install 3.3 / 3.4 in addition to 3.2? If so, we could just advise to run SoCo in a virtualenv with a more recent Python version.

[2015-08-02 15:25] stefankoegl commented on #325
I guess we will remove Python 2.6 eventually (eg when Kodi has been updated). Until then we should keep the issue open as @KennethNielsen suggested.

[2015-08-12 18:17] KennethNielsen commented on #319
Hey @dundeemt

Can you have a look at #327 and see if you think it fixes the problem?

[2015-08-12 18:24] KennethNielsen commented on #324
@stefankoegl ah, you are correct about 3.0 ad 3.1.

I don't think you can install newer versions without compiling it yourself, but I will have to check.

However, as I mentioned above, since we can't remove 2.6 yet, removing 3.2 would only be for coding convenience and would not fix the problems with pinned versions of dependencies. For this reason, I would rather try and figure out what the rasp

[2015-08-12 19:04] KennethNielsen commented on #318
Hallo @dundeemt

Sorry about the long response time, it seems everyone was busy over the summer.

Regarding the behavior for properties that are None I agree with you, that the preferable way to do it is to include it in the dict with a None value rather than leaving it out. So I'm for options number 1 and happy hacking. We look forward to the PR.

[2015-08-12 23:14] AdrienPensart commented on #138
This simply does not work :

[code]

outputs :

[code]

[2015-08-13 07:37] KennethNielsen commented on #138
Hallo @AdrienPensart

And thanks for you message.

It does not seem to me that this is related to the discussion above, which deals explicitly with the problem of executing commands on a zone that is a slave.

Please open a separate issue for your problem.

Regards Kenneth

[2015-08-15 18:18] dundeemt commented on #318
gotcha.  I'll start on it -- I'm doing a web app, so making the .to_dict()
work recursively makes my json results cleaner.  Currently I'm stripping
out the DidlResource and just returning the resources[0].uri for the
container.

On Wed, Aug 12, 2015 at 2:04 PM, Kenneth Nielsen <notifications@github.com>
wrote:

--
Best,

Jeff Hinrichs
dundeemt@gmail.com
402.218.1473

[2015-08-15 18:40] mikix opened #329 "Unsubscribe may block"
I have encountered an issue cleaning up subscriptions when switching between networks.

I'm using soco on a phone. And when switching between wifi and 3G (or wifi and wifi), I clean old subscriptions before maybe making new ones.

Normally unsubscribe works fine. But in this case, it blocks for a long time. Presumably it is confused because all of a sudden it's on a new network with different ips

[2015-08-16 14:26] mikix commented on #276
Looks like this workaround was applied and then unapplied?  I'm still seeing this issue.

[2015-08-17 15:06] #319 closed

[2015-08-17 15:23] KennethNielsen commented on #329
Hallo @mikix

Thanks for reporting this. Which kind of subscriptions are we talking about, for events?

[2015-08-17 15:26] KennethNielsen commented on #318
Sounds great. I'll have a look at the PR.

BTW, I should mention, that you are also welcome to add to_json and from_json methods, to save you the serialization in your code. We used to have it in the data structures, but when they were re-written, we decided not to put them in again before someone actually needed them, which might be now ;)

[2015-08-17 15:29] mikix commented on #329
At the time of this bug, I was only dealing with subscriptions on renderingControl.

[2015-08-18 07:03] KennethNielsen opened #332 "Release notes for 0.12"
For every change that goes into the 0.12 release. Please make a small description here, link to the PR (any issues) and mention whether it is a bug fix or not.

@stefankoegl you usually open these, but I thought I would just get it started.

[2015-08-18 07:05] KennethNielsen commented on #332
Add information to the docs about how to put SoCo in the Python path, for test execution. PR #327 issue #319.

[2015-08-18 07:07] KennethNielsen commented on #332
Clear zone group cache and reparse zone group information after join and unjoin to prevent giving wrong topology information. (BUGFIX). PR #323 issue #321.

[2015-08-18 07:28] KennethNielsen commented on #317
Hi @robwebset

Sorry about the long wait on this. Can you share code and instructions to reproduce, that I will check it here.

Regards Kenneth

[2015-08-18 07:40] KennethNielsen commented on #329
@mikix I think I can fix this by passing a timeout through to requests, I just need to read through the events code first to make sure I understand it.

One would assume, that the unit will delete the subscription, once it can no longer reach a client, so I would assume, that in case if timeout it is safe to simply proceed as if we had been unsubscribed.

Can you please check that the subscription

[2015-08-18 10:26] robwebset commented on #317
Hi @KennethNielsen

Not on my Sonos system at the moment, but it is pretty much like this:

[code]

Thanks

Rob

[2015-08-18 12:27] mikix commented on #332
Fix typo preventing SoCo from parsing the audio metadata object used when a TV is playing. PR #331.

[2015-08-18 13:25] KennethNielsen commented on #329
Ok. I think I have a handle on how the code works now. I would still like you to perform the check above since I think there is an event listener running on the IP the device has when first importing the module. So in order to facilitate a network change, I think it will be necessary to reset it. Forget about un-subscribing for a moment, please try the following after your network change:

[code]

[2015-08-18 13:32] KennethNielsen commented on #317
If I run the example code from the events module on 0.11.1:

[code]
and only listen for rendering control, then yes, I get events.

[2015-08-18 16:29] mikix commented on #329
As for your first test (subscribe on network 1, switch to 2, switch back to 1), I received events on network 1 the second time.  I don't think enough time passed for the unit to understand that I had left network 1.  So the result doesn't super surprise me.  Maybe staying on network 2 longer would have a different result.

Will try your second test.

[2015-08-18 16:41] mikix commented on #329
Second test resulted in a long-block for the events.event_listener.stop() call.  (not the sleep call but the stop call itself blocked)

[2015-08-18 18:48] donhoffman commented on #276
Still seeing this also.   Version of soco installed is 0.11.1.

[2015-08-19 09:40] KennethNielsen commented on #329
Ok. So this is real ugly, and will not be committed to main, just want to see if it works.

Can you try the reset_events branch on my SoCo archive: https://github.com/KennethNielsen/SoCo/tree/reset_events. In there, the events module has a ``reset_event_listener`` function. Try and call that and forget about the subscriptions. The function takes optional waittime arguments, which should be some nu

[2015-08-19 12:49] mikix commented on #329
I'm happy to test that, but might not get to it today.

But I had a separate thought: from my app's perspective, cleaning up old subscriptions is ideally a fire-and-forget sort of thing.  Being unresponsive for even 4 seconds is too long.  Maybe a good approach is to spin off a thread to do the unsubscribe() calls and then just continue.  If the thread blocks for a couple minutes, that's fine.

[2015-08-19 18:28] KennethNielsen commented on #329
@mikix hold of on testing.

With regards to un-subscribing in a separate thread, I don't think that will work. The event listener starts up a server for listening for notifications at import time and uses the IP address at import time as well. So in order for new subscriptions to work, it will have to be restarted. But your comment about shutting things down in another thread gave me an idea. I wi

[2015-08-19 20:40] KennethNielsen commented on #329
Ok. I have a better implementation ready (which if it works, should be ok to go in main).

Please test the branch ``event_reset_once_more`` in my SoCo archive: https://github.com/KennethNielsen/SoCo.

With this I have added two changes.

 1. I have added a timeout option to ``unsubscribe`` on the subscriptions. When unsubscribing after a network change you just set a short timeout. The actual unsu

[2015-08-19 20:51] KennethNielsen commented on #276
@mikix I'm unsure if it was ever applied. The way I read @lawrenceakka message, he would look more into it before applying it (and then I guess he got busy with real life). The problem with just applying is, that these message in principle should follow a specification and that is helpful to make sure that understand the content. Applying the fix would remove a large part of the checks that specif

[2015-08-19 20:55] KennethNielsen commented on #317
Hallo @robwebset

I just remembered that you are probably using this for the Kodi plugin, in which case you may not see the exceptions. All the event parsing exceptions happen in their own threads, which mean that they do not make the program stop. So, if you do not see terminal output, but simply wait for events on the queue, it would seem as if none is ever received. So, if this is the case, thi

[2015-08-21 12:35] dundeemt commented on #290
pep8 conformance can and probably should be a proper test in unittest.  See http://pep8.readthedocs.org/en/latest/advanced.html

Currently, you (me) can forget to run before commit and then have Travis fail on you - when this task could be automated and run as part of py.test.  Comments?

[2015-08-21 16:00] KennethNielsen commented on #290
@dundeemt I think we have earlier not added linting to the test suite, because a test suite must be lightning fast to serve its purpose. pylint takes much too long to be executed as a unittest, but pep8 is about a second on my laptop, which **may** be ok. What does everyone else thinks?

[2015-08-21 20:54] the01 commented on #320
It would be a lot easier and more reliable to simply parse <ip>:1400/xml/device_description.xml
There you get
[code]
and take your pick on how to identify the model :)

[2015-08-21 21:20] dundeemt commented on #318
I am not sure that adding a to_json /( from_json) would be of wide benefit
and puts another requirement (although in stdlib) on SoCo.  After this PR
and then the upcoming issue that changes DidlObject.to_dict(), SoCo is
returning a clean usable structure that a developer can easily change to
json on their own.  For example: the DidlResource.uri, a very important
piece of info that logically should

[2015-08-22 00:35] dundeemt commented on #320
Yes, it would.  I did not know about that.  I knew about the :1400/status
 - did you find this via /status or do you know of other query points under
/xml ?

Best,
Jeff

On Fri, Aug 21, 2015 at 3:54 PM, the01 <notifications@github.com> wrote:

--
Best,

Jeff Hinrichs
dundeemt@gmail.com
402.218.1473

[2015-08-22 04:45] the01 commented on #320
No, I think that I found it on some [sonos forum](https://en.community.sonos.com/). There is great stuff on there. For example at support/review, you can check out the network matrix.
Loads of fun things to discover :smile:

[2015-08-22 17:14] mikix commented on #329
A) Consider moving the "global event_listener" to the beginning of "reset_event_listener" -- you get this warning otherwise:
events.py:644: SyntaxWarning: name 'event_listener' is used prior to global declaration

B) Consider noting in the docstring that timeout is in seconds.  Obvious if you know the implementation details / API of requests.  But still.

C) Consider having a is_running check insi

[2015-08-22 17:37] mikix commented on #329
Looking into what is actually blocking...  Seems that urlopen is one of the calls that is causing a block.  Adding timeout=0 to it makes it not block anymore, as you'd expect (I don't know if that's a practical value in other cases -- it's not like we care about an answer to that call though).

Then I hit the _listener_thread.join() call which blocks...  Surely there's a way for socketserver.TCPSe

[2015-08-22 18:27] mikix commented on #329
I can look into fixing this.  It's easier for me to test my scenario than you I bet.

[2015-08-23 10:28] KennethNielsen commented on #329
@mikix thanks for the feedback. I have fixed the issues (and made a much simpler version really).

With regards to your comments:

E) This was the real problem. It is not a race per-se. But when you are done with a port, you need to jump through a few hoops to make sure it is free for future use and since we want to start a server on **the same** port, this had to be fixed.
E) the way I understand

[2015-08-23 10:32] KennethNielsen commented on #318
Requirements in stdlib are no problem but if you do not benefit let's not do it until there is a call for it. My point was just, if you need it, I'd have no objection to having it added.

[2015-08-23 11:29] KennethNielsen commented on #329
Thanks btw for the offer to fix it yourself, I had, however, already spent quite a bit of time on it when I saw your message.

The solution above, provided that it works, should be something that can be turned into something more elegant. I believe most of the "do this before" and "do this after" things can be fixed

[2015-08-23 17:47] lawrenceakka commented on #290
I wouldn't be inclined to add a pep8 check as part of the unit tests (though I not that pytest has a pep8 plugin which might be useful)

If you forget to check the code before commit (which I do regularly) you can set up a git pre-commit hook to run make for you.  This will run flake8 over the changed files and disallow the committing of any non-pep8 code.

[2015-08-23 22:08] dundeemt commented on #290
@lawrenceakka  pytest-pep8 is handy.

My argument is that, If the CI tests are going to include pep8 requirements then they should run by default in the local test suite to avoid surprises.  pytest-pep8 uses pytest-cache and only runs pep8 against those files that were modified or untested previously.  You can also configure it via pytest.ini to allow certain exceptions and skip certain files.

If

[2015-08-24 07:10] KennethNielsen commented on #290
I tend to agree with @lawrenceakka then, that the pre-commit hook is probably the better option, from my point of view, to keep the unittest suite fast. (There are already a few tests that takes annoyingly long ;))

[2015-08-24 08:36] lawrenceakka commented on #320
We have some of this info at https://github.com/SoCo/SoCo/wiki/Information-Adresses , though that is rather out of date.

We really should replace the code for `get_speaker_info` so that it parses `device_description_xml` instead of `status/zp`, since this is part of the UPnP spec. We could then make the model name available in the returned speaker_info.

A nice job for someone who would like to c

[2015-08-24 09:10] lawrenceakka commented on #320
Hmm ... the info from status/zp is also available as follows:
[code]
It looks as though we did not convert the `get_speaker_info` code over to use the new UPnP methods.
The model name is not available there, though, so we may still need to parse `device_description_xml` to get at that.

[2015-08-24 09:17] the01 commented on #320
A preferred/recommended way of implementing this? I am not too familiar with the code base, but if you could give me some pointers, I'd give parsing `device_description.xml` a try?

[2015-08-24 09:32] lawrenceakka commented on #320
Now's your chance!

Off the top of my head, what about replacing the code in `get_speaker_info` with something like this:

[code]
etc.  You may well find a better way to do it.  If you make a pull request, we'll be happy to give comments. Feel free to ask questions.

Don't forget unitises :wink:

Lawrence

[2015-08-24 09:36] the01 commented on #320
Ok, great, thanks! From a provisional look I thought there might be a way to do it with services or something, but your way should be pretty straight forward :smile:
Will have a look soon!

[2015-08-24 10:53] the01 commented on #320
Ok, I changed the function at the01@5a239d23c250de96d12f95acc83e657c8c50e0ea (just an initial commit). It would seem though that `zone_icon`and `mac_adress` are not present in `device_description.xml`. The MAC was not a big problem since it appears to be part of the serial number and I fixed it with
[code]

Should I add a second request to `status/zp` or do we simply deprecate this information?

[2015-08-24 13:13] dundeemt opened #334 "create_playlist_from_queue results in UPnP Error 803 - but, playlist is created"
calling method results in a UPNP Error 803 but playlist is created.

[code]

Device Information:
<softwareVersion>29.5-91030</softwareVersion>
<hardwareVersion>1.9.1.10-1</hardwareVersion>
<minCompatibleVersion>28.0-00000</minCompatibleVersion>
<legacyCompatibleVersion>24.0-0000</legacyCompatibleVersion>
<displayVersion>5.4</displayVersion>

soco version: 0.11.1

Google search could only find that

[2015-08-24 13:17] lawrenceakka commented on #320
Excellent.  I can see icon info under device/icon list/icon.  I would have thought that the url was the most important bit. I think we should use that, with a note saying that it has changed (hopefully, so that it is more useful)

[2015-08-24 15:25] the01 commented on #320
Yes, but it is a different icon. It used to be the zone icon and that one is for the player (e.g. s3)

[2015-08-26 03:14] dundeemt commented on #334
Here is a short script that should confirm the error.  If you would, please run and report back your results.

[code]

[2015-08-26 21:26] mikix commented on #329
Hey, sorry I've been so silent. I've just been very busy. And am going to be busy through the weekend. I'll try to test this next week.

[2015-08-27 08:05] KennethNielsen commented on #329
No rush from my side ;)

[2015-08-27 17:41] lawrenceakka commented on #334
It works fine for me. How many speakers do you have in the group?  Are you, for example, trying to create a playlist on a zone which is not the group coordinator?

[2015-08-28 05:38] dundeemt commented on #334
I have three zones, and have gone against the coordinator for each.  The
weird thing is that it creates the named sonos playlist and still returns
the 803 error.  I am going to find a windows machine and watch it over
wireshark to see what the app does differently than me.   I've created a
delete_sonos_playlist using DestroyObject and it works fine against the
same coordinators.   weird but I'll g

[2015-08-28 16:09] KennethNielsen opened #337 "Easier python 2/3 compatible code, six or python-future"
I current code base quite a lot of ugly hacks (especially in `compat.py`) for bridging the differences between python 2 and 3. This prompted me in #333 to suggest adding `six` to the dependencies. With the following comment:

To this @lawrenceakka replied the following:

Since it turned out not to be a no-brainer (adding six) I have moved the discussion here.

[2015-08-28 17:47] #318 closed

[2015-08-28 23:43] dundeemt commented on #332
added to_dict() / from_dict() to DidlResource PR #330  Issue #318

[2015-08-28 23:52] dundeemt opened #338 "DidlObject.to_dict() does not return resources as a dict"
This is the next phase of Issue #318  DidlObject.to_dict() does not return the resources as a dict.  The resources key of the returned dictionary returns a list of DidlResource objects.

To implement, there will be changes in the to_dict, and from_dict methods.  This will be a change that "could" break someone code since it is changing the returned dictionary.  It will require documentation change

[2015-08-29 01:16] thedangler opened #339 "sonos_playlist how to play it"
I'm having trouble figuring out how to get the a sonos playlist and play it.
I thought I figured it out when I got the resource uri but when I tried to play it I got a mime-type error.

any help would be appreciated.

[2015-08-29 01:27] dundeemt commented on #320
I think this issue can be marked closed as of commit c0ada91defdc4051895d184421a2e0a3e91a884c

[2015-08-29 01:34] dundeemt commented on #339
I am fairly new to SoCo and you didn't specify what method you were using. I believe that play_uri expects a uri of a stream-able thing. A song, etc.
I think you need to use add_item_to_sonos_playlist which can be a stream or a DidlContainer (Playlist, album, etc).  If you posted some code, we could better answer your question.

[2015-08-29 07:47] KennethNielsen commented on #337
@lawrenceakka After looking at python-future, I tend to agree with you that it is probably the way to go. For one thing, it seems to be more about being able to write python 3 code that also works on earlier versions (than the other way around), which I really am a big fan of. It also seems like a well thought through project. There was a few things that initially worried me (which are actually ma

[2015-08-29 08:18] KennethNielsen commented on #334
Also no errors for me.

[2015-08-29 08:28] KennethNielsen commented on #338
Just to re-iterate my point. I think ``to_dict`` and ``from_dict`` should aim at working as a middlestep towards serialization, and as such should only return simple types. I therefore consider the current behavior a bug (although a small one) and think that it is ok to fix despite of breaking API.

[2015-08-29 08:29] #320 closed

[2015-08-29 14:40] dundeemt opened #341 "add: remove_sonos_playlist"
There are currently a couple of ways to create a sonos playlist but no way to delete them.  I am getting ready to do a PR to add this functionality.  I do have a couple questions and figured it best to get them sorted here before I create the PR.

1) parameter name - the underlying contentDirectory.DestroyObject call requires an 'object_id' to be set. I have the function signature looking like thi

[2015-08-29 15:40] lawrenceakka commented on #341
Hi Jeff,

item_id seems to be what Sonos uses to refer to the id of a metadata or music item (e.g. a track or album). It uses object_id for UPnP calls.  So I guess object_id is correct here.

I am not sure that people have paid that much attention to it, and the whole docstring probably needs rewriting anyway. I have tried to keep related functions together (e.g. all transport functions, all queue

[2015-08-29 20:55] dundeemt opened #342 "unittests/test_integration.py failing: 'DidlMusicTrack' object has no attribute '__getitem__'"
While working on tests for Issue #341 I was getting ready to create tests against a live device and encountered failures in the test_integration.py module.   This test must not have been run by anyone in some time.  It is trying to access the 'uri' element of a DidlMusicTrack, which does not exist.  'uri' is an element of the DidlMusicTrack.resources[0].  Also, it is being accessed as a dictionary

[2015-08-30 13:56] lawrenceakka commented on #332
New MusicService class for access to all the music services known to Sonos.  Note that some of this code is still unstable, and in particular the data structures returned by methods such as `get_metadata` may change in future. (#262)

[2015-08-30 14:07] lawrenceakka commented on #332
All tests have been moved from the unittests directory to the tests directory ( #336 )

[2015-08-30 14:10] lawrenceakka commented on #339
@thedangler We need a bit more to go on please :wink:. Tell us exactly what you tried, and what happened. A python traceback is useful if you are getting errors

[2015-08-30 14:14] lawrenceakka commented on #195
Closed by #225

[2015-08-30 14:14] #195 closed

[2015-08-30 14:22] lawrenceakka commented on #284
Given the delay, I'm not sure we need to do this now. No-one seems to have complained!

[2015-08-30 14:22] #284 closed

[2015-08-30 14:26] lawrenceakka commented on #294
I am unable to reproduce this (sorry it has taken me so long to try). Is it still a problem?  If so, please re-open this bug report

[2015-08-30 14:26] #294 closed

[2015-08-30 16:42] dundeemt commented on #342
closed wit pr #343

[2015-08-30 16:42] #342 closed

[2015-08-30 16:56] dundeemt commented on #341
attempting test membership of a DIdlPlayListContainer to the items in .get_sonos_playlists() always fails.
[code]
Is this because the items from the .get_sonos_playlists are not considered playable?  see soco/data_structures.py::DidlObject.\__eq__

Currently, I am comparing using .item_id to test for membership. However, I was confused and a bit disappointed that I couldn't use the first assert.

[2015-08-30 17:15] robwebset commented on #317
Hi @KennethNielsen

Thanks for your assistance - I managed to get a little time today to look more at this - I think the Sonos has actually stopped sending the "Next Track" information in events now (last firmware update) - as the way the playlist is generated has changed - so the next item in the playlist (even if random is enabled) will always be the next track (Which was not the case if random

[2015-08-30 17:15] #317 closed

[2015-08-31 00:40] dundeemt commented on #334
After a bit of looking, it turns out that some of the tracks of the queue did not exist. I had been re-arranging my library last week, and the queue was made prior to that.  So an 803 could be a "1 or more tracks are invalid."   Any way it was interesting and I got it sorted while I was writing the tests for remove_sonos_playlist.  Marking this as closed.

[2015-08-31 00:40] #334 closed

[2015-09-02 08:16] lawrenceakka commented on #337
python-future is also a recommended tool on https://docs.python.org/3/howto/pyporting.html

There is also https://github.com/timothycrosley/pies , but there seems to be nothing to recommend it over python-future

[2015-09-02 13:35] lawrenceakka commented on #272
Apologies for the long delay. This is now possible with the development version of SoCo. See here for an example: https://gist.github.com/lawrenceakka/c8597d2533b6cc3e0d18

[2015-09-02 13:35] #272 closed

[2015-09-02 14:43] lawrenceakka opened #347 "New demo - adding a track to the queue WITH METADATA!!"
I have been experimenting with the new music services code. It looks as though we can now add a track to the queue, given only its id (eg Spotify or Deezer track_id).  All the metadata is filled in automatically.

Please test and comment.

https://gist.github.com/lawrenceakka/2d21dca590b4fa7e3af2

[2015-09-02 15:30] zapp42 commented on #347
Works fine. Tested with Deezer.

Thanks!!

-Rolf

[2015-09-03 05:49] dundeemt opened #348 "Preferred return structure"
working on reorder_sonos_playlist PR, I have 3 values to return from the call. I've been looking at existing code trying to get a feel on whether to return a tuple of values or a dict.  I've found two examples. One returns a tuple of two values (_music_lib_search) tuple(dict, int) and the other returns a dictionary(__get_radio_favorites).

Given that I am new to the project, I am unsure what the c

[2015-09-03 08:56] KennethNielsen commented on #348
Hallo @dundeemt

The radio stuff is a matter of legacy. I think for all cases where (some of) the returned information fits into on of the data structures for a media, then that is the preferred form. I have a PR (#328) to finally make this happen for the radio stuff.

I don't think we have every really decided on a general practice in the project, so this is just my personal view. In general I th

[2015-09-03 12:46] dundeemt commented on #348
The method's return signature:
            (int): Change in size between original playlist and the
resulting playlist.
            (int): Length of resulting playlist.
            (int): update_id for next operation.
The  reorder call can not only move tracks, but can be used to delete
tracks from a Sonos playlist. All of the values are status values, except
for update_id. Out of the 3 return resu

[2015-09-03 17:44] lawrenceakka commented on #332
For developers, more make targets, and a better sdist build ( #346 )

[2015-09-03 18:15] lawrenceakka commented on #348
I'd go for a dict I think. Keep it simple, and bear in mind that the idea is to hide complexity and make things pythonic.

In my dreams (when I have been coding too much!) the queue is a list like object (list subclass?) on which one can use slicing, len, iterate etc, e.g. `queue[3]` is the third (fourth?) item, and `queue.extend(an_item)` adds an_item to the end of the queue.  See my comments to

[2015-09-03 18:32] lawrenceakka commented on #348
Of course, Queue is a list subclass at the moment. What I meant was that adding to the queue could be as simple as q.extend, and removal could be done with `del` or `pop`. This would require further implementation of the python sequence/iter protocols

Lawrence

[2015-09-04 09:44] lawrenceakka commented on #332
Added `discovery.any_soco()`, for when you need a SoCo instance, but you don't care which. This is slightly better than the traditional `device = soco.discover().pop()` since it will return an existing instance if one is available, without sending discovery packets ( #262 )

[2015-09-04 12:17] dundeemt commented on #332
Modified `DidlObject.to_dict()` so that any associated `resources` list will be also returned as a list of dictionaries instead of returning a list of DidlResource objects. (#340)

[2015-09-04 18:59] lawrenceakka opened #349 "Code formatting todo"
There are a few code formatting issues I would like to correct:
- [x] Docstring formatting to be PEP257 compliant (using [docformatter --no-blank](https://pypi.python.org/pypi/docformatter))
- [ ] Ensure docstring params are in accordance with the Google style guide
- [x] Import reordering to be pep8 compliant, and easier to follow (i.e. in the order stdlib, third party, local) (using [isort](http

[2015-09-04 21:42] thedangler commented on #339
Hi sorry , I should have added code. here is some stuff I was trying
import soco

[<DidlResource 'file:///jffs/settings/savedqueues.rsq#0' at 0x10f59ef90>]

<DidlResource 'file:///jffs/settings/savedqueues.rsq#0' at 0x10f59ef90>

'file:///jffs/settings/savedqueues.rsq#0'

This is where I started to get lost and couldn't figure out how to play and item in the play list.

I ended up just trying to p

[2015-09-05 09:26] KennethNielsen commented on #349
Another issue, that also touches the docstrings, us to napoleonize them. This will however probably be a bigger change, so maybe it is something we should do on a module by module basis.

With regards to docformatter I must admit that I have always had a hard time with that extra blanc line at the end of multiline doc strings, especially because if I remember it correctly, it was basically made a

[2015-09-05 10:15] lawrenceakka commented on #349
@KennethNielsen Docformatter offers:
[code]

I'm happy with that.

[2015-09-05 12:37] lawrenceakka commented on #339
You were close. The next step would be `speaker.add_uri_to_queue(re.uri)`

The whole thing is:
[code]

[2015-09-05 23:20] mikix commented on #329
Some comments:
- Mostly works!
- Typo in "...subscription has been mad" error message (missing final e)
- Going wifi (with zones) to 3g (no zones found) works (yay!), but then going back to the original wifi and calling soco.discover() again returns no zones. I'm not sure why yet.
- I'm still unhappy with a solution that requires me to set a timeout for the event listener thread.  As you note, it'

[2015-09-05 23:43] mikix commented on #329
OK, ignore my issue with discover() returning no zones.  That was user error.

Thus, this branch works as advertised and solves my most pressing need of avoiding blocking code.  But I'm still interested in a solution that doesn't use timeouts in a loop.

[2015-09-05 23:48] mikix commented on #329
(To be clear, I'm happy with leaving the avoid-timeout/"interrupt select() call in socketserver" improvement to a future branch.  This helps enough to land in my opinion.)

[2015-09-06 08:56] #339 closed

[2015-09-06 10:09] lawrenceakka commented on #329
Sorry I'm a bit late to the party. The fact that I wrote the events code doesn't mean that I know how it works!

Sonos units do indeed continue trying to send events for some time after an unsuccessful attempt.  You can see this at http://{device_ip}:1400/status/opt/log/anacapa.trace.  Eventually they will give up and drop the subscription.

I don't see any real harm in setting a short timeout in

[2015-09-06 12:08] lawrenceakka commented on #329
This is how SocketServer does it - see the comments at https://hg.python.org/cpython/file/2.7/Lib/SocketServer.py#l231

I wonder if forcibly closing the socket might work, e.g.:

[code]

I am worried that this is not thread safe however (possible concurrent access of socket object)

[2015-09-06 12:11] KennethNielsen commented on #349
That would be cool. BTW sorry about barely legible English in the previous post. That was from my phone.

[2015-09-06 15:57] #276 closed

[2015-09-06 15:59] lawrenceakka commented on #276
It appears that Sonos uses `<item>` tags for things where the UPnP spec requires `<container>` tags, e.g. ` object.container.playlistContainer` is an `item` not a `container` !.  I have fixed a few tags, and improved the error messages to help track down this problem in future.  Please let me know if there are ongoing problems

[2015-09-07 04:47] dundeemt opened #353 "Latest Version: .get_sonos_playlists() fails"
since commit b1822035da0ddca76f41438e79856400eec602d3, I am seeing...

[code]

[2015-09-07 10:24] #353 closed

[2015-09-08 13:06] lawrenceakka commented on #332
Added a `sonosdump` tool in `dev_tools`, which can print out the various UPnP methods which Sonos uses

[2015-09-08 13:23] shah80 opened #355 ".play_uri() doesn't work on Sound Bar if in "TV Mode""
First - fantastic work - this library is really helpful!

My application functions well with the Play1 and Play3, but not always with the Soundbar.

If the Soudbar had been in "TV Mode", even if TV is currently off, the call to play_uri() doesn't do anything. Typically, when the soundbar is this mode and I use the controller from my iPhone, it asks me to confirm switching the Audio source from my

[2015-09-09 01:00] dajobe opened #356 "Didl objects - request for None valued attributes rather than missing attribute"
With GIT nearly head 4b0926529a3ac139b183ff398e792f715e82d60b I was updating my playlist code to the latest changes and doing a speaker.browse() of a playlist I get back a list of `DidlMusicTrack` objects.

However, some of the tracks don't have albums which is a bit annoying:

    In [32]: r[0]
    Out[32]: <DidlMusicTrack 'Track 0' at 0x1045dddd0>

    In [33]: r[3]
    Out[33]: <DidlMusicTrack

[2015-09-09 08:26] KennethNielsen commented on #348
Unless we can figure out if we need the update id for anything, I think just return the two values. In that case, either of tuple, namedtuple or dict would do the trick for me.

[2015-09-09 08:26] KennethNielsen commented on #348
@lawrenceakka sounds like a fun idea

[2015-09-09 08:55] KennethNielsen commented on #339
@thedangler I think there is often some misconception about when to use uris and when not to, because we have support for them. But for any normal soco functionality, you really do not need to. Sonos playlists are not really meant to be played as a stream (as you seemed to be trying to do, that is only for radios and others such stream to be played in single play mode without affecting the queue),

[2015-09-09 19:05] KennethNielsen commented on #329
Hi @lawrenceakka

;)

Just to be clear, I'm not proposing this for inclusion, this was more of an experiment and see if I could learn a bit more about how this works.

One thing that I was wondering about while working with it. You set it up, so that the server it shut down by sending it an dummy event. That is one of the things that are giving us problems here, because if the network connection i

[2015-09-09 19:31] KennethNielsen commented on #341
Hi @dundeemt

Well, they are playable and therefore certainly also should be considered as such.

Can you check what actually differs? ``__eq__`` checks for equality of the to_dict values, so it would be nice to what actually fails.

[2015-09-09 22:31] dundeemt commented on #341
The following code:
[code]
emits the following:
[code]
The DidlPlaylistContainer emitted by `create_sonos_playlist` has differences starting at `item_id`, the returned value is a 'SQ:118' vs. u'SQ:118' .

The `resources` element has not been converted to a dictionary and it should be if it inherits from DidlObject -- correct? Or it is overridden somewhere. So  comparing the \__repr__ of the object

[2015-09-09 23:22] dundeemt commented on #348
add_item_to_sonos_playlist goes out of it's way to get the current
update_id (it's an extra call.) I did the same thing if update_id was
passed in as 0.  If you have it, and more reorder ops to do, it saves a
network call.  I can return all three as a dict.  It then can be easily
ignored, if desired.  Sound ok?

On Wed, Sep 9, 2015 at 3:26 AM, Kenneth Nielsen <notifications@github.com>
wrote:

--

[2015-09-10 04:01] the01 commented on #329
@KennethNielsen, I think I can venture a guess here. I have written some event queues in the past and I found it cleaner/smoother (however you want to call it) to add a closing event at the current end of the queue. Then the code would work off the remaining events until it encountered the dummy event. It is kind of like a soft shutdown - versus a hard shutdown, when interrupting the server in wha

[2015-09-10 18:46] mikix opened #357 "Pandora account is not listed in MusicService.get_subscribed_services_names()"
Doing the following:

from soco.music_services import MusicService
MusicService.get_subscribed_services_names()

Gives most of my subscribed services.  It misses TuneIn (which I'd expect).  But it also misses Pandora, which I wouldn't expect.  It seems Pandora is missing from the xml returned by the device.musicServices.ListAvailableServices() call in music_services.py.  I don't know why.

[2015-09-11 13:57] KennethNielsen commented on #329
@the01 yes, that is of course how you would normally do it. I was just so locked in with this problem of forcing a shutdown that I didn't consider that.

[2015-09-11 16:27] lawrenceakka commented on #357
Since Pandora is only in the US, I don't have it to test (and I suspect neither do @KennethNielsen or @stefankoegl ). It looks as thought Pandora is one of the music services which has not been moved over to the new Sonos SMAPI interface, which is why it is not in the XML, and will therefore need some custom code.

Are you able to do any wiresharking for us to capture what happens when you play Pa

[2015-09-11 16:29] lawrenceakka commented on #355
No sound bar here to test I'm afraid (unless you wish to send one for testing :wink:) . Someone else may be along who can help out.  Otherwise, we need to see the network data passing between your controller and the songs system. Are you able to use wireshark?

[2015-09-11 16:29] mikix commented on #357
I am able to do that yeah.  Will do so when I have some time.

[2015-09-11 16:32] #338 closed

[2015-09-11 16:36] lawrenceakka commented on #332
Methods relating to the music library (`get_artists`, `get_album_artists`, `get_albums` and others) have been moved to the music_library module. Instead of `device.get_album_artists()`, please now use `device.music_library.get_album_artists()` etc. Old code will continue to work for the moment, but will raise deprecation warnings (#350)

[2015-09-11 16:42] lawrenceakka commented on #329
What is happening in this code

[code]
is that `handle_request` calls `socket.select()` behind the scenes, and that waits until the timeout before it returns. Sending a dummy http request to the socket address causes `select` to return earlier, and we don't need to wait for the timeout to expire. The problem of course is that in the scenario @mikix has,  the controller can no longer access the net

[2015-09-11 16:51] shah80 commented on #355
Yeah - I'll grab a pcap this weekend and upload.

Did a little more anecdotal testing. Seems like if the TV is on, I can't get it to switch to play a hosted MP3 via play_uri(). If the TV has just turned off, still no dice. However, If i wait hours (like the next morning) it seems to work.

Will capture some traffic and share.

[2015-09-12 07:12] stefankoegl commented on #315
I didn't really manage to fully follow to development (let alone contribute contribute anything) lately. I have however noticed that a lot of changes have been merged -- thanks to all contributors!

I therefore wanted to ask if we should start the release process for 0.12. Is there anything that should get merged before we get started?

[2015-09-12 08:32] KennethNielsen commented on #315
@stefankoegl Well, I have the radio redux #328 branch, which I would like to see in, but it still needs more work. I will see if I can get it done today. If not, then it isn't essential for the release.

[2015-09-12 08:40] lawrenceakka commented on #315
Hi @stefankoegl I've just flagged a few issues/PRs I think we can/should realistically get done for 0.12.

[2015-09-12 09:22] KennethNielsen commented on #348
@dundeemt  yup.

[2015-09-12 09:24] KennethNielsen commented on #357
@lawrenceakka correct, I'm in Denmark.

[2015-09-12 09:27] KennethNielsen commented on #329
@lawrenceakka I'm unsure. What I was wondering, and what I think would be the most elegant solution if it is possibly, is if we are able to fake the dummy request. I.e. does the Server object has some secret methods that we could call to make it think it received the closing event, without actually having it go over the network. I'm unsure if this is possible and I had little luck googling for it.

[2015-09-12 09:33] KennethNielsen commented on #355
The question is if we need the traffic here. Asking it to play music, while in a different input, may be one of those kind of undefined situations like asking slaves to perform actions. Therefore, a possible solution would be to modify (and change/rename) the only_on_master decorator to do all sort of different pre-execution checks. It could them, given a particular argument ``not_on_line_in_or_tv

[2015-09-12 10:27] the01 commented on #329
Since ```select()``` accepts an array of sockets (or objects with certain properties/functions), you could add a thread-safe dummy socket/object/whatever to the select call and write your closing event to that.
That would have the additional benefit of being able to feed your own data as if it was coming in over the wire :wink:

[2015-09-13 07:42] KennethNielsen opened #360 "Working on large doc change"
Hallo everyone

This is just a heads up. I'm working on a **large** change to the docs, that will revive and extend #151. I just wanted to write up front, since this is going to be quite a bit of work. In case someone else is working on something similar, please let me know so we wont have a wasted effort.

Regards Kenneth

[2015-09-13 08:27] lawrenceakka commented on #360
Morning Kenneth,

I was thinking of it, but haven't started, so this is great timing.  Are you going to Napoleonise the docstrings in the modules themselves, or should I start on that?  Or should I wait?

Lawrence

[2015-09-13 09:33] KennethNielsen commented on #360
Goodmorning @lawrenceakka.

No, I wasn't going to do that. It would be great if you started that, just as long as you don't touch the doc files, so we don't have too many conflicts and I will completely stay out of the source files then.

One thing though, about Napoleon, that we need to coordinate is about documentation of class instantiation parameters. If you use auto-module without extra optio

[2015-09-13 11:37] lawrenceakka commented on #360
I think I prefer to document them in `__init__`. It is easier to keep the docs up to date then because the parameters are documented nearer to where they are used.  There is a configuration option in Napoleon which helps.  From the Napoleon docs:

__napoleon_include_special_with_doc__
bool, defaults to `True` – `True` to include special members (like `__membername__`) with docstrings in the docume

[2015-09-13 13:31] KennethNielsen commented on #360
Agreed.

[2015-09-13 22:01] dundeemt commented on #355
if you call `device.play()` that will switch the soundbar from tv over to the queue.  I just confirmed this on my own playbar.

[code]
play as compared to play_uri, seems to force the input mode change.

[2015-09-13 22:13] dundeemt opened #361 "building docs: sphinx issues warning about template classic"
`make html` emits the following configuration warning.

WARNING: 'default' html theme has been renamed to 'classic'. Please change your html_theme setting either to the new 'alabaster' default theme, or to 'classic' to keep using the old default.

Also, 3 other minor warnings;
/home/jlh/projects/soco/SoCo/soco/data_structures.py:docstring of soco.data_structures.DidlObject.from_dict:3: WARNING: In

[2015-09-14 07:40] lawrenceakka commented on #361
Thanks Jeff.  I'll probably pick up on these as I go through the docstrings.  I have discovered that it is now possible in Sphinx's `conf.py` to set `keep_warnings=True` which puts the warnings into the body of the docs themselves, where it is much easier to see them as you work

[2015-09-14 07:44] lawrenceakka commented on #360
@KennethNielsen

I have had to fiddle with Sphinx's `conf.py` for the purposes of debugging the docstrings as I edit them.  You may have decided the same, but I think it is worth completely starting again with it, since Sphinx 1.3 adds a number of options anyway. I also think the new default theme, alabaster, looks a lot nicer!

For what it is worth, here is where I got to (basically with `sphinx-

[2015-09-14 08:58] KennethNielsen commented on #360
No, I didn't look at that. But that makes sense.

Actually I was really hoping we could the read the docs theme. Its installable from pypi and it gives us a much better idea of what the complete result will be.

Can you give just a short example.

With regards to the new conf.py, great! I think we are missing the inheritance diagram extension, but other than that looks good. I looks like you have

[2015-09-14 09:58] KennethNielsen commented on #360
Since our tutorial at the moment is rather anemic, I was planning on including it in a getting started page along with installation instructions. Any objections to this?

[2015-09-14 09:58] lawrenceakka commented on #360
Yes, also nice.  (NB If we decide we prefer alabaster, it is easy to tell RTD to use that theme also)

Sure.  If the `default_role` is set to `any`, then, in a docstring,  `` `any_soco` `` will auto generate a link to the definition.  Without it, we would have to use ``:method:`any_soco` `` or even ``:method:`~soco.discovery.any_soco` ``

Also, with `intersphinx` enabled, a reference to anything i

[2015-09-14 10:00] lawrenceakka commented on #360
@KennethNielsen I forgot to say that the RTD theme is now part of Sphinx.  Just set `html_theme = 'sphinx_rtd_theme'`.  No need to install anything

[2015-09-14 10:03] lawrenceakka commented on #360
Not from me.

[2015-09-14 12:10] KennethNielsen commented on #360
Ah ok, I will give it a try.

GREAT! That will be very useful.

Ah cool, I hadn't noticed.

[2015-09-14 13:12] KennethNielsen commented on #355
Hmm, ok. If you can get a wireshark grab of what the official app does, when it asks you for confirmation and then actually does it, we should hopefully be able to mirror that.

[2015-09-14 16:36] lawrenceakka commented on #360
@KennethNielsen

I have done some work on docstrings, and also revised the config files and doc stubs, today. At the moment, what I have done so far is in https://github.com/lawrenceakka/SoCo/tree/docs-revision

I wonder if it might be best to make this an official branch in the main SoCo repository, where we can both create PR's against it. I don't want to mess up any work you have done/are doing

[2015-09-14 19:45] KennethNielsen commented on #360
@lawrenceakka that sounds like a good idea.

[2015-09-14 21:27] lawrenceakka commented on #360
@KennethNielsen

Done.  See https://github.com/SoCo/SoCo/tree/docs-revision

I will continue to update there from time to time. If you can put your changes there as well, that would be great.

[2015-09-14 21:28] #348 closed

[2015-09-14 21:33] lawrenceakka commented on #206
See [this Gist](<https://gist.github.com/lawrenceakka/2d21dca590b4fa7e3af2>)

[2015-09-14 21:33] #206 closed

[2015-09-14 22:36] lawrenceakka commented on #326
This is caused by the way in which `DidlMetaClass` is declared as a metaclass of `DidlObject`. I don't think we can really blame Sphinx, since what we are doing is rather hacky, to attempt to achieve Py2/3 compatibility.

Replacing
[code]
with
[code]
makes the doc build work on Python 3, but of course it then breaks on Python 2. It may be that using `six` or `python-future` fixes it. I haven't tri

[2015-09-15 07:32] lawrenceakka commented on #326
The code from `python-future` works nicely. I have put it in `compat.py`, and the inheritance diagram now builds correctly in Py2/3

[2015-09-15 07:32] #326 closed

[2015-09-15 09:17] lawrenceakka opened #363 "Drop pylint checks for Py2.6?"
At the moment, we have pinned PyLint at version 1.3.1 and astroid at 1.2.1 as later versions have dropped support for Python 2.6 (see #255). PyLint is now at version 1.4.4 and astroid at 1.3.8.

There are various problems with this.  The newer versions include important checks for Python 3 which we are missing, and the older versions cannot cope with e.g. the way in which we declare metaclasses (w

[2015-09-15 14:43] stefankoegl commented on #363
Good idea!

I'm don't know how this can be done in Travis, but I'm sure there will be some way.

[2015-09-16 15:14] lawrenceakka commented on #360
A quick update.  I have done rather more than I intended!

* Updated the `conf.py` file, and enabled all sorts of useful goodies. The default role is set to `any` (see above`, which allows much easier and less verbose cross-referencing.  Better use of `inter sphinx` for x-refs to the python docs, and to the requests library.
* The auto generated stub files have been reorganised into an api subdire

[2015-09-17 11:48] lawrenceakka commented on #363
Done.  Flake8 is still running on Py2.6  Pylint does not yet work on Py3.5 so that is not enabled

[2015-09-17 11:48] #363 closed

[2015-09-18 05:09] dundeemt commented on #332
Added remove_sonos_playlist method.  Closes issue #341 (PR #345)

[2015-09-18 09:08] KennethNielsen commented on #363
Great! If not in Travis it may also be possible to do with the make file,but I see that you figured it out.

[2015-09-18 14:36] stefankoegl opened #364 "Build fails on Python 3.5"
Python 3.5 was released recently (see https://docs.python.org/3.5/whatsnew/3.5.html). I've tried to enable builds for 3.5 but they are failing.

According to http://code.activestate.com/lists/python-list/688177/ it seems that pylint relies on some internals that might have changed in 3.5.

[2015-09-18 15:03] lawrenceakka commented on #364
Hence the commit message for https://github.com/SoCo/SoCo/commit/34e6323abf96ef5fd96d1a1736266d7d2a6c81d0

:wink:

Travis also supports Pypy3 now, but I haven't tried it.

Lawrence

[2015-09-19 21:54] lawrenceakka commented on #360
Now done almost all of the docstrings in the source files. Of the main modules, only  `conf.py`remains to be done. I have not touched (I think) the main top level docs (e.g. the tutorial, plugins docs, unittests docs etc).

I think these can probably be merged into the main branch, which will improve the docs currently on RTD, so I may do that in a few days if no-one objects.

[2015-09-20 07:07] singhbgithub opened #365 "play_uri File Not Found Error (in the SONOS app), but no error reported from soco?"
It looks like the response from the Sonos is successful (200), but the song from the uri does not play. The uri is the one in the example in the README.

Here is my code:

import soco

def _get_coordinators():
    players = soco.discover(timeout=3) or []
    coordinators = [player for player in players if player.is_coordinator]
    return coordinators

if __name__ == '__main__':
    coordinators =

[2015-09-22 12:52] dundeemt commented on #332
Added methods for sonos playlist management: `reorder_sonos_playlist`, `clear_sonos_playlist`, `move_in_sonos_playlist`, `remove_from_sonos_playlist`, `get_sonos_playlist_by_attr` (PR #352)

[2015-09-22 13:12] dundeemt opened #366 "Deprecation Warnings raised in tests"
There are 8 tests that are not designed to specifically test Deprecations that are raising them when the test suite runs.  They are only visible if you enable capturing stdout.  I am going to start on a PR to modify those tests to use the new `music_library` methods.  Should be ready later today.

[code]

[2015-09-22 16:30] lawrenceakka commented on #360
I have merged these changes into the main branch, and deleted the docs-revision branch.

[2015-09-22 16:38] lawrenceakka opened #369 "Docs build is failing"
After the update to the docs, the build on ReadTheDocs is failing. @stefankoegl please could you add me as a maintainer on the RTD account (username lawrenceakka) and I will try to fix it.

Thanks

Lawrence

[2015-09-22 18:03] stefankoegl commented on #369
Are you sure about the username? RTD claims it doesn't exist...

[2015-09-22 18:10] lawrenceakka commented on #369
Apparently, it has a capital letter:   Lawrenceakka

Perhaps it is case sensitive.

Thanks a lot

[2015-09-22 18:11] stefankoegl commented on #369
Worked, you're now a maintainer!

[2015-09-22 18:13] lawrenceakka commented on #369
Thanks Stefan. I'll see if I can work out what's wrong

[2015-09-22 19:42] lawrenceakka commented on #369
Seems to have been some internal RTD problem with a database connection.  Working now.

[2015-09-22 19:42] #369 closed

[2015-09-23 00:06] mikix commented on #329
@the01 agreed, though socketserver doesn't give an easy way to edit the list.  I suppose the best way would be to just re-implement the handle_request call and write the select line ourselves.  By stuffing our own socket in there, we wouldn't need to rely on the network at all or harsh ways of aborting the select.

[2015-09-23 01:25] mikix commented on #357
I sat down to capture the Pandora packets, but failed.  :(

I installed wireshark on my Ubuntu laptop.  Set it to capture in promiscuous and monitor modes (so in theory getting everything on the WLAN).  Then used my Android tablet to control my Sonos speakers.  But I couldn't see any packets that looked related.

Do you happen to know of a good way to capture the data?  Maybe a good packet sniffer

[2015-09-23 04:47] dundeemt commented on #341
closed by PR #345

[2015-09-23 04:47] #341 closed

[2015-09-23 06:39] lawrenceakka commented on #357
It may depend on which ports you are looking at. Sonos generally communicates on port 1400, so you may need to tell Wireshark to dissect traffic on that port as http.

I then use a packet display filter as follows to filter out the junk:

`http and (eth.addr_resolved contains "Sonos")  and not (http.request.method == NOTIFY) and not (xml.cdata == UMTracking) and not (xml.cdata == NoReport)`

If th

[2015-09-26 16:10] KennethNielsen commented on #360
@lawrenceakka Hallo

Great to hear about the changes and the merge. I'm was occupied for a while as best man at a wedding :) which is the reason I didn't get back to you sooner. I can understand that you wanted to merge in a hurry, since a PR touching so many doc strings is going to get old pretty fast.

Regarding re-doing the stubs and moving them, that was actually also a part of my branch, sinc

[2015-10-02 13:36] robwebset commented on #315
I think as they have been there a while 0.12 should include one of:
https://github.com/SoCo/SoCo/pull/289
https://github.com/SoCo/SoCo/pull/292

Both appear to work and certainly improve things, so one should go in and the other killed off.

[2015-10-03 07:02] KennethNielsen commented on #324
Raspbian has just been debased to Jessie (http://www.phoronix.com/scan.php?page=news_item&px=Raspbian-Jessie-Released) which most likely means a newer Python. I will check it Monday.

[2015-10-22 20:07] stefankoegl commented on #315
So, what's the current status here?

[2015-10-22 20:08] stefankoegl commented on #324
Any news?

[2015-10-29 00:19] pmsosa opened #373 "SeekTo functionality"
Is it possible to communicate using Socos to change the location on a song.
e.g seekTo minute 2:30 in the current song?
I'm just wondering if there is a UPnP call that will do such a thing, or if you SoCo implements such functionality?

Btw, great work on Socos! Thanks :)

[2015-10-29 07:08] pmsosa commented on #373
Welp! sorry guys. found it through looking at core.py
Just in case anyone has the same question it works like so:
your_sonos_device.seek(self, timestamp)  // timestamp in format( HH:MM:SS or H:MM:SS)

[2015-10-29 07:08] #373 closed

[2015-11-07 21:41] robwebset opened #374 "Event Error if there is no title text"
I was messing about with the latest code base and hit an error:

[code]

The message I believe it was trying to process was:

[code]

I'm a bit rusty on all this (having not looked at it for a long time), but I think maybe a change to data_structure.py:

[code]

To allow for the case where title_elt.text is None?

[2015-11-08 05:53] robwebset commented on #374
Sorry, just found another one:

[code]

From the message:

[code]

[2015-11-10 15:40] Reborn2 opened #375 "Next Track"
Hello

Using SoCo and have a question about commands.

SonosSoCo.get_current_track_info() lets report the informations of the current track where i can read the informations like artist album title, thats all okay

SonosSoCo.get_queue() lets report the playlist as queue but i cant pick out the information about the next track

Is there an command for getting just the information of the next track

[2015-11-13 17:38] Reborn2 commented on #375
Hello

Is there somebody who can help me ?

get_next_track_info()

Or something else how i can read it out of the queue ?

Regards

[2015-11-22 13:10] armaal opened #376 "TruePlay technology is compatible with SoCo ?"
Hi,
If I flash my SONOS speaker to the latest version to get TruePlay. I will encounter some problems with SoCo ? or not ?
Thanks

[2015-11-23 09:53] relevitt opened #377 "Errors after subscribing to soco.services.Queue"
I'm using soco. 0.11.1, installed via pip.  This code ...

[code]

generates this error ...

[code]

Don't think it's relevant, but I've commented out a section of data_structures.py (lines 356-362) as follows ...
[code]

FWIW, I'm trying to detect changes to a sonos queue. I can detect these by subscribing to each visible device's avTransport service and testing for events where the change in eve

[2015-11-23 09:57] relevitt opened #378 "Errors after subscribing to soco.services.Queue"
I'm using soco. 0.11.1, installed via pip.  This code ...

[code]

generates this error ...

[code]

Don't think it's relevant, but I've commented out a section of data_structures.py (lines 356-362) as follows ...

[code]

FWIW, I'm trying to detect changes to a sonos queue. I can detect these by subscribing to each visible device's avTransport service and testing for events where the change in ev

[2015-11-23 09:58] #377 closed

[2015-11-23 10:22] relevitt opened #379 "Can't simultaneously run soco.events.event_listener in two separate applications"
Using soco 0.11.1 installed via pip.

First application has the following module ...

[code]

Second application has the following code ...

[code]

If the second application is run while the first application is running, the first application reports the following errors ...

[code]

while the second application reports the following error ...

[code]

[2015-11-24 13:39] armaal commented on #376
I've upgraded to the lastest firmware then I was able to use soco again. It's ok :+1:

[2015-11-24 13:39] #376 closed

[2015-12-04 15:23] relevitt opened #380 "Event error resulting from problematic URI in sonos queue"
If you try to add a spotify item to the queue as follows:

[code]

and then you try to play the item, and you're subscribed to events via the soco.events module,
then the following error may occur:

[code]

No doubt, an answer is not to try to add items to the sonos queue in that way, but, as you can do it, the events module should probably be able to cope.

[2015-12-04 16:23] relevitt opened #381 "soco.plugins.spotify seems unable to add tracks or albums to queue"
The following code (imports excluded):
[code]

generates the following error:
[code]

There's a corresponding error when you try to add a track.

[2015-12-05 07:30] #381 closed

[2015-12-21 11:28] millzee2000 commented on #381
Was the error resolved because I'm having the same issue

[2015-12-21 13:14] relevitt commented on #381
No, it wasn't resolved, but I found a gist with a temporary solution, and I think there was also something on Github suggesting the problem might be fixed in the next version of soco. I'll email you the link to the gist when I'm at my PC. I've been using it successfully for loading tracks (one at a time), but I haven't succeeded in loading containers, like albums or spotify radio stations.

  On M

[2015-12-22 18:49] relevitt commented on #381
This is the gist ... A quick demo showing how to add a music service track to the queue
|   |
|   |  |   |   |   |   |   |
| A quick demo showing how to add a music service track to...A quick demo showing how to add a music service track to the queue |
|  |
| View on gist.github.com | Preview by Yahoo |
|  |
|   |

      From: millzee2000 <notifications@github.com>
 To: SoCo/SoCo <SoCo@noreply.git

[2015-12-22 20:14] millzee2000 commented on #381
Thanks a lot :+1: it works... well yeah, hopefully there is a fix

[2015-12-26 21:31] Reborn2 commented on #375
Hello

Happy Hollidays

Just asking if somebody can helps me with my problem how can i get the informations about the next track?

Regards

[2015-12-27 15:27] DPH commented on #375
Hi, Sonos doesn't support a get_next_track_info() type command - therefore SoCo don't!

The best way is to subscribe to the events in Sonos. SoCo caters for this. Then you get information when the current or next track changes. See https://github.com/SoCo/SoCo/blob/master/soco/events.py
the code includes an example that works.

This basically sits in a loop waiting for events from Sonos - and when

[2015-12-27 15:56] Reborn2 commented on #375
Hy

Thanks for your answer, by the way i cant resolve the problem.

            from __future__ import print_function

            import soco

            from soco.events import event_listener

icant get the right commands in the examples to get the avTransport events

Hope you can help me

Regards

[2015-12-27 17:18] DPH commented on #375
Hi, I am not clear what is failing.
 below reduced code

[code]
If you have SoCo installed and are using python 2.7 or 3.2 or higher this should work.
If not please explain what is failing and what version of python you are using.
Please confirm you have installed the current vesion of SoCo
Please advise what platform you are running on.

Cheers David

[2015-12-28 11:06] Reborn2 commented on #375
Hy

I am running Python 2.7.9 on a enigma 2 Satelite Receiver where i copy the current version of the soco directory into the phyton directory of the receiver

Wohnzimmer

Exception happened during processing of request from ('192.168.0.84', 35319)
Traceback (most recent call last):
  File "/usr/lib/python2.7/SocketServer.py", line 599, in process_request_thread
    self.finish_request(request, cl

[2015-12-28 16:56] DPH commented on #375
Mmmm,
beyond me to analyse - sorry. Some one else with deeper knowledge of the DIDLMetadataError needs to chip in.

You could try subscribing to the rendering event to see if that works - that would eliminate anything on your side.

[code]

Cheers David

[2015-12-28 18:15] Reborn2 commented on #375
Hello

Here ist the Log with sub = device.renderingControl.subscribe()

Wohnzimmer

{u'bass': '0',
 u'headphone_connected': '0',
 u'loudness': {'Master': '0'},
 u'mute': {'LF': '0', 'Master': '0', 'RF': '0'},
 u'output_fixed': '0',
 u'preset_name_list': 'FactoryDefaults',
 u'sonar_calibration_available': '0',
 u'sonar_enabled': '0',
 u'speaker_size': '-1',
 u'sub_crossover': '0',
 u'sub_enabled':

[2015-12-28 21:07] DPH commented on #375
Great - so subscription works for you - just the avTransport subscription fails.
It works for me on Windows
Anyone else any ideas why this isn't working for Reborn2

[2015-12-29 06:28] robwebset commented on #375
Getting the "Next Track" changed a few Sonos firmwares ago.

Now the "Track Queue" is in order of what will be played, so you can just read the next item off of the queue and that will be the next track played.

Rob

[2015-12-29 09:32] Reborn2 commented on #375
Hello

mean you SonosSoCo.get_queue() ? Because i dont know how to get only the next track out of the queue to display it.

Queue(items=[<DidlMusicTrack 'Hells Bells' at 0xb62232f0L>, <DidlMusicTrack 'Shoot To Thrill' at 0xb6223070L>, <DidlMusicTrack 'What Do You Do For Money Honey' at 0xb6223910L>, <DidlMusicTrack 'Given The Dog A Bone' at 0xb61b6f70L>, <DidlMusicTrack 'Let Me Put My Love Into Yo

[2016-02-06 17:14] kberg opened #384 "discover() returning None"
This is running from a Mac Pro which can control the Sonos using the Mac app no problem.

When I first downloaded the python module, it worked great. Now, nothing. I have no idea why.

(Also if I could find a mailing list, I'd raise this question there rather than in an issue.)

[2016-02-07 22:05] kberg commented on #384
Looks like soco.SoCo(ip) still works. So I may change my code to be resilient enough to fall back on historical IPs rather than trying to discover the network.

[2016-02-08 05:38] robwebset commented on #384
I believe I did a pull request for this one:

https://github.com/SoCo/SoCo/pull/289

Should improve discovery

[2016-02-08 08:43] DPH commented on #384
I use the following - which takes some time, but does eventually work.
[code]

As @robwebset says there is an enhancement for machines that have multiple interfaces, which allows you to specify the interface:
[code]

This works as fast as the previous discover, if not faster.
I guess my while loop approach keeps trying and eventually hits the right interface!
The only problem with specifying inter

[2016-02-12 15:22] nlagaros commented on #378
I'm not sure if you have figured this out yet, but I do something similar and made a small addition in events.py to handle LastChange from the queue.  The namespace is different for the queue so I added this:
[code]
right after the instance check for RCS - around line 109 in events.py.

[2016-02-14 19:28] kberg commented on #384
Thanks. I tried Rob's new code, but it didn't do anything for me. The IP of my local machine also didn't work. So, this is a bit of a surprise. I tried (for the first time) to grab network traffic from my machine from both my sample python and Sonos itself, and can't really tell if the broadcasts worked.

Retries also don't seem to work.

[2016-02-24 22:08] cassieramen commented on #378
Thanks @nlagaros
That fixed it for me.

[2016-02-25 05:34] kylewill commented on #99
I'm working on a similar project and trying @robwebset code. I made some updates for Python 3 but I get an error from the Sonos controller "Unable to play station Speech - station not found".

Anyone have this working?

[2016-02-25 05:55] robwebset commented on #99
There was a change in the google link a while ago:

trans_URI = "x-rincon-mp3radio://translate.google.com/translate_tts?tl=%s&q=%s&client=t" % (glang, msg)

New location of full file:

https://github.com/robwebset/script.sonos/blob/master/resources/lib/speech.py

Rob

[2016-02-26 15:31] Reborn2 commented on #375
Hello

Have somebody aidea to help me with my problem ?

[2016-02-26 22:20] cassieramen commented on #379
Not sure if you're still having this issue. The event listener is actually running a simply http server that the sonos is sending notification to. Running two with cause the port collision you're seeing. I'd highly recommend having one listener that dispatches the notification to the appropriate handler.

If you must have two running you can alter [soco.config.EVENT_LISTENER_PORT](http://docs.pyth

[2016-02-27 10:45] relevitt commented on #379
Thanks.

[2016-02-27 10:45] relevitt commented on #378
Thanks.

[2016-03-03 01:50] relevitt opened #385 "soco.events doesn't handle network disconnects gracefully"
After the event_listener has been imported from soco.events, a network disconnect will trigger errors.

Without rewriting soco.events, I haven't found a way to handle these errors gracefully in my application, not least because soco.events calls unsubscribe at exit (see line 477 in soco.events.py) which will trigger errors at exit if the network has gone down.

I'm planning to fork soco.events so

[2016-03-06 11:41] ArjanM83 opened #386 "get_current_track_info: ParseError: not well-formed (invalid token)"
When requesting current track info, this results in an error when an invalid token is returned by the sonos zone:

[code]

This is the xml_response, I believe the invalid content is within the stream content:

[code]

[2016-03-07 07:03] relevitt commented on #385
A twisted internet version of soco.events is available here ... https://gist.github.com/relevitt/a918492bf4626e89a23e

The key changes:
- it uses twisted.internet rather than requests
- if the default port (1400) is unavailable, it looks for the next available within a range of 100
- a callback function can be set for handling events (the event queue is retained for compatibility)
- a network conn

[2016-03-08 19:00] relevitt commented on #381
Here's a gist for adding a spotify album ... https://gist.github.com/relevitt/21dd577e96bcbd8696e2

[2016-03-21 15:18] nlagaros commented on #385
Pretty neat relevitt.  I have been experiencing issues with network disconnects myself.  The issue I have is that I'm confined to Python 2.6.  I did build a version of Twisted that is 2.6 compatible and your example ran just fine.  I have not been able to run my original scripts however .. it just hangs out there.

[2016-03-23 08:54] nlagaros commented on #385
I was thinking more about this networking issue in general.  The main issue is that a subscription can be lost.  For example, If I reboot a ZonePlayer that had an active subscription, that subscription is lost.  Does your new code account for this?

[2016-03-23 10:26] relevitt commented on #385
It doesn't address that, no.

I have separate code in my application (therefore not part of the amended soco modules) to check every second for changes in network state and, as appropriate, to unsubscribe from / resubscribe to services or to shutdown / restart the event listener. However, that code is very alpha, so I'd hesitate to share it.

In the process of doing that code, I also made a few fu

[2016-03-23 22:13] nlagaros commented on #385
Got it.  I'm not sure what your plan is to handle network issues for ZonePlayers, but I would suggest keeping an eye on the NOTIFY ssdp multicasts.  When a ZonePlayer has an issue, it will drop subscriptions without any type of notification (makes sense).  When it comes back online it will send a ssdp:byebye message, then a ssdp:alive message.  You can observe the sequence numbers in the alive mes

[2016-03-25 06:46] relevitt commented on #385
That's great, nlagaros. I can see the sense in keeping a UDP socket open to monitor ZonePlayers.

[2016-03-25 20:19] pfischi opened #388 "Error parsing AVTransport events when playing Deezer Tracks"
An error in event handling rountine occurs, when a Deezer track is played. This happens because of an unknown item class "object.container.album.musicAlbum.#DEFAULT" in the event xml string.

As a workaround, i've added a new class to "data_structures.py" to solve the problem.
[code]

With best regards,

Stefan

[2016-04-11 19:42] jeantristan opened #389 "get_current_track_info doest not handle same track playing in different zone"
I woud like to get current track info in the different zones.

Using the following code:
[code]

I am currently playing the same track in the 3 different zones (Cuisine, Chambre, Salon) but i have the following output:
[code]

[2016-04-11 21:38] DPH commented on #389
Hi @jeantristan,
your results show that you have the Cuisine and Solon group with another zone - I guess the Chambre.
The uri shows the first 2 zones are playing the same as the sonos Zone with a mac address of B8E9378A15D80 - I guess thats Chambre.

In other words Chambre is a master / coordinator and the other two are slaves.
Only masters have details of what is playing.
Slaves just refer to a m

[2016-04-12 10:43] jeantristan commented on #389
Thanks for answer. That was the case.
Is there a method to lookup from slave to master and get the "track info" from the master ?

I would like to get current track info on a regular basis (let's say each 1 minute) on all my zones and backup it. Then, i want to do some prediction based on this data and other data.

[2016-04-12 10:52] jeantristan commented on #389
Ok i got it!
[code]

[2016-04-12 10:52] #389 closed

[2016-04-12 18:14] KennethNielsen commented on #388
Hi @pfischi and thanks for reporting this.

I'm fairly certain that this class is not part of the DIDL Lite specification and I think that we have seen it before i.e. a particular music service implementing some class that isn't in the spec.

It could probably get messy real fast if we add these music service specific classes every time, so I'm wondering if we couldn't come up with some general so

[2016-04-12 18:29] KennethNielsen commented on #386
Hi @ArjanM83 and thanks for reporting this.

Can you please post the repr version of the XML response? Also, does this happen to you often or only with a specific track?

[2016-04-12 18:36] KennethNielsen commented on #355
@shah80 Were you able to get a pcap from Wireshark for this issue?

[2016-04-12 18:44] KennethNielsen commented on #389
@jeantristan Yes, as maybe you found (I can't really tell from you previous post) the group has a "coordinator" property, which return the master zone.

[2016-04-12 18:47] KennethNielsen commented on #389
Even though it is closed, this issue got the thinking. We have the "only_on_master" decorator, which should raise an exceptions for methods that should only be called on the master. This is meant to take care more obscure errors, bad or ill-defined output. I wonder if  `get_current_track_info` should get this decorator. It does return information (probably what the slaves were playing before being

[2016-04-12 20:25] DPH commented on #389
Hi @KennethNielsen
it is useful to be able to ```get_current_track_info``` even on slaves as the uri shows it is a slave and what master it is grouped to. I know that info is available in other ways, but other than the URI I think it shows what was previously playing on that zone, which could be a queue you would want to switch to....

The ideal would be to leave it there but to give a warning if

[2016-04-13 09:44] ArjanM83 commented on #386
Hi @KennethNielsen,

Can you explain how I could get the repr version of the XML response?

I'm running a discovery script every minute to monitor the status of my Sonos speakers and to see if/what they're playing. Often, I'm playing a radio stream. When there's a song on the radio with invalid characters in its name, this error occurs. So it depends on the DJ of the radio station.

It's not easy

[2016-04-13 17:39] KennethNielsen commented on #389
@DPH That could be done, but on second thought those warnings should be used lightly. I think maybe a note in the docstring for now.

[2016-04-13 18:17] KennethNielsen commented on #389
I have made a small PR for this #390

[2016-04-13 21:30] DPH commented on #389
Good approach.

[2016-04-14 18:11] KennethNielsen commented on #386
@ArjanM83 Are you fairly familiar with git? I.e. would you be able to run of a branch of mine if I create one that outputs some more debugging information?

[2016-04-15 09:57] ArjanM83 commented on #386
Hi @KennethNielsen,

Sure, I think that would be possible. But could you have the debug information written to a file, using a path defined by me? I'm using SoCo in my home automation solution to control my speakers and would rather not break it. My solution is working around this error by ignoring the errors.

The error is not easily reproducible, it could take a while before a track is played wi

[2016-04-15 19:09] KennethNielsen commented on #386
@ArjanM83 Yeah, I think I could write it up like that. I dont' really have time to troubleshoot it myself.

This is kind if annoying, it definitely looks like and character encoding error, but looking at the implementation, I can't spot any obvious mistakes.

I did notice that the line numbers are of so I guess that you are using a released version. Could I get you to check whether the error is al

[2016-04-15 19:53] KennethNielsen commented on #386
@ArjanM83 on second thought, hold of on checking master. I don't think that will solve it.

[2016-04-15 20:17] KennethNielsen commented on #386
Hmm. After a lot of banging my head against the XML spec, concerning valid chars etc. I realized that the chunk of XML you pasted has two toplevel tags in it (it is essentially two XML documents). You can tell in that the Elevelope tag that opens the whole thing is closed and the a new one opens. If I delete one of the two, the XML parses just fine, weird characters and all. Now the questions is,

[2016-04-16 09:12] ArjanM83 commented on #386
@KennethNielsen When I was searching for a reason for these errors, I inserted a print statement in the unwrap_arguments function. I copied the last part of the data retrieved into this issue, and must have accidentely copied the last two parts.

I will look into this again and try to add some more usefull information.

[2016-04-16 09:21] quatauta commented on #332
Support playmodes repeat-one (`REPEAT_ONE`) and shuffle-repeat-one (`SHUFFLE_REPEAT_ONE`) introduced by Sonos 6.0 (PR #387)

[2016-04-16 09:38] KennethNielsen commented on #386
@ArjanM83 Yes. I guess that could be what had happened. If we are to get to the bottom of this, without interrupting operation of you application to much, what we could do is to ask it to output to a file only when the error occurs. I think, that if you change the XML parsing bit in unwrap_arguments to something like this:

[code]

I think that should leave us the last xml_response that failed to

[2016-04-16 13:27] ArjanM83 commented on #386
@KennethNielsen I've used your code to create the debug file. I started the online radio station this morning and already got 10+ errors. See the attached text file for more details.

[sonos_debug.txt](https://github.com/SoCo/SoCo/files/222203/sonos_debug.txt)

[2016-04-16 19:47] KennethNielsen commented on #386
@ArjanM83 Ok. I think I have found the cause now. It seems that this radio station **is** sending "illegal" characters in the XML. In this case it was a Ctrl-d (code point 0x04) character. Stripping illegal characters out before trying to parse it makes it succeed.

There are just a few more things I need to understand and then I can start working on a fix.

[2016-04-17 06:23] KennethNielsen commented on #386
@ArjanM83 Can you test the filter_invalid_chars_in_xml_fixes branch from my repository: https://github.com/KennethNielsen/SoCo ?

[2016-04-17 09:36] ArjanM83 commented on #386
@KennethNielsen thank you for your work, I will use the branch and run the discovery for a day to see if everything works fine.

[2016-04-18 16:43] ArjanM83 commented on #386
@KennethNielsen The discovery process has run over a day and has not experienced any error. Although the test case is not 100% reliable (the web radio could have had one day without sending errors), I would say this issue is solved.

Thanks again for your work.

[2016-04-19 18:59] KennethNielsen commented on #386
@ArjanM83 No problem - Its always fun to work on one that I can figure out ;)

I'm just going to leave the issue open until the fix is integrated in main.

Thanks for reporting.

[2016-04-26 08:25] pmatos commented on #384
Same problem here, `soco.discover()` always returns `None` even with a timeout of 5.
Is there a good way to debug this kind of problem?

[2016-04-27 19:33] pmatos commented on #384
Actually the pip version fails to `discover` but using code straight from `master` works fine.

Off topic but is there a mailing list for this?

[2016-04-27 19:37] pmatos opened #394 "party_mode doesn't work"
So, `party_mode()` doesn't actually do party mode.

For example:
A group of three speakers:
[code]

Then we try `party_mode()` and I expected all to stay the same since I currently only have 3 speakers in the network but:
[code]
I can however unjoin and try `party_mode()` but:
[code]

Party mode now only joins me to one other speaker. Not all of them. How can I achieve real party mode? How can I m

[2016-05-02 20:33] #386 closed

[2016-05-02 20:38] KennethNielsen commented on #332
Fix bug where SoCo would raise exception if music services sent metadata with invalid XML characters (PR #392, Issue #386)

[2016-05-05 10:10] KennethNielsen commented on #384
@pmatos We have a google group: https://groups.google.com/forum/#!forum/python-soco

[2016-05-05 10:13] KennethNielsen commented on #384
@kberg If @robwebset code doesn't work for you, then I think we need to consider that this might be a different issue. But could we wait until the discussion around the more aggressive discover methods have settled (#289, #292) and the changes merged and then dive into your problem?

[2016-05-05 15:42] bosim commented on #380
I get this error even when my queue does not hold elements from Spotify. Hope this error will be fixed soon, the event system is pretty useless without a fix.

[2016-05-08 16:48] bosim commented on #378
Anybody have an idea when we will see a fix *upstream*?

[2016-05-11 15:13] lawrenceakka commented on #332
Better discovery (PR #395): SoCo tries harder to find devices on the local network, particularly where there are multiple network interfaces. The default discovery timeout is also increased to 5 seconds

[2016-05-11 15:28] lawrenceakka commented on #324
Raspbian/Jessie comes with Python 2.7 and 3.4

More and more packages are dropping 3.2, e.g. pep8 and Mock 2 (though the latter still supports Python 2.6). I can see no reason to continue supporting 3.2 in SoCo (and would lie to upgrade to Mock 2), so I will officially drop it unless anyone complains shortly!

[2016-05-11 15:55] #364 closed

[2016-05-11 16:00] lawrenceakka commented on #384
The changes have now been merged (see #395). @kberg - can you try with this code? If you still have problems, let us know, otherwise we will close this issue shortly.

[2016-05-11 16:00] #379 closed

[2016-05-11 17:50] KennethNielsen commented on #324
Yeah, sorry about not getting back sooner. Regarding Python versions in raspbian, what @lawrenceakka said.

@lawrenceakka I agree, there have been no objections for a good long while,  so I think we are about ready to drop it.

[2016-05-12 06:46] zeppomedio opened #396 "Google Play Music request fails with 'Invalid credentials in request'"
When trying to query through the MusicService class, I'm hitting this when issuing a request:

`MusicServiceException: ('Invalid credentials in request.', 'soap:Client')`

Other, non-authenticated calls to the Play Music backend work, for example `._get_search_prefix_map()`. But calls like `search` and `get_last_update` and `get_metadata` all fail with that error. Looking inside the MusicService o

[2016-05-14 10:25] lawrenceakka commented on #396
@zeppomedio

1) What query are you trying?

2) Does this work:
[code]

I am aware of some problems currently with passing some of the auth credentials to google, which I am trying to fix

[2016-05-16 17:43] zeppomedio commented on #396
thanks for the response @lawrenceakka.

I've narrowed it down to two cases; if the User-Agent is:
```"Linux UPnP/1.0 Sonos/32.10-28251-DaftPunk (MDCR_x86_64_MacBookPro12,1)"```
then I get:
```MusicServiceException: ('Unable to authorize Google Play Music. Please contact Sonos Customer Care.', 'soap:Client')```

If I use:
```"'Linux UPnP/1.0 Sonos/32.10-28251-DaftPunk (MDCR_x86_64_MacBookPro12,1)'"

[2016-05-16 18:56] zeppomedio commented on #396
And one more detail...if I change the user agent to ```"Linux UPnP/1.0 Sonos/26.10-28251-DaftPunk (ZP120)"``` (downgrading the version to 26) the ```getMetadata``` calls now work! So something must have changed in the protocol above that version?

[2016-05-16 19:03] lawrenceakka commented on #396
Google Play is quite sensitive about the UA string - I have come across this before. I'm not sure why the default would not work, which is set in music_services.py to be '"Linux UPnP/1.0 Sonos/99 (ZPS3)"' (again, note the quotes).

And you should not need to set oa_device_id manually - it is all done for you.

This should "just work" (and give you some debugging info)!:
[code]

However, I can see

[2016-05-16 19:51] zeppomedio commented on #396
thx @lawrenceakka.

With the inner quotes, I don't think it's getting parsed at all on Google's end; try doing '"test"' as the user-agent and the search and get last update calls still work. Without the inner quotes, it does parse the string on their end, you can see because if you set it to 26. it'll work, but 27. or higher will break.

[2016-05-17 08:45] lawrenceakka commented on #396
I agree, the firmware version number has to be 26 to get `get_metadata` to work, and the extra quotes need to be removed.

Even then, `get_media_uri` does not work. I am not too worried about that, however, since there is never any real need to call that method directly – it is designed to be called by the players only, not the controller (see the comments in the SoCo source code for `get_media_ur

[2016-05-17 15:07] zeppomedio commented on #396
@lawrenceakka agreed, no need for the get media URI call to go through. Using the above I'm able to navigate my library and play all my Google Play content--thanks for the help. Sonos 26 is a somewhat old version so hopefully the integration doesn't break too soon, but I'll close this out in the meantime.

[2016-05-23 08:20] leanto opened #397 "set returned by `discover()` can mutate"
Recently, my program failed with the following error:

[code]

This appears to have happened because `soco.discovery.discover()` does not return a static set, but rather [returns a reference to a set managed by a zone object](https://github.com/SoCo/SoCo/blob/22e787dad105ddb2814dfd4cd1d4d76e2349dc4a/soco/discovery.py#L177). This means that when the zone changes, the set's contents can change as we

[2016-05-24 17:04] relevitt commented on #385
Hi again, nlagaros. On a different topic ... have you had any success with sonos favorites (adding, managing, querying, playing)?

[2016-05-25 15:04] Dark5ide opened #398 "Question : How can easily play a song from Google Play Music"
Hi folks,

I recently installed the SoCo repo and tried some python command to understand how SoCo works. But I did not succeed to play a song from my Google Play Music account (already paired with my Sonos).

My goal is to use SoCo in an open-source project called Mycroft ([Website](https://mycroft.ai//), [GitHub](https://github.com/MycroftAI/mycroft-core)). I'd like to implement a plugin (called

[2016-05-26 22:31] Dark5ide commented on #398
Here is some errors I got :

`>>> play = MusicService('Google Play Music')`
`>>> print(play.available_search_categories)`
`dict_keys(['albums', 'tracks', 'stations', 'podcasts', 'artists'])`
`>>> result = play.search(category='artists', term='miles')`
`Traceback (most recent call last):`
`  File "<stdin>", line 1, in <module>`
`  File "/home/martinus/Bureau/SoCo-master/soco/music_services/music_se

[2016-05-27 19:17] tagdara opened #399 "Apple Music using #AlbumView causes crashes"
Apple Music has a number of issues with Sonos, and this one seems to also affect the Windows Desktop Controller.

When you Queue up an entire album, Soco fails on the first track change with an unknown UPNP type of object.container.album.musicAlbum.#AlbumView

Since I convert everything down to regular dicts in my app, it's very frustrating every time a new service is added which does something ne

[2016-05-28 18:29] tagdara commented on #399
After looking at this deeper and reading about the Deezer issues in #388, it looks like the use of .#subclass is a thing, whether it's official or not.  While I originally hit this with #AlbumView, now I've seen a few others like #SongTitleWithArtist.  All of these seem to work fine when they're pointed to their parent class.

So in order to hopefully fix this in a more extensive fashion I made th

[2016-05-30 09:17] moochtm opened #400 "music_services module not installing (0.11.1)"
In version 0.11.1, the music_services module is not installing.

I think it's just because setup.py doesn't have soco.music_services listed in PACKAGES, but I'm not sure if this is intentional or not.

Best,
Matt

[2016-05-30 09:37] lawrenceakka commented on #400
Oops. Thanks - now fixed.

[2016-05-30 09:38] #324 closed

[2016-05-30 10:43] marcelser commented on #384
Having the same problem here. I'm not familiar with python but had soco 0.11.1 install through pip working perfectly. All of a sudden discover stopped working returning 'None' although I did not change soco version (maybe new python version?). I only have one network interface but I though let's try github version and tried to install latest version by cloning github repo locally and running pytho

[2016-05-30 10:47] lawrenceakka commented on #384
@marcelser discover definitely does accept an `interface_addr` parameter - it's there in the code!  What exactly are you doing, and what error message are you getting?  If you post the code you are trying, we can help.

[2016-05-30 10:57] marcelser commented on #384
The code starts like this and always worked (but now returns 'None' for speakers)
`#!/usr/bin/python

verbose = 1

from pprint import pprint
import soco
import sys

if len(sys.argv) == 2:
        if sys.argv[1] == '--silent':
                verbose = 0
        else:
                print ("illegal, argument, only valid argument is --silent")
                sys.exit(2)
elif len(sys.argv) > 2:

[2016-05-30 11:13] lawrenceakka commented on #384
OK - I can see a bug [here](https://github.com/SoCo/SoCo/blob/master/soco/discovery.py#L99). Can you edit the file at /usr/lib64/python3.4/site-packages/soco-0.11.1-py3.4.egg/soco/discovery.py so that line 99 says

[code]

instead of

[code]

Does that help?

[2016-05-30 12:33] moochtm commented on #400
Thanks - fixed for me using pip to install from newly downloaded ZIP.

[2016-05-30 12:33] #400 closed

[2016-05-30 13:15] marcelser commented on #384
Well,

thanks for your help. But now it breaks here:
scanning for devices
Traceback (most recent call last):
   File "./sonos_maintain_group.py", line 21, in <module>
     speakers = soco.discover(timeout=5, interface_addr="192.168.10.50")
   File
"/usr/lib64/python3.4/site-packages/soco-0.11.1-py3.4.egg/soco/discovery.py",
line 120, in discover
UnboundLocalError: local variable 'addresses' refere

[2016-05-30 13:27] marcelser commented on #384
Hi Lawrence,

I fixed it. Although I'm not a python programmer I've been perl
programming for +10 years. So I tried to read the code and it was just
an indentation problem.

The _LOG.info statement must be indented, because addresses is only
initialized in the else block. But the _LOG statement is outside the if
block and if we pass in interface_addr it fails. The problem is:

I still get 'None' a

[2016-05-30 14:59] moochtm opened #401 "Spotify Metadata API now end-of-life (0.11.1)"
The Spotify Metadata API has gone end-of-life, breaking the lookups in the current plugins.spotify module.

Here's the API URL currently used that's been deprecated by Spotify (line 190, plugins.spotify.py):

`api_lookup_url = 'http://ws.spotify.com/lookup/1/.json'`

...and here's a webpage from Spotify on migrating to the new API... https://developer.spotify.com/web-api/migration-guide/

I'm goin

[2016-05-30 18:49] moochtm commented on #401
Well I think I've made some progress, but I'm now hitting an error that I assume must have been lurking in there already:

Any tips would be much appreciated!

Best,
Matt

[2016-05-30 23:10] moochtm commented on #401
I see the problem I described in my second comment is the same as already reported in #381. Resolving the original problem can be done purely in plugins.spotify.py, the subsequent problem seems a lot harder to fix.

Here are two gists that provide a workaround in the meantime:

add a track: https://gist.github.com/lawrenceakka/2d21dca590b4fa7e3af2
add an album: https://gist.github.com/lawrenceakka

[2016-05-31 18:08] lawrenceakka commented on #401
@moochtm

I have done a little more investigation about this today. My gist at https://gist.github.com/lawrenceakka/2d21dca590b4fa7e3af2 is now updated to show how to add any track or album from any of the music services (not just Spotify) to the queue, given its id.

I am not very surprised that you have received errors when trying to use the Spotify plugin. I don't think we have looked at it for

[2016-05-31 18:25] lawrenceakka commented on #398
Hi @Dark5ide

Sorry for the delay.

You seem to be using SoCo correctly, but there have been some recent changes to the music services code. Google Play in particular can be quite fussy, so it may be that you are getting some sort of authentication error. I am currently working on code to make this ore robust.

In the meantime, what version of SoCo are you using?  Have to tried installing the deve

[2016-05-31 18:37] lawrenceakka commented on #384
@marcelser I have committed a fix for the indentation problem (thanks for tracking that down) and the bug I spotted.

I am not sure why discovery was not working after May 11. Is your script long-running (i.e. did you start it before 11 May, and leave it running). Have you changed your Sonos network at all since then (adding/removing devices etc)?

Lawrence

[2016-05-31 21:34] Dark5ide commented on #398
Thanks @lawrenceakka for your response.

I had cloned the SoCo repo. I just do the update from the last commits. I have not yet tested the new code.

I run SoCo in a vertualenv and I used some `pip install` to install the dependencies.

If you want, I can help you and make some tests for Google Play Music and Spotify account.

[2016-05-31 22:14] Dark5ide commented on #398
I have some weird error. It seems not to find my services :

[code]

[2016-06-01 00:27] marcelser commented on #384
Thanks for committing the fixes.

The Script is not long running. It's running once every night as cronjob and creates/checks a group of 3 Sonos speakers to make sure when the alarm goes off (where you can choose to also play it on grouped devices)  the grouped speakers are always the same ones. So any changes to groups that were made during the day are reset to the defined set.

As it runs as cro

[2016-06-01 07:01] ghcs27 opened #402 "Get sonos favourites"
I like this project especially because it allows you to use almost every feature of Sonos.
Recently I realized that accessing the sonos favourites is not yet possible with SoCo and found [this](https://groups.google.com/forum/#!topic/python-soco/TILyrsXghbg) workaround on Google Groups.

Integrating this functionality into SoCo shouldn't be a big deal:
- In the music_library.py, the SEARCH_TRANSLA

[2016-06-01 07:56] DPH commented on #402
Makes sense to me. I experimented  with the in the past, but never created a pull request.
Look forward to having this functionality.

Cheers Daivd

[2016-06-02 06:15] marcelser commented on #384
Guess what,

The error is back. It only worked for a very short time

Best regards,

Marc

On 31.05.2016 20:37, Lawrence Akka wrote:

[2016-06-02 08:15] lawrenceakka commented on #384
@marcelser I is difficult for me to debug because I cannot reproduce the problem here, but I think I have an idea.  Please can you try the following, and post the output:

[code]

[2016-06-02 08:29] lawrenceakka commented on #332
Drop support for Python 3.2 (Issue #324)

[2016-06-02 08:35] lawrenceakka commented on #402
@ghcs27 There is already a pull request for this at https://github.com/SoCo/SoCo/pull/383 Is that the same thing? If it is, do you think it is complete?

Lawrence

[2016-06-02 13:11] marcelser commented on #384
@lawrenceakka

Interesting. Did work on the first try. Here's the output:
INFO:soco.discovery:Sending discovery packets on default interface and ['127.0.0.1', '192.168.10.50']
INFO:soco.services:Sending GetZoneGroupState None to 192.168.10.152
INFO:soco.services:Received status 200 from 192.168.10.152
{SoCo("192.168.10.114"), SoCo("192.168.10.226"), SoCo("192.168.10.152"), SoCo("192.168.10.251"),

[2016-06-02 14:09] lawrenceakka commented on #384
Its the log from a time when it doesn't work that I need!!  There is no cache involved here - I suspect that it is something to do with your network config.

[2016-06-02 14:11] ghcs27 commented on #402
Sadly, there's a catch: Sonos favorites have their own DIDL class (object.itemobject.item.sonos_favorite) for which there is no corresponding data structure / soco class.
So when from_didl_string() encounters a sonos favorite and wants to determine its class by looking up 'object.itemobject.item.sonos_favorite' in the _DIDL_CLASS_TO_CLASS dict, there's an error.
Apparently a new data structure has

[2016-06-02 14:13] marcelser commented on #384
I see. I included the stuff in my script that runs daily. When it breaks next time I will post the log output

[2016-06-02 14:17] ghcs27 commented on #402
Sadly, there's a catch: Sonos favorites have their own DIDL class (object.itemobject.item.sonos_favorite) for which there is no corresponding data structure / soco class.
So when from_didl_string() encounters a sonos favorite and wants to determine its class by looking up 'object.itemobject.item.sonos_favorite' in the _DIDL_CLASS_TO_CLASS dict, there's an error.
Apparently a new data structure has

[2016-06-02 14:20] ghcs27 commented on #402
@lawrenceakka Oops, didn't see your comment. It is indeed the same thing, so I'll have a look at it.

[2016-06-02 16:22] ghcs27 commented on #402
#383 seems to work properly. Some things that I noticed:
- SoCo.get_sonos_favorites() returns a dict, just as SoCo.get_favorite_radio_stations() and
  ...radio_shows() already do. This is opposed to the SoCo.music_library.get_... methods returning a
  SearchResult instance. I would consider this inconsistent. What do you think?
- get_sonos_playlists() is not mentioned in the Methods section of the

[2016-06-02 16:42] lawrenceakka commented on #398
Hi @Dark5ide

I have fixed the "No account found" problem - please update from github.

Are you still having other problems?

[2016-06-02 17:48] #396 closed

[2016-06-03 11:33] relevitt opened #403 "Add a sonos playlist to sonos favorites"
The following gist handles the above ... https://gist.github.com/relevitt/967fe48a0fda04c96f296c879b3a24a8

This should probably be a pull request or something, but I'm not sufficiently proficient at that.

I'll be working slowly through adding other types of thing to sonos favorites.

[2016-06-03 12:40] ghcs27 commented on #127
In the core.py, the methods for getting favorites and managing playlists aren't really functionalities of the player, but rather of the whole sonos system.
I would suggest refactoring them to their own module.

[2016-06-03 13:04] ghcs27 commented on #403
I really like the idea of being able to manage sonos favorites through SoCo.
But it might be confusing to have separate methods for adding different types to sonos favorites, so it would be great if you could make a combined method for adding any DidlObject to the favorites.

[2016-06-03 16:01] Dark5ide commented on #398
Hi @lawrenceakka

I just updated and tested. Here is what I have :

[code]

It seems I have the same probleme as before.

[2016-06-03 16:48] pixelecho opened #404 "how to ungroup/unjon all Zones"
Hey

how is it possible to unjoin/ungroup all Zones. I mean the opposite of party_mode(). when i iterate over all zones and say unjoin() afterwards when i try to play in one zone sometimes i get the error that

`The method or property "play_from_queue" can only be called/used on the coordinator in a group`

[2016-06-07 12:56] KennethNielsen commented on #401
Given that the new music services code seems to work al right with Spotify, I think we should make a hard deprecation of the old module now. By hard deprecation I mean to substitute all code in the module with raising an exception that explains how to migrate to the new code and that the Spotify specific code plugin will be removed completely in 2 releases. What do you think @lawrenceakka @moochtm

[2016-06-07 22:10] DPH commented on #401
Fully agree

[2016-06-09 07:36] benlm54 commented on #398
Not sure if I should open a new issue or not, but I am also having trouble with music services. I am unable to play any URI from a music service (at least not from TuneIn or Slacker). Here is basically what I'm doing and the error I get:

slacker = MusicService('Slacker')
slacker.get_metadata(id)  #I'll do this to browse through music collections until I find a station where canPlay=True
uri = sla

[2016-06-09 08:00] benlm54 commented on #398
FWIW I also tried the method described [here](https://gist.github.com/lawrenceakka/2d21dca590b4fa7e3af2)

Resulted in the following error:Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "<stdin>", line 12, in add_from_service
  File "/Users/bmeakin/py34_env/lib/python3.4/site-packages/soco-0.11.1-py3.4.egg/soco/core.py", line 101, in inner_function
  File "/Users/bm

[2016-06-09 08:05] relevitt commented on #403
The following gist handles spotify playlists ...

https://gist.github.com/relevitt/976234b221719706b1abd564e86f2f70

[2016-06-09 08:47] lawrenceakka commented on #398
@benlm54 Please can you open a separate issue for this, and please can you post some code which generates the error using TuneIn? I do not have access to Slacker to test.  Thanks

[2016-06-09 09:11] lawrenceakka commented on #325
This commit from October 2015 updates Kodi to use Python 2.7, a mere three years after EOL for Python 2.6 😉: https://github.com/xbmc/xbmc/commit/c1adca4c79727f2d0683a7f8144e1af722649f3f

It did not make it into Kodi 16 (released Feb 2016) so presumably will make it into Kodi 17 when it eventually comes out. No sign of Python 3 yet, though!

[2016-06-09 09:17] lawrenceakka commented on #325
See also here: https://github.com/xbmc/xbmc/pull/8207 and here: http://forum.kodi.tv/showthread.php?tid=250936

[2016-06-09 17:35] robwebset commented on #325
Hi @lawrenceakka

Yes, it's slow, but some progress.  Can I suggest we keep SoCo supporting 2.6 until the release **after** Kodi goes to python 2.7?
i.e. If it goes into Kodi v17 - then the Soco release after v18 is released has 2.6 support removed? (That way it will be safe enough that Kodi will not back the change out!)

Thanks, Rob

[2016-06-10 02:53] benlm54 opened #405 "Playing/Queuing music_service items results in UPNP errors"
I can't for the life of me figure out how to play items I find in music services. I have tried TuneIn, Slacker, and iHeartRadio.

Here are two scripts that demonstrate different approaches I have taken and both result in different UPNP errors.

Am I doing it wrong, or is it even possible to play or queue-up music service items using soco?

[tunein_test1.py.txt](https://github.com/SoCo/SoCo/files/3

[2016-06-10 09:27] lawrenceakka commented on #405
1) You can't add a radio station to the queue, so add_to_queue will never work

2) play_uri is closer, but is really designed to play arbitrary streaming uris, not music service items

3) There is currently no easy function to play a stream from a music service (as opposed to a track or album). Generating a streaming uri using some modification of sonos_uri_from_id might do it, but you'd have to d

[2016-06-10 10:13] lawrenceakka commented on #405
OK, this seems to work (at least with TuneIn). Let me know if it works with the others:

[code]

[2016-06-10 15:23] benlm54 commented on #405
Thanks! I'll do some testing with different streams and services using this method and report results back here.

[2016-06-11 00:39] benlm54 commented on #405
I tested this approach with Slacker radio. It did not work, but after capturing some packets with Wireshark I was able to get the right URI. Here is a script that plays a Slacker radio item.

[slacker_test.py.txt](https://github.com/SoCo/SoCo/files/310015/slacker_test.py.txt)

[2016-06-11 11:23] KennethNielsen commented on #325
\o/ \o/ \o/

[2016-06-11 13:25] robwebset commented on #325
I've got no issue with "Wait and See" :) maybe wait until at least 17.1 is released before we take the decision>

[2016-06-12 18:11] stefankoegl commented on #401
+1

Is this also the reason why the test ``test_sonos_uri_from_id`` is currently failing?

[2016-06-12 20:57] lawrenceakka commented on #401
Yes, I agree (and have fixed the failing test, which was my fault (as usual))

[2016-06-15 05:45] KennethNielsen commented on #325
Sounds reasonable

[2016-06-22 21:20] KennethNielsen opened #408 "Working on data structures for the music services"
This is just a heads up, to avoid double work. I am working on a suggestion for data structures for the music services and have made some decent progress on it.

[2016-06-25 18:31] stefankoegl commented on #408
Awesome, looking forward to it!

[2016-07-06 18:03] KennethNielsen commented on #408
Added the first track and album \o/ (thanks to all the ground work by @lawrenceakka) now polish and then a round of feedback.

[2016-07-07 18:27] codedwrench opened #410 "Unknown UPnP class"
When subscribed to avTransport and you play a mix from deezer, you get this exception:
soco.exceptions.DIDLMetadataError: Unknown UPnP class: object.item.audioItem.audioBroadcast.#DEFAULT

this is the full error:

nvm I saw the same issue here: https://github.com/SoCo/SoCo/issues/388

[2016-07-07 18:29] #410 closed

[2016-07-09 13:14] Nick-Lucas opened #411 "Did the Sonos API change?"
I've been trying to get SoCo (and then [ruby sonos](https://github.com/gotwalt/sonos)) working, but whenever I pass a Spotify URI to queue/play I'm just getting back Soap errors.

This applies to MusicService.search:
`results = Spotify.search('tracks', 'watercolour')` - Soap error

...and Zone.add_to_queue when I use [Spotipy](https://github.com/plamere/spotipy) to get the URI and then convert it

[2016-07-12 12:13] Nick-Lucas commented on #411
@lawrenceakka @KennethNielsen
Would anyone be able to shed some light on this, please?

[2016-07-15 08:15] KennethNielsen commented on #411
Hallo @Nick-Lucas

I think I'll need a little more information. Are you using the new services code for the spotify object? In general, add_to_queue does not accept just a uri, it needs a queueable item, which is an object that has a certain set of properties. You can see an example of this when using the functions for the local music library (soco.music_library.get_tracks) that it returns Didl ob

[2016-07-15 08:49] Nick-Lucas commented on #411
Hi Kenneth,

Thanks for this and the code example, I will have play tonight. I'll at very least drop my working code back here for future reference.

I did have to update my SoCo to the master branch as the latest release doesn't contain .music_services so if there's a specific most stable commit you can recommend I'll move to it.

[2016-07-15 10:50] KennethNielsen commented on #411
No, as I said. The music services code is pretty new. We used to have (well technically still do) a dedicated Spotify plugin, but it is as of very recently useless because Spotify obsoleted the API that it used.

Current master commit should be fine.

[2016-07-15 18:19] Nick-Lucas commented on #411
This worked great, thank you so much!

I still had some issues with Spotify.search, but it was an authentication error so probably my fault.
Spotipy is ultimately a more flexible API for search so I will probably continue to use it anyway.

Again I'd be happy to contribute back documentation at the very least so I'll keep up with the project, although probably when I'm a better Python coder!

Quic

[2016-07-15 18:19] #411 closed

[2016-07-17 13:30] KennethNielsen commented on #408
There is now a RFC PR in #412

[2016-07-18 18:03] KennethNielsen commented on #410
Hallo @codedwrench

Thanks for the bug report.

Yes, this is a known issue. After working on something else, I'll look into the fix mentioned.

Regards Kenneth