[2021-05-04 16:04] pwt commented on #822
Hi @bdraco : Do you feel like taking a look at this one?

[2021-05-04 17:24] bdraco commented on #822
I wasn't able to replicate with pysonos, but there have been some downstream fixes so I'll try directly soon.

I'll open PRs to get the fixes into SoCo later today and then retest directly.

[2021-05-04 20:40] bdraco commented on #822
Fix for the session race is here https://github.com/SoCo/SoCo/pull/823. black version seems to have changed and its failing on existing files

Working on replication now

[2021-05-04 21:09] bdraco commented on #822
@cyrilwanner Can you give https://github.com/SoCo/SoCo/pull/824 a shot?

[2021-05-05 08:15] pwt commented on #822
As noted in the PR, #825 has the changes to keep Black happy.

[2021-05-05 08:41] cyrilwanner commented on #822
I can confirm that #824 fixes this bug, both for the manual renewal, but also for `auto_renew=True` which had the same error.
Thank you so much for resolving this issue so fast!

[2021-05-05 08:44] pwt commented on #822
Great -- thanks for the quick confirmation. Once I have a final PR, I'll cut a v0.22.2 release containing the fix.

[2021-05-05 14:02] bdraco commented on #822
Rebased, good to go now 👍

[2021-05-05 14:05] #822 closed

[2021-05-05 14:35] pwt commented on #822
Fixed in **[v0.22.2](https://github.com/SoCo/SoCo/releases/tag/v0.22.2)**.

[2021-05-14 03:50] amaten69 opened #826 "Add EndDirectControlSession to AVTransport class"
Add EndDirectControlSession to avtransport class. Its a good method to clear all sessions on sonos.

(this https://github.com/amaten69/SoCo/tree/iss826)

[2021-05-14 08:30] pwt commented on #826
Hi @amaten69:

1. Could you provide an example of the circumstances under which this would be used?
2. Could you create a pull request with your changes?

Thanks.

[2021-05-14 14:08] amaten69 commented on #826
The circumstances when to use this is when you start a music stream from a music service through a third party (for me its alexa). It doesn't create a queue, instead it creates a session via there content service. For me if I left the session open by simply stoping or pausing the music things acted very buggy. Its essentially the "end session" button in the sonos app.

Below is a little snipet of

[2021-05-15 16:55] ItsEcholot opened #828 "discover() fails when sonos device gets unplugged"
Discover fails with the following traceback when a previously discovered sonos device gets unplugged:

[code]

It might have something to do with the following comment I found in the source:
[code]

Is it possible that soco fails with the discovery because it trusts the other Sonos device (which is still plugged in) and which provides outdated topology data?

[2021-05-15 18:30] pwt commented on #828
Probably correct. It takes a Sonos system some time to stabilise when a player is switched off, since it's not really designed to have players coming and going.

I'll take a look at catching the exception in the discovery code and proceeding.

(I was going to suggest using `scan_network()` as a fallback discovery mechanism, but I suspect it's vulnerable to the same limitation.)

[2021-05-16 12:54] danieledge commented on #461
Does this capability work ? Looking to be able to remove and reinstate surrounds

[2021-05-16 13:00] pwt commented on #461
Not at the moment. There's a couple of PRs targeting this feature (#646 and #780), but neither is complete.

[2021-05-16 16:14] rytilahti commented on #461
The first PR adds controls only for the "Music Playback" option seen at https://support.sonos.com/s/article/4804?language=en_US . The latter PR extends to cover all other options (besides reset) listed on that page, including toggling surround on/off like you can do in the app.

Neither do allow real grouping/ungrouping of devices, the payloads I posted above could be used to do that.

[2021-05-18 08:21] #801 closed

[2021-05-18 09:06] pwt commented on #727
This functionality is not exposed in the S2 desktop app, and I don't have a way of WireShark tracing the interactions between mobile controllers and the Sonos players.

Any suggestions for how to do this ... or better still , does anyone have the traces available?

[2021-05-18 11:42] pwt commented on #828
Just to note that I did some testing with a Sonos Move, flipping it to bluetooth mode and immediately calling `discover()`. This does not provoke the exception; perhaps the Move signs off the Sonos network before it switches to BT.

[2021-05-18 12:58] pwt commented on #828
Hi @ItsEcholot: Looking at the stack trace more closely, the exception is raised not in SoCo `discover()`, but in the lookup of the `player_name` property in your code:

[code]

SoCo's `discover()` function is correctly returning the speakers the Sonos system thinks are present, which includes the speaker that's been turned off as far as Sonos is concerned. I don't think there's much that SoCo can

[2021-05-18 14:22] ItsEcholot commented on #828
You're absolutely right about this, I missed this while investigating it.

I now understand the technological reasoning behind this but I just think this isn't what most users (including me) are expecting. When I receive a SoCo instance from the discovery process I of course assume that this instance has already been successfully contacted (how else would it have been discovered? I now know how bu

[2021-05-18 16:13] pwt commented on #828
Yes, you're probably right about this.

Same here ... not sure about that, but it's plausible.

Adding a note to the documentation seems prudent. I'll take a look at that.

The problem with checking for contact-ability at the point of discovery is that a speaker may only be offline briefly (e.g., off the network temporarily, or being rebooted). Conversely, a speaker's connectivity state can change

[2021-05-18 16:40] ItsEcholot commented on #828
I think you're right this would probably be the best solution all things considered. This way the people using the library could decide on their own how often and when they want to check if their instances are contactable 👍

[2021-05-18 16:47] pwt commented on #828
Sounds good. I should also note that there's probably a way of subscribing to topology change events, but it's not something I've tried.

Docs note is at: https://github.com/SoCo/SoCo/commit/5f4d872e5b4d89796cadec33dd4cd18ef1457641

[2021-05-19 09:42] pwt commented on #828
@ItsEcholot If you have time to review it, the new `contactable()` function PR is #834.

[2021-05-19 13:46] #826 closed

[2021-05-29 11:25] pwt opened #840 "`SoCo.add_item_to_sonos_playlist()` results in blank metadata for Artist, Album and Track"
I've been adding an 'add current track to Sonos playlist' action in SoCo-CLI. Using the `SoCo.add_item_to_sonos_playlist()`method does work, but the added playlist entries end up without displayed data for Album, Artist and Track.

So far, I've only tested against an S1 system, with tracks from Spotify and Plex.

I captured what's being sent in the `EnqueuedURIMetadata` field in the case of the S1

[2021-06-06 14:50] jcplu commented on #703
It's working between two S2 players, but not between one S2 player and one S1 player.
Is it possible to use join()/unjoin() between S1/S2 players ?

[2021-06-06 14:55] pwt commented on #703
This isn't possible -- Sonos treats the S1 and S2 systems as entirely separate.

[2021-06-06 14:57] #703 closed

[2021-06-13 16:43] acatoire commented on #762
Hi, I am also interested in a simple way to queue knew spotify playlist/album/track by id
@amelchio your code was in 0.37 but is not present anymore in 0.51 has it been mooved?
Is there a new simple official way to play spotify elements?

My project actually use https://github.com/jishi/node-sonos-http-api where it is possible (without auth) to play any  spotify playlist/album/track with from its

[2021-06-13 18:42] amelchio commented on #762
Yeah, I have moved the code to a plugin and actually submitted it to SoCo in #838. I hope it will be in SoCo once v0.23 is released.

You should be able to reuse the plugin file from the PR in your own project with very few changes if you are in a hurry.

[2021-06-18 22:27] slzatz commented on #812
I do something similar for Amazon music:

1. I use the sonos app to put Amazon Music songs I am interested in having convenient access to in the sonos queue.
2. I have a python program that then takes the song IDs and puts them in a Solr database along with the artist, album, and song title
3. I access the Amazon Music songs via the command line through another python program so you can do things

[2021-07-16 12:32] pwt opened #847 "Spotify ShareLink plugin fails on Sonos S2 (UPnP 800)"
Using the new ShareLink plugin (#838) in SoCo v0.23.0, I find that it works for Spotify on Sonos S1 (11.2.9) but fails on Sonos S2 (13.1.4), returning a UPnP 800 error.

I'm in the UK, using a Spotify Premium subscription.

@amelchio : Any ideas? Happy to perform debugging suggestions.

[2021-07-16 13:01] pwt commented on #847
Update: it's now started working with S2 (at least in one context, while not in another). I'll continue to investigate.

[2021-07-16 13:47] amelchio commented on #847
I don't have much time right now but there is a similar issue with some information in home-assistant/core#52707.

I also discovered that `MusicService.get_data_for_name()` will end up calling `discovery.any_soco()`, that might cause issues as well(?)

[2021-07-16 13:51] pwt commented on #847
That's probably it.

I have a split S1/S2 system, so the results of calling `any_soco()` are non-deterministic in terms of to which system the returned speaker belongs. That would explain why I'm getting inconsistent results.

Thanks for your help.

[2021-07-16 14:37] amelchio commented on #847
That's interesting, do you have any idea why one of your systems fail?

[2021-07-16 17:47] pwt commented on #847
Right now, I don't understand what's going on. I'm looking into it.

However, it's certainly not as simple as "does not work on S2".

[2021-07-17 14:15] #847 closed

[2021-08-13 09:09] #790 closed

[2021-08-13 09:26] pwt commented on #619
I think this was fixed by #767. Please reopen if this is still an issue.

[2021-08-13 09:27] #619 closed

[2021-08-13 09:42] pwt commented on #762
Fixed by #838 in v0.23.

[2021-08-13 09:42] #762 closed

[2021-10-15 10:57] towo opened #864 "Multicast discovery not working when wireguard device present"
Cheers, ran into a rather weird issue just now. Starting `mkchromecast` as normal (both versions in AUR, doesn't matter):

[code]

So I'm guessing it's an issue with my network interface, as it's sitting on a bond interface and probably has some deeper issues trying to do multicast there. Since other apps (e.g. `noson`) appear to have no problem finding the SONOS device, I'm guessing it's somethin

[2021-10-18 08:49] towo commented on #864
This is entirely consistent with the device not offering multicast as per `iputils`:

[code]

[2021-10-18 10:58] pwt commented on #864
SoCo [v0.24.1](https://github.com/SoCo/SoCo/releases/tag/v0.24.1) is now released, which should address this issue. Please re-open if this is not the case.

[2021-10-18 10:58] #864 closed, assigned to pwt

[2021-12-09 01:42] catap opened #873 "pypi sources hasn't got `tests/data/data_structures_entry_integration`"
Sources which I've download from https://pypi.org/project/soco/ for version 0.25.0 hasn't got `tests/data/data_structures_entry_integration`. This leads to broken tests.

[2021-12-09 04:51] peterwallhead commented on #761
I'm hitting this same issue now with Spotify Connect. I've tried the the line 121 addition suggestion above, but it still disconnects Spotify and fails to reconnect on restore. Any more progress since this time last year please?

[2021-12-09 16:08] pwt commented on #873
Hi @catap:

I was surprised to find that **any** tests are shipped with the SoCo distribution! I'll investigate whether the `tests` directory really needs to be there ... I don't know what the general convention is for this.

I'd always expected that folks who want to run the tests would clone the repo and install the necessary dependencies.

[2021-12-09 16:11] pwt commented on #761
I'm not sure there is an acceptably clean solution to this use case.

[2021-12-09 16:36] catap commented on #873
@pwt it is a good practice to ship tests. For example it can be used for packet manager like macports to confirm that an application works well :)

[2021-12-09 16:43] pwt commented on #873
Thanks. Yes, I'm gathering that :) I've found the problem and I have a fix that I'll push up shortly. Note that this is a long-standing issue, not something new in 0.25.

[2021-12-09 16:52] #873 closed

[2021-12-09 16:56] pwt commented on #873
Since this issue has been around for a while without attracting complaint, I'm minded not to issue an immediate patch release. It'll get included in 0.25.1 or 0.26.0.

[2021-12-10 07:53] DPH commented on #761
Hi @peterwallhead, I think the only way you will resume Spotify Connect is if you use a lib that controls Spotify and that casts to Sonos. As said before if a queue is created outside of Sonos (Alexa, Spotify etc.) then Sonos has no knowledge of it and no ability to restart it. Please post any options you find as I think a lot of us are interested in making this work. Good luck, Cheers David

[2021-12-10 08:02] peterwallhead commented on #761
Ah, thanks @DPH! That's definitely helped my understanding of what's going on. I was focussing on controlling the Sonos device, but I now understand that I should be controlling Spotify instead in this instance.

Basically I'll just need to do the following, right?

- Snapshot the current Spotify Connect state (and then stop the music), all via Spotify
- Take control of the device using SoCo (and

[2021-12-10 08:53] DPH commented on #761
Sounds right to me. Will be great if you can get that combination working.
Happy to test things or help if you find some options.

Cheers David

On Fri, 10 Dec 2021 at 08:03, Peter Wallhead ***@***.***>
wrote:

[2021-12-12 22:59] peterwallhead opened #875 "Spotify Connect integration"
@pwt popping this here to keep the team updated. Feel free to delete if it's not the right place for it :)

Ref. #761

[2021-12-12 23:43] peterwallhead commented on #875
Hmm... This might be non-starter folks.

The Sonos devices are "restricted" devices according to the Spotify API.

- Calling ```https://api.spotify.com/v1/me/player/devices``` returns all my devices excluding the Sonos speaker.
- Calling ```https://api.spotify.com/v1/me/player``` returns:
[code]

- Using ```https://api.spotify.com/v1/me/player/pause``` on the Spotify Connect device casting to the

[2021-12-22 01:25] catap commented on #873
0.25.1 doesn't include the fix :)

[2021-12-22 08:14] pwt commented on #873
Could you check again?

v0.25.1 definitely includes https://github.com/SoCo/SoCo/commit/02700ff61733b8af8f32b2b152a6872383b114fa which implements the fix, and the [source distribution](https://files.pythonhosted.org/packages/c1/cb/138c31711301f34a0acf97801202b66bbcb01ea0bf97419c80e63474d403/soco-0.25.1.tar.gz) includes the relevant files.

[2021-12-22 13:25] catap commented on #873
@pwt my bad, I've tested it via macports, and by some reason I've checked 0.25.0, not 0.25.1.

[2021-12-22 13:26] pwt commented on #873
No problem. Thanks for confirming.

[2021-12-27 18:09] tangix opened #877 "Unknown audio input format: 84934718 (and 33554494)"
Seeing errors in Home Assistant about unknown format:
[code]
The Sonos app reports this from the Sonos Arc:
![image](https://user-images.githubusercontent.com/1013635/147496840-86b6cfc6-b183-4234-a831-c61795d68743.png)
And in Sonos Controller desktop:
[code]

[2021-12-27 19:02] jjlawren commented on #877
These have already been addressed by https://github.com/SoCo/SoCo/pull/871 and should be fixed in Home Assistant 2021.12.6 when it is released.

[2022-01-23 21:00] pwt commented on #557
Nascent reintroduction of music service support is included in SoCo v0.26.0, which incorporates PR #883.

[2022-01-23 21:31] amelchio commented on #812
The hack that I mentioned [above](https://github.com/SoCo/SoCo/issues/812#issuecomment-786702108) was eventually added to SoCo and it supports Apple Music since #886 (v0.26.0).

[2022-01-23 21:59] #812 closed

[2022-01-23 22:32] seamusdemora commented on #557
@KennethNielsen : Maybe we're talking past each other, but I *think* that my now-nearly 2-year-old-thought was this:
The RPi (& probably other SBCs) has all of the hardware needed to receive an audio stream via WiFi, Bluetooth or Ethernet (Bluetooth actually kinda' sux on RPi, but it's there), and [output an audio signal](https://www.raspberrypi.com/documentation/computers/configuration.html#audio

[2022-01-24 10:53] #877 closed

[2022-02-04 11:43] pwt opened #887 "Setting group volumes doesn't work correctly due to omission of SnapshotGroupVolume operation"
Using the `group.volume` property and the `set_relative_volume()` method in `groups.py` doesn't work correctly because a `SnapshotGroupVolume` operation is required before getting and setting the group volume. The omission of this operation leads to strange settings for the speaker volumes.

[2022-02-04 11:55] #887 closed

[2022-02-07 16:10] goldyfruit opened #890 "Unable to refresh token with Spotify and Amazon Music music services"
The main authentication with Spotify music service works well but when the token expires, SoCo is not able to refresh it.

With the code in PR #763 is was working as expected but since the merge of PR #883 the refresh doesn't work anymore.

In PR #763, we had this:
[code]

In PR #883 we have this:
[code]

If I cherry-pick the code from PR #763 I'm able to get a refresh token with SoCo 0.26.2.

[2022-02-07 16:14] goldyfruit opened #891 "Unable to authenticate to Tidal music service"
I'm trying to use Tidal with Sonos, my Tidal and Sonos accounts are both linked.

[code]

When I try via Postman to retrieve the DeviceLink I got this:
[code]

[2022-02-07 19:00] goldyfruit commented on #891
I tried with two different accounts just in case, same issue.

[2022-02-07 19:08] goldyfruit commented on #891
Maybe in the payload sent to Tidal, a token or a key is/are required.

[code]

[2022-02-07 19:27] jjlawren commented on #890
I'd suggest to try the namespace-specific search first, and use the current `findtext()` method as a backup if the results are empty. Should cover all cases we've seen so far.

[2022-02-08 19:45] jh83 commented on #875
Any updates on this? Just bought a Ikea Symfonisk and found out the hard way that "spotify connect" isn't always the same thing as "spotify connect".

If it isn't possible to solve this API issue on the Sonos devices, then I think that you should stop calling it "spotify connect".

[2022-02-10 19:33] goldyfruit commented on #891
#892

[2022-02-15 11:26] relevitt opened #898 "Bug - iteration error in events_twisted.py"
After upgrading to python 3.8, I got an iteration error in events_twisted.py. I've created a pull request #897 to fix this.

[2022-02-16 15:04] #890 closed

[2022-02-18 20:28] #891 closed

[2022-02-20 17:16] #461 closed

[2022-02-28 12:18] LionelCons opened #903 "Missing title in get_current_track_info"
When investigating a missing title in my audio software, I traced it back to some incorrect output from `get_current_track_info`.

In short, the following code:
[code]
gives:
[code]

The track title is present in the metadata but not in the dict.

I'm using the latest version from `pip`: 0.26.3.

[2022-02-28 14:46] jjlawren commented on #903
I'm investigating this in a downstream project now. It's likely a side-effect of #896 in regards to local music via CIFS/Samba file shares. You redacted the value, but the `uri` is very important here.

[2022-02-28 14:56] LionelCons commented on #903
Here is the `uri` in the dict, less redacted:
[code]

[2022-02-28 14:57] jjlawren commented on #903
Yep, that's the same issue I'm seeing elsewhere. Working on a fix.

[2022-03-01 16:26] jjlawren commented on #903
@LionelCons would you be willing to test #906 and provide feedback?

[2022-03-01 16:55] LionelCons commented on #903
I've tried with the new `core.py` and the title information is now back.

Thanks!

[2022-03-02 20:02] #903 closed

[2022-03-02 20:17] pwt commented on #903
Fix released in SoCo v0.26.4. Thanks for spotting this issue.

[2022-03-04 16:19] JessicaTegner opened #908 "Confusion about missing features from the Control API"
Hi there.
Amazing library first of all.
I was looking for a way to get tts notifications through my sonos products and many suggested this libraries, with various methods to do it.
I looked through the [Sonos Control API](https://developer.sonos.com/reference/control-api/) and saw they have something called AudioClip.
Which got me thinking. It seems like this library is missing oauth support, audi

[2022-03-04 17:03] jjlawren commented on #908
That specific API isn't necessary to use for TTS announcements. You can use this library to play back audio files generated from TTS services using the `SoCo.play_uri()`, for example. It also has support for creating snapshots of speaker groups & states so you can restore after playing the announcement.

As of now `SoCo` only works with the local UPnP API, not the cloud-based ones. If you're looki

[2022-03-04 17:20] NicklasTegner commented on #908
@jjlawren  nice. I rolled my own, since it didn't seem like the Sonos cloud apis was supported with SoCo.
I really feel like storing and restoring snapshots, are way too messy compared to the audioclip api, for instance..

So yeah. Was just wondering if the Sonos cloud api/ oauth would be supported here, or if I should start work on a cloud specific sonos library for python (that could complement

[2022-03-04 17:33] jjlawren commented on #908
Yep, that's why made the project I linked above. The user experience with `audioClip` is very nice for short alerts & notifications.

There is some oauth and cloud API support in `SoCo` today with the new music services overhaul. It's needed to create/maintain auth to each music provider (e.g., Spotify, Amazon, Apple, etc) and interact with each provider's music service API. However I think long-t

[2022-03-04 17:47] pwt commented on #908
It would be a good complement. Please drop us a pointer to it when you have something you'd like to share.

Right now the local UPnP API has much more functionality than the Sonos cloud API, it's much faster, and it doesn't require app auth. However, I'd expect the cloud API to improve over time.

[2022-03-04 18:29] NicklasTegner commented on #908
I will show it on here, when I've made something worth noting.
I'm marking this as resolved.
Thanks for the answers guys :)

[2022-03-17 00:25] NicklasTegner commented on #908
@pwt  and others interested.
I have started work on a complementary package here: https://github.com/nicklastegner/sonos-web-apis

Right now there's the oauth api working, next is the audio clip api.
I'm working towards an 1.0.0 milestone.

Preliminary documentation can be found on https://sonos-web-apis.readthedocs.io/en/latest/

[2022-05-12 05:24] maru-sama commented on #536
Closing this old issue now.

[2022-05-12 05:24] #536 closed

[2022-05-12 05:25] maru-sama commented on #552
Close issue.

[2022-05-12 05:25] #552 closed

[2022-06-07 05:33] emcniece commented on #761
This thread got locked, so I'll reference it from this end: https://github.com/home-assistant/core/issues/45050

Tl;dr: Home Assistant is also affected by this issue when restoring a snapshot taken while a Spotify stream was playing.

[2022-06-27 04:42] peterwallhead opened #918 "SoCo erroring on import"
- Raspberry Pi
- Python 3.9.2

[code]

My first thought is perhaps I've missed installing a new dependency?

Open to all suggestions please, as this has only just started happening as of today (27/06/2022).

Thank you!

[2022-06-27 04:49] peterwallhead commented on #918
Ok, a quick google search tells me that it **was** a missing dependency. Still odd that this has only just started happening though.

New/recent release of SoCo?

Running:
```sudo apt-get install libxslt-dev```
seems to have resolved this.

[2022-06-27 04:52] WillyChuck commented on #918
This might have sufficed?

sudo apt install python3-lxml

On Mon, 27 Jun 2022 at 14:49, Peter Wallhead ***@***.***>
wrote:

[2022-06-27 04:58] peterwallhead commented on #918
Perhaps @WillyChuck, happy to try it out on the next run. Thank you.

[2022-06-27 07:29] pwt commented on #918
Hi folks: `lxml` was introduced as a new requirement a week ago in [SoCo v0.28.0](https://github.com/SoCo/SoCo/releases/tag/v0.28.0). It's a binary requirement, and there's some discussion of that in the associated [PR](https://github.com/SoCo/SoCo/pull/913#issuecomment-1120164450).

When SoCo is installed or updated using `pip`, it should automatically install `lxml`, and there are pre-built bina

[2022-06-27 14:46] pwt commented on #918
When you install `lxml` just using `pip install lxml`, does it download a pre-built binary or does it perform the build locally?

[2022-06-27 23:38] peterwallhead commented on #918
See below for a plain ```pip install lxml```

[code]

[2022-06-28 08:21] pwt commented on #918
Thanks for testing. That's pulling down a pre-built binary wheel, as I'd expect.

Looking at the [`lxml` installation instructions](https://lxml.de/installation.html), there's also a dependency on the `libxml2` and `libxslt` system libraries, **if** the pre-built binary is dynamically linked.

The Windows binary is statically linked, so has no additional dependencies.

Based on the binary sizes, I

[2022-07-23 14:52] KennethNielsen commented on #918
@pwt Maybe we should trap the import error and give a better error message with installation instructions etc?

[2022-07-23 15:13] pwt commented on #918
Sounds like a good idea. Somehow I knew this was going to be trouble :)

[2022-07-23 15:40] KennethNielsen commented on #918
@pwt well, I think it was difficult to make sure but you did try. I'm actually wondering whether a revert or rewrite around lxml would be in order. It is a really strong selling point that installation is just `pip install` and you are done. We should get the author in on that discussion.

[2022-07-24 13:47] slzatz opened #919 "For music services - how get from album item_id/uri to individual tracks"
First of all, it is amazing to me that you have music services working such that you can search for a track on the service and queue it up and play it.  What I can't figure out and don't see examples of is searching a music service for an album and not an individual track and then being able to place the album (or its individual tracks) in the queue for playing.  So for example:

result =  ms.sear

[2022-07-24 14:21] jjlawren commented on #918
Honestly, as `lxml` is well-maintained and very commonly used in other XML-dependent libraries, I'd suggest to go further and continue migration over from `ElementTree`. That was [one of the thoughts](https://github.com/SoCo/SoCo/pull/913#issuecomment-1120752703) back in the original PR. The install issues can be improved and docs can be updated for the edge-cases where the install is not seamless

[2022-07-24 16:02] pwt commented on #918
In #920 I've added a descriptive error message in the event of an `lxml` `ImportError`, and a clean exit. Comments in the PR, please.

[2022-07-25 09:32] KennethNielsen commented on #918
@jjlawren I think we should move that discussion elsewhere. I will see about opening an issue for the discussion.

[2022-07-25 09:40] KennethNielsen opened #921 "Binary dependency installation problems"
This issue is a spin out from #918 in order to discuss the future of the lxml dependency in SoCo.

This issue raised awareness that since there weren't being generated python packages with binary dependencies for all platforms (see [this comment for details](https://github.com/SoCo/SoCo/issues/918#issuecomment-1168396448) that users make use of, using SoCo on those platforms will require installin

[2022-07-25 09:47] KennethNielsen commented on #921
@jjlawren this link in [this comment](https://github.com/SoCo/SoCo/issues/918#issuecomment-1193328073) is back to a comment by my [here](https://github.com/SoCo/SoCo/pull/913#issuecomment-1120752703). It is correct, as you mention, that I'd be in favor of moving away from ElementTree for the reasons mentioned, but I also voiced concerns over installation of binary dependencies and made my support

[2022-07-25 09:52] pwt commented on #918
I've merged #920. This improvement will appear in v0.28.1 (from the [v0.28 fixes](https://github.com/SoCo/SoCo/tree/v0.28.fixes) branch) at some point.

Now closing this issue in favour of #921.

[2022-07-25 09:52] #918 closed

[2022-07-25 10:20] pwt commented on #919
The test code at https://github.com/SoCo/SoCo/pull/763#issue-753004109 might provide some hints. You'll have to add the item to the queue, then play from the queue.

[2022-07-25 12:08] jjlawren commented on #921
The primary reason I leveraged `lxml` was for proper XSLT support. In my search for library support I did not find any pure Python implementations as all currently depend on `libxslt`. I'm open to other approaches, but I am not aware of any other viable options.

[2022-07-25 13:44] KennethNielsen commented on #921
@jjlawren do you know if lxml's ElementTree is otherwise API compatible with the standard lib ElementTree?

[2022-07-25 14:06] jjlawren commented on #921
It's intended to be mostly compatible, but I ran into some issues when trying to use it as a drop-in replacement. If I remember correctly, the namespace handling was a bit different (`lxml` didn't like prefix declarations with an empty string) but I haven't investigated thoroughly yet.

[2022-07-25 14:45] slzatz commented on #919
Thanks for pointing me to the test code -- I had thought I needed to write a custom add_to_queue but clearly not -- so searching on albums and then placing one of the returned items on the queue using add_to_queue in core.py works perfectly.  Really appreciate the work that was done to be able to use music services -- it makes this project incredibly useful.

[2022-07-25 14:45] #919 closed

[2022-07-31 16:05] MSSedusch opened #922 "Using multiple Spotify Accounts"
I am trying to build a small bot that my kids can use to play their Spotify music on our Sonos speakers. I managed to play Spotify albums using the soco library but Sonos randomly chooses which of our 4 Spotify accounts is used for playback.

Is it possible to specify which account is used for playback or can I somehow use the MusicService class to get a playable URL?
I used the MusicService class

[2022-08-26 12:24] KennethNielsen commented on #921
Ok, so I have to own up to the fact that my time to work on SoCo is limited and not slow everything down. So I'll just voice my opinion once, and then leave the decision here to the people that do the work.

The way I see it, what we loose by having a binary dependency is:
- It may not be covered on all platforms (which is the problem we had) which means that using SoCo on those platforms will req

[2022-09-06 13:45] bdraco commented on #921
It would be great if everything used `lxml` since the current xml library has significant memory churn overhead

From a 60s heapy profile:

[code]

[2022-09-07 06:44] KennethNielsen commented on #921
@bdraco do yo have an example of a real world performance problem originating from this?

[2022-09-07 11:11] bdraco commented on #921
Yes. I get the bulk of the memory use traces from Home Assistant users, and the xml parser memory churn is almost always at the top of the report when they have the Sonos integration enabled.

[2022-09-14 20:59] KennethNielsen commented on #921
@bdraco ok, but is that memory usage actually a problem WRT to the devices it runs on? I mean, I don't know what the units are on the trace above. If this difference of XML library use is the bulk of memory usages of all integrations, but the total memory use is still low compared to sys resources, then 🤷🏻

[2022-09-14 23:17] bdraco commented on #921
We switched everything we could in Home Assistant that was parsing XML to use lxml or a native code alternative, which reduced CPU run time by ~3-4x on average and memory churn. While SoCo isn't a problem when you look at it in isolation, it's the cumulative effect that tends to put things over the top and hit the limits of what the user's Home Assistant hardware instance can handle.

Since Sonos

[2022-09-15 07:39] KennethNielsen commented on #921
Hi @bdraco

Thanks for providing all the extra information. So, understand that I'm definitely not dismissing this as an argument, what I'm always just interested in when people are talking about any kind of optimizations are **real world** problem that the non-optimized system is causing, because it is not unheard of to run into people that wants to optimize something, just because. So, basically

[2022-09-15 09:06] bdraco commented on #921
The ~800k is the memory churn from an idle Sonos Roam & Sonos One for 60s. I don't think there is a leak (at least I didn't see one) and the concern is only the cost of allocating/parsing/deallocating.   When I get back home next week I'll turn on all 8 of them and set them up to play music + take a 120s snapshot as it will better represent what we see from users.

[2022-10-05 19:43] ScottOKirkpatrick opened #923 "discover() not working"
I use a script to backup my Sonos playlists nightly.  I haven't checked my backup report for a while but I noticed that the discover() function now always returns None.
    `print(list(soco.discover()))`
I know that SoCo can see my devices because
    `print(soco.SoCo('192.168.0.120').player_name)`
works fine.

[2022-10-05 20:00] pwt commented on #923
What version of SoCo are you using?

Discovery is pretty solid these days, provided the network/firewall are passing SSDP multicast packets correctly. Is it possible your network has changed in some way?

A couple of things you could try:

1. Use DEBUG logging to see what's going on during discovery
2. Use `soco.discovery.discover(allow_network_scan=True)`. This will fall back to scanning the netw

[2022-10-05 20:52] ScottOKirkpatrick commented on #923
v0.28.0

hmmm, soco.discovery.discover(allow_network_scan=True) does seem to work.  I think when I changed my Linux box from a desktop to a server install, ufw mucked up some of the ports.  Right now, it shows

[code]

However, I cannot seem to find the right settings for ufw to allow the SSDP multicast packets.  Nothing I've tried seems to work.

[2022-10-06 07:45] pwt commented on #923
If you haven't already done so, you could try:
[code]
However, I have a vague recollection that the multicast responses come back on a range of different ports, so the above may not work.

If it does work, you can then refine it to allow traffic from a more restricted range of addresses.

The network scanning approach is also a perfectly reasonable one. If you wish, you can opt to use that as the

[2022-10-06 14:11] pwt commented on #923
Thanks for clarifying that, @jjlawren -- very helpful.

[2022-10-06 14:11] #923 closed

[2022-10-15 20:40] bdraco commented on #921
Sorry this took so long.  I ended up having to travel more than expected.

With 8 devices its a bit more in a 60s period but its not as bad as I had expected it would be.  Then again I'm not using it for TTS or anything more complex than just playing music vs what some HA users will do.

[code]

[2022-10-15 20:52] bdraco commented on #921
That's still a lot more objects being created than I would have expected. I'm starting to think there might be a bug somewhere or there is something wrong with the sonos firmware and its sending way too many updates.  I'm out of time to test that though as I have be back on the road so I'll have to wait until next month when I get back home to dig in more.

[2022-10-22 13:36] imjamesf opened #928 "BBC sounds"
Can you load a radio station on BBC sounds?

[2022-10-22 14:42] pwt commented on #928
Yes.

First add the required station to your Sonos Favourites using a Sonos app, then:

1. Use `music_library.get_sonos_favorites(complete_result=True)` to get the list of favourites, followed by
2. `play_uri()` with the selected favourite from the list above.

There's a general purpose example that might (or might not) be helpful at: https://github.com/avantrec/soco-cli/blob/49bc7df15f1eaca2a475a

[2022-10-22 18:18] GitHubKitten opened #929 "How to "Select Music Source" to "Line-In" "Computer: Office (L)""
Hi,

I would like to set the "music source" to "Line-In" and the "Line-In" source, using SoCo.

So, I am wondering if it is possible. For example to "Select Music Source" to "Line-In" "Computer: Office (L)"?

Details of the "problem". In the Windows Sonos S1 Controller program, I often manually have to first "Select Music Source" and double-click "Line-In". Then, I also have to manually double-cli

[2022-10-22 18:34] pwt commented on #929
Yes, use: `SoCo.switch_to_line_in()`. See docs at: http://docs.python-soco.com/en/latest/api/soco.core.html.

[2022-10-22 18:35] GitHubKitten commented on #929
C:\Users\Anders>sonos SoCo.switch_to_line_in()
Error: At least 2 parameters required in action sequence '['SoCo.switch_to_line_in()']'; did you supply a speaker name?

[2022-10-22 18:40] pwt commented on #929
You need to create a SoCo object, and then call the method on it, e.g.:

[code]

[2022-11-08 19:26] aschwith opened #931 "SoCo raising exception on speaker unsubscribe"
With SoCo version 28.0.1. and before, the following exception occurs when trying to unsubscripe a SoCo event for a speaker under certain circumstances. My guess is that this exception occurs if the speaker is offline in that moment:

Traceback (most recent call last):

		  File "/usr/local/smarthome/plugins/sonos/__init__.py", line 212, in unsubscribe
		    self._event.unsubscribe()
		  File "/usr

[2022-11-13 16:06] #931 closed

[2022-11-13 16:07] pwt commented on #931
Thanks for the defect report. The referenced PR should prevent the exception.

[2022-11-13 19:10] aschwith commented on #931
Thanks for the fast fix.

[2022-11-15 08:52] tomhht opened #935 "SoCo seems not work if there are more than 24 Sonos devices in one household"
Hi,
My English is poor, any inconvenience caused is regretted.
SoCo could do nothing when there are more than 24 devices in one household. The discover feature would fail, throwing SoCoUPnPException. None is contactable (soco.discovery.contactable).
I'm not sure if I missed some answers about it. Have you ever met this?

Cheers
Tom

[2022-11-15 09:04] pwt commented on #935
I haven't seen this reported before. Could you try discovery using:
[code]
and see what that returns? Thanks.

It's possible we may need to do something specific to handle large populations of speakers; perhaps Sonos works differently for large systems.

In the meantime, if you know the IP address of a speaker, you can circumvent discovery by creating a SoCo object directly, e.g.:

[code]

[2022-11-15 09:43] amelchio commented on #935
https://github.com/SoCo/SoCo/issues/518#issuecomment-569832252

[2022-11-15 15:08] tomhht commented on #935
@pwt
Probably I have exactly the same issue as that @amelchio mentioned. `soco.discover`   `soco.discovery.scan_network` and _creating SoCo object directly_ all throw `soco.exceptions.SoCoUPnPException: UPnP Error 501 received: Action Failed from 192.168.1.5`.

Many thanks to you both.

I'm fresh meat here, so not sure if I should close this issue? Since it seems no update regarding #518 for now.

[2022-11-15 15:12] pwt commented on #935
Hi @tomhht : Thanks for checking. Leave it open for now. I'll take a look when I get a bit of time, and reconcile the two issues.

The issue I'll face is that I won't be able to test any solutions, since I don't have the required population of speakers. You may be able to help with testing.

[2022-11-16 07:51] tomhht commented on #935
@pwt
I'm glad if I could be helpful.